---
swagger: '2.0'
servers:
  - url: https://api.payping.ir
    description: Host URL
info:
  version: نسخه اول
  title: سرویس‌های پلتفرم مالی پی‌پینگ
  x-logo:
    url: 'https://raw.githubusercontent.com/Ashkan-rmk/test-redoc/7acf03754958b2cd9778771ff5e02cbc0cb8e68b/logo/logo.png'
  description: >
   مستندات سرویس‌های عمومی پلت‌فرم مالی پی‌پینگ


    لینک‌های پشتیبانی: تلگرام: [t.me/payping](t.me/payping) | ایمیل: [info@payping.ir]() | تلفن: 02175038797
    # مقدمه

    تمامی وب‌ سرویس‌های توضیح داده شده در این مستندات به صورت [RESTful](https://en.wikipedia.org/wiki/Representational_state_transfer) هستند و طبق همین چهارچوب باید با آنها ارتباط برقرار کرد.    
    جهت رفع هرگونه مشکل و یا پرسش با پشتیبانی در تماس باشید.



    # توضیحات تکمیلی برای تمام سرویس‌ها

    برای فراخوانی سرویس‌های صفحه‌بندی (pagination) اگر پارامتر ورودی ارسال نشود، حداکثر ۱۰ آیتم نمایش داده می‌شود و همچنین حداکثر تعداد دریافت آیتم به ازای هر درخواست ۵۰ عدد می‌باشد و بیشتر از آن را سرویس پشتیبانی نمی‌کند و در صورت نیاز به بارگزاری تمام آیتم‌های یک سرویس به صورت یکجا با ایمیل به بخش پشتیبانی در تماس باشید.

    # نکاتی برای آپلود فایل‌ها

    برای آپلود هرگونه فایل اعم از عکس پروفایل کاربران و یا گزارشات پرداخت‌ها و ... می‌بایست که از [سرویس بارگذاری فایل](#tag/Upload) استفاده کنید.
    
    پس از انجام عملیات آپلود توسط سرویس بارگذاری فایل، تنها کافیست نام فایل آپلود شده که در خروجی سرویس به شما برگردانده می‌شود را ذخیره نمایید.

    # جدول کدهای دریافتی از هر سرویس

    بعد از ارسال هر درخواست به سمت سرور، از سمت ما طبق قواعد وب‌سرویس‌های RESTful یک کدی به شما بازگرداننده می‌شود.
    هر کد معنایی دارد که در جدول زیر توضیحات مربوطه را می‌بینید

    |شماره کد|توضیحات|
    |-------|--------|
    |`200`| عملیات با موفقیت انجام شد |
    |`400`| مشکلی در ارسال درخواست وجود دارد |
    |`500`| مشکلی در سرور رخ داده است |
    |`503`| سرور در حال حاضر قادر به پاسخگویی نمی‌باشد |
    |`401`| عدم دسترسی|
    |`403`| دسترسی غیر مجاز |
    |`404`| آیتم درخواستی مورد نظر موجود نمی‌باشد |

    # پروتکل احراز هویت

    برای احراز هویت در سرویس‌های مختلف باید از توکن Bearer در header درخواست‌ها به صورت زیر استفاده کنید:


    |پارامتر header| محتوا |
    |--------------| ----- |
    | Authorization |‌ Bearer TOKEN|

    اگر شما یک اپلیکیشن و یا وب‌سایت شخصی دارید و قصد استفاده از سرویس‌های مالی ما را برای خود دارید می‌بایست از access token استفاده کنید که روند دریافت آن از کنسول توسعه‌دهنده در لینک زیر آمده است:

    [https://payping.ir/oauth.html](https://payping.ir/oauth.html)


    اما اگر وب‌سایت و اپلیکیشن شما قصد دسترسی به اطلاعات سایر کاربران پی‌پینگ را دارد، شما می‌بایست از سرویس OAuth ما استفاده کنید که به شما اجازه یک احراز هویت امن با استفاده از یک متد استاندارد و ساده به اپلیکیشن‌های وب، موبایل و دسکتاپ میدهد. روند اعطای دسترسی و روند کار در لینک زیر توضیح داده شده است:

    [https://payping.ir/oauth.html](https://payping.ir/oauth.html)



    جدول حوزهای دسترسی برای احراز هویت در سرویس‌ها


    |حوزه‌های دسترسی|توصیحات|
    |--------------|-------|
    | `profile` | دسترسی مرتبط با تمام اطلاعات یک کاربر | 
    | `email` | دسترسی برای ارسال ایمیل |
    | ‍‍`nationalcode` | دسترسی به مشاهده کدملی کاربر |
    | `birthday` | دسترسی به تاریخ تولد کاربر |
    | `shaba` | دسترسی به شبای بانکی کاربر |
    | `phone` | دسترسی به شماره تماس کاربر |
    | `pay:read` | دسترسی فقط خواندنی در سرویس پرداخت |
    | `pay:write` | دسترسی نوشتن و تغییرات در سرویس پرداخت |
    | `product:read` | دسترسی فقط خواندنی در سرویس آیتم‌های مالی |
    | `product:write` | دسترسی نوشتن و تغییرات در سرویس آیتم‌های مالی |
    | `invoice:read` | دسترسی فقط خواندنی در سرویس فاکتور |
    | `invoice:write` | دسترسی نوشتن و تغییرات در سرویس فاکتور |
    | `upload:write` | دسترسی مرتبط با سرویس بارگذاری فایل‌ها |

    <!-- ReDoc-Inject: <security-definitions> -->
  termsOfService: None

tags:
    - name: product
      description: سرویس‌های عمومی بخش آیتم‌های مالی، لینک ثابت و سرویس‌های مربوط به پروسه پرداخت آنها 
    - name: campaign
      description: سرویس‌های عمومی بخش کمپین‌ها‌
    - name: coupon
      description: سرویس‌های عمومی بخش کدهای تخفیف
    - name: ItemPay
      description: سرویس‌های عمومی بخش پروسه پرداخت یک آیتم‌مالی‌‌ 
    - name: Category
      description: سرویس‌های عمومی بخش دسته‌بندی‌ها 

    - name: AppManage
      description: متن تستی برای توضیح کنترلر مدیریت برنامه
    - name: File
      description: لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. 
    - name: Manage
      description: لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. 

    - name: Upload
      description: متدهای مرتبط با [آپلود فایل‌ها](#section/) ورودی تمام این سرویس‌ها به صورت formData می‌باشد.  

    - name: AddressBook
      description: لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
    - name: Invoice
      description: لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
    - name: Template
      description: لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.

    - name: Payment
      description: متدهای مرتبط با تراکنش‌های مالی که شامل پرداخت پول، پرداخت تسهیمی و تمام فرآیندهای تایید یک تراکنش می‌باشد. 
    - name: Report
      description: متدهای مرتبط با گزارش تراکنش‌های درخواست و یا پرداخت پول.
    - name: Request
      description: متدهای مرتبط با درخواست پول از دیگران به صورتیکه برای آنها یک لینک پرداخت به صورت ایمیل و یا پیامک ارسال می‌شود. 
    - name: Withdraw
      description: متدهای مرتبط با درخواست تسویه حساب.

x-tagGroups:
    - name: سرویس پرداخت
      tags:
        - Payment
        - Request
        - Withdraw
        - Report
    - name: سرویس آیتم‌های مالی
      tags:
        - product
        - campaign
        - coupon
        - permaLink
    - name: سرویس فاکتور
      tags:
        - AddressBook
        - Invoice
        - Template
    - name: سرویس آپلود فایل
      tags:
        - Upload



paths:



  "/v1/pay":
    post:
      tags:
      - Payment
      summary: ساخت پرداخت
      description: "به کمک این متد می توانید برای یک نفر کد پرداخت ایجاد کنید.\r\nفراخوانی
        این متد برای شما یک کد 4 حرفی تولید می کند.\r\nپس از ساخت یک پرداخت، برای
        ورود به درگاه بانک تنها کافیست کاربر را به همراه کد ساخته شده به آدرس https://api.payping.ir/v1/pay/gotoipg/{code}
        هدایت نمایید.\r\nپس از اتمام فرایند در درگاه بانکی، کاربر به آدرسی که در ReturnUrl
        توسط شما مشخص شده است هدایت می شود\r\nکه حاوی دو پارامتر Refid, ClientRefId
        در قسمت QueryString آدرس می باشد.\r\nRefid مقداری است که برای تایید پرداخت
        (متد Verify) باید از آن استفاده کرد و \r\nClientRefId نیز همان مقداری است
        که در هنگام ساخته شدن پرداخت جدید از شما دریافت شده است."
      operationId: V1PayPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: model
        in: body
        description: مشخصات پرداخت
        required: false
        schema:
          "$ref": "#/definitions/CreatePaymentViewModel"
      responses:
        '200':
          description: پرداخت پول جدید با موفقیت ساخته شد
          schema:
            "$ref": "#/definitions/PaymentResult"
  "/v1/pay/Multi":
    post:
      tags:
      - Payment
      summary: ساخت پرداخت تسهیمی
      description: "به کمک این متد می توانید برای یک پرداخت چند نفره (تسهیمی) کد پرداخت
        ایجاد کنید.\r\nفراخوانی این متد برای شما یک کد 4 حرفی تولید می کند.\r\nپس
        از ساخت یک پرداخت، برای ورود به درگاه بانک تنها کافیست کاربر را به همراه کد
        ساخته شده به آدرس https://api.payping.ir/v1/pay/gotoipg/{code} هدایت نمایید.\r\nپس
        از اتمام فرایند در درگاه بانکی، کاربر به آدرسی که در ReturnUrl توسط شما مشخص
        شده است هدایت می شود\r\nکه حاوی دو پارامتر Refid, ClientRefId در قسمت QueryString
        آدرس می باشد.\r\nRefid مقداری است که برای تایید پرداخت (متد Verify) باید از
        آن استفاده کرد و \r\nClientRefId نیز همان مقداری است که در هنگام ساخته شدن
        پرداخت جدید از شما دریافت شده است."
      operationId: V1PayMultiPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: model
        in: body
        description: مشخصات پرداخت
        required: false
        schema:
          "$ref": "#/definitions/CreateMultiPaymentViewModel"
      responses:
        '200':
          description: پرداخت پول جدید با موفقیت ساخته شد
          schema:
            "$ref": "#/definitions/PaymentResult"
  "/v1/pay/verify":
    post:
      tags:
      - Payment
      summary: تایید پرداخت
      description: "از این متد برای تایید پرداخت موفق پس از بازگشت از درگاه بانکی
        استفاده می شود.\r\nدر صورتی که این متد تا 10 دقیقه پس از پرداخت فراخوانی نشود
        پرداخت باطل شده و پول به حساب پرداخت کننده باز خواهد گشت"
      operationId: V1PayVerifyPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces: []
      parameters:
      - name: model
        in: body
        description: مشخصات پرداخت
        required: false
        schema:
          "$ref": "#/definitions/VerifyPaymentViewModel"
      responses:
        '200':
          description: تاییدیه آیتم مالی با موفقیت انجام شد
  "/v1/pay/{Code}":
    delete:
      tags:
      - Payment
      summary: برای لغو کردن یک کد پرداخت می توانید از این متد استفاده کنید
      operationId: V1PayByCodeDelete
      consumes: []
      produces: []
      parameters:
      - name: code
        in: path
        description: کد پرداخت
        required: true
        type: string
      responses:
        '200':
          description: عملیات لغو با موفقیت انجام شد
  "/v1/report/TransactionReport":
    post:
      tags:
      - Report
      summary: گزارش تراکنش ها
      operationId: V1ReportTransactionReportPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: model
        in: body
        description: ''
        required: false
        schema:
          "$ref": "#/definitions/TransactionReportModel"
      responses:
        '200':
          description: لیسات تراکنش ها با موفقیت ساخته شد
          schema:
            uniqueItems: false
            type: array
            items:
              "$ref": "#/definitions/TransactionReportViewModel"
  "/v1/report/TransactionReportCount":
    post:
      tags:
      - Report
      operationId: V1ReportTransactionReportCountPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: model
        in: body
        required: false
        schema:
          "$ref": "#/definitions/BaseTransactionReport"
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/ResultVM"
  "/v1/report/{code}":
    get:
      tags:
      - Report
      summary: نمایش جزئیات تراکنش
      operationId: V1ReportByCodeGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: code
        in: path
        description: مشخصات تراکنش
        required: true
        type: string
      responses:
        '200':
          description: جزئیات تراکنش با موفقیت ساخته شد
          schema:
            "$ref": "#/definitions/PaymentDetailsVM"
  "/v1/request":
    post:
      tags:
      - Request
      summary: ارسال درخواست پول
      description: از این متد برای ارسال لینک درخواست پول برای یک نفر بصورت  پیامک
        یا ایمیل استفاده می شود
      operationId: V1RequestPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: model
        in: body
        description: مشخصات درخواست پول
        required: false
        schema:
          "$ref": "#/definitions/CreateRequestViewModel"
      responses:
        '200':
          description: ساخت درخواست پول جدید با موفقیت انجام شد
          schema:
            "$ref": "#/definitions/RequestResult"
  "/v1/request/Multi":
    post:
      tags:
      - Request
      summary: ارسال درخواست پول برای چند نفر
      description: از این متد برای ارسال لینک درخواست پول برای چند نفر بصورت  پیامک
        یا ایمیل استفاده می شود
      operationId: V1RequestMultiPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: model
        in: body
        description: مشخصات درخواست گنندگان پول
        required: false
        schema:
          "$ref": "#/definitions/CreateMultiRequestViewModel"
      responses:
        '200':
          description: درخواست پول با موفقیت انجام شد
          schema:
            uniqueItems: false
            type: array
            items:
              "$ref": "#/definitions/MultiRequestViewModel"
  "/v1/request/{code}/SendReminder":
    post:
      tags:
      - Request
      summary: یادآوری مجدد درخواست پول
      description: از این متد برای ارسال مجدد پیامک یا ایمیل لینک درخواست پول استفاده
        می شود
      operationId: V1RequestByCodeSendReminderPost
      consumes: []
      produces: []
      parameters:
      - name: code
        in: path
        description: کد درخواست
        required: true
        type: string
      responses:
        '200':
          description: یادآوری با موفقیت انجام شد
  "/v1/request/{code}":
    delete:
      tags:
      - Request
      summary: لغو درخواست پول
      description: برای لغو کردن یک کد درخواست می توانید از این متد استفاده کنید
      operationId: V1RequestByCodeDelete
      consumes: []
      produces: []
      parameters:
      - name: code
        in: path
        description: کد درخواست
        required: true
        type: string
      responses:
        '200':
          description: درخواست با موفقیت کنسل شد
  "/v1/withdraw/{amount}":
    post:
      tags:
      - Withdraw
      summary: درخواست تسویه حساب
      operationId: V1WithdrawByAmountPost
      consumes: []
      produces:
      - application/json
      parameters:
      - name: amount
        in: path
        description: مبلغ تسویه حساب
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: تسویه حساب جدید با موفقیت ساخته شد
          schema:
            "$ref": "#/definitions/WithdrawResult"
  "/v1/withdraw/{Code}":
    get:
      tags:
      - Withdraw
      summary: نمایش جزئیات درخواست تسویه
      operationId: V1WithdrawByCodeGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: code
        in: path
        description: کد درخواست تسویه
        required: true
        type: string
      responses:
        '200':
          description: جزئیات تسویه با موفقیت نمایش داده شد
          schema:
            "$ref": "#/definitions/WithdrawDetailsViewModel"















  "/v1/AddressBook/List":
    get:
      tags:
      - AddressBook
      summary: لیست مشتریان
      operationId: V1AddressBookListGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: offset
        in: query
        description: شروع صفحه از شماره 1
        required: false
        type: integer
        format: int32
        default: 0
      - name: limit
        in: query
        description: 'تعداد سطر بازگشت داده ها مثال : 10'
        required: false
        type: integer
        format: int32
        default: 10
      - name: search
        in: query
        description: متن مورد نظر جهت جستجو
        required: false
        type: string
      responses:
        '200':
          description: نمایش لیست مشتریان
          schema:
            uniqueItems: false
            type: array
            items:
              "$ref": "#/definitions/AddressBookListItemViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: مشتری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/AddressBook/ListCount":
    get:
      tags:
      - AddressBook
      summary: تعداد مشتریان
      operationId: V1AddressBookListCountGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: search
        in: query
        description: متن مورد نظر جهت جستجو
        required: false
        type: string
      responses:
        '200':
          description: نمایش تعداد مشتریان
          schema:
            "$ref": "#/definitions/ListCountViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: مشتری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/AddressBook/{code}":
    get:
      tags:
      - AddressBook
      summary: مشخصات مشتری
      operationId: V1AddressBookByCodeGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: کد مشتری ارسال نمایید
        required: true
        type: string
      responses:
        '200':
          description: نمایش مشخصات مشتری
          schema:
            "$ref": "#/definitions/AddressBookDetailViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: مشتری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
    put:
      tags:
      - AddressBook
      summary: بروزرسانی مشخصات مشتری
      operationId: V1AddressBookByCodePut
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: کلید یکتا مشتری
        required: true
        type: string
      - name: value
        in: body
        description: مشخصات بروز شده مشتری
        required: false
        schema:
          "$ref": "#/definitions/AddressBookEditViewModel"
      responses:
        '200':
          description: نمایش مشخصات مشتری
          schema:
            "$ref": "#/definitions/AddressBookDetailViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: مشتری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
    delete:
      tags:
      - AddressBook
      summary: حذف مشتری
      operationId: V1AddressBookByCodeDelete
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: کلید یکتا مشتری
        required: true
        type: string
      responses:
        '200':
          description: نمایش کلید یکتای مشتری
          schema:
            type: string
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: مشتری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/AddressBook":
    post:
      tags:
      - AddressBook
      summary: مشتری جدید
      operationId: V1AddressBookPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: value
        in: body
        description: مشخصات مشتری
        required: false
        schema:
          "$ref": "#/definitions/AddressBookCreateViewModel"
      responses:
        '200':
          description: نمایش مشخصات مشتری
          schema:
            "$ref": "#/definitions/AddressBookDetailViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: مشتری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice/SumPerStatus":
    get:
      tags:
      - Invoice
      summary: گزارش جمع مبلغ فاکتور ها براساس وضعیت
      operationId: V1InvoiceSumPerStatusGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters: []
      responses:
        '200':
          description: جمع مبلغ فاکتور ها براساس وضعیت
          schema:
            "$ref": "#/definitions/InvoiceDashboardReportViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: گزارشی با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice/Schedule/{code}":
    get:
      tags:
      - Invoice
      summary: دریافت فاکتور زمانبندی شده
      operationId: V1InvoiceScheduleByCodeGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        required: true
        type: string
      responses:
        '200':
          description: فاکتور زمانبندی شده
          schema:
            "$ref": "#/definitions/ScheduleInvoiceWithChilds"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتوری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice/List":
    get:
      tags:
      - Invoice
      summary: لیست فاکتور ها
      operationId: V1InvoiceListGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: offset
        in: query
        description: ''
        required: false
        type: integer
        format: int32
        default: 0
      - name: limit
        in: query
        description: ''
        required: false
        type: integer
        format: int32
        default: 10
      - name: status
        in: query
        description: فیلتر وضعیت
        required: false
        type: integer
        format: int32
        default: 5
        enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
      - name: isArchived
        in: query
        description: فیلتر بایگانی
        required: false
        type: boolean
        default: false
      - name: searchByDueDate
        in: query
        description: فیلتر با تاریخ سررسید
        required: false
        type: boolean
        default: false
      - name: searchByCreateDate
        in: query
        description: فیلتر با تاریخ ثبت
        required: false
        type: boolean
        default: false
      - name: searchDateFrom
        in: query
        description: شروع از تاریخ
        required: false
        type: string
        format: date-time
      - name: searchDateTo
        in: query
        description: تا تاریخ
        required: false
        type: string
        format: date-time
      - name: search
        in: query
        description: متن جستجو
        required: false
        type: string
      responses:
        '200':
          description: نمایش لیست فاکتور ها
          schema:
            uniqueItems: false
            type: array
            items:
              "$ref": "#/definitions/InvoiceListItemViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتوری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice/ListCount":
    get:
      tags:
      - Invoice
      summary: تعداد فاکتور ها
      operationId: V1InvoiceListCountGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: status
        in: query
        description: فیلتر وضعیت
        required: false
        type: integer
        format: int32
        default: 5
        enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
      - name: isArchived
        in: query
        description: فیلتر بایگانی
        required: false
        type: boolean
        default: false
      - name: searchByDueDate
        in: query
        description: فیلتر با تاریخ سررسید
        required: false
        type: boolean
        default: false
      - name: searchByCreateDate
        in: query
        description: فیلتر با تاریخ ثبت
        required: false
        type: boolean
        default: false
      - name: searchDateFrom
        in: query
        description: شروع از تاریخ
        required: false
        type: string
        format: date-time
      - name: searchDateTo
        in: query
        description: تا تاریخ
        required: false
        type: string
        format: date-time
      - name: search
        in: query
        description: متن جستجو
        required: false
        type: string
      responses:
        '200':
          description: نمایش تعداد فاکتور ها
          schema:
            "$ref": "#/definitions/ListCountViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتوری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice/ListSchedule":
    get:
      tags:
      - Invoice
      summary: لیست فاکتور ها زمانبندی شده
      operationId: V1InvoiceListScheduleGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: offset
        in: query
        description: ''
        required: false
        type: integer
        format: int32
        default: 0
      - name: limit
        in: query
        description: ''
        required: false
        type: integer
        format: int32
        default: 10
      - name: status
        in: query
        description: فیلتر وضعیت
        required: false
        type: integer
        format: int32
        default: 5
        enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
      - name: isArchived
        in: query
        description: فیلتر بایگانی
        required: false
        type: boolean
        default: false
      - name: searchByDueDate
        in: query
        description: فیلتر با تاریخ سررسید
        required: false
        type: boolean
        default: false
      - name: searchByCreateDate
        in: query
        description: فیلتر با تاریخ ثبت
        required: false
        type: boolean
        default: false
      - name: searchDateFrom
        in: query
        description: شروع از تاریخ
        required: false
        type: string
        format: date-time
      - name: searchDateTo
        in: query
        description: تا تاریخ
        required: false
        type: string
        format: date-time
      - name: search
        in: query
        description: متن جستجو
        required: false
        type: string
      responses:
        '200':
          description: نمایش لیست فاکتور ها زمانبندی شده
          schema:
            uniqueItems: false
            type: array
            items:
              "$ref": "#/definitions/InvoiceListItemViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتوری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice/ListScheduleCount":
    get:
      tags:
      - Invoice
      summary: تعداد فاکتور ها زمانبندی شده
      operationId: V1InvoiceListScheduleCountGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: status
        in: query
        description: فیلتر وضعیت
        required: false
        type: integer
        format: int32
        default: 5
        enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
      - name: isArchived
        in: query
        description: فیلتر بایگانی
        required: false
        type: boolean
        default: false
      - name: searchByDueDate
        in: query
        description: فیلتر با تاریخ سررسید
        required: false
        type: boolean
        default: false
      - name: searchByCreateDate
        in: query
        description: فیلتر با تاریخ ثبت
        required: false
        type: boolean
        default: false
      - name: searchDateFrom
        in: query
        description: شروع از تاریخ
        required: false
        type: string
        format: date-time
      - name: searchDateTo
        in: query
        description: تا تاریخ
        required: false
        type: string
        format: date-time
      - name: search
        in: query
        description: متن جستجو
        required: false
        type: string
      responses:
        '200':
          description: نمایش تعداد فاکتور ها زمانبندی شده
          schema:
            "$ref": "#/definitions/ListCountViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتوری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice/{code}":
    get:
      tags:
      - Invoice
      summary: دریافت فاکتور
      operationId: V1InvoiceByCodeGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: کلید یکتای فاکتور
        required: true
        type: string
      responses:
        '200':
          description: نمایش فاکتور
          schema:
            "$ref": "#/definitions/InvoiceDetailViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتوری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
    put:
      tags:
      - Invoice
      summary: بروزرسانی فاکتور
      operationId: V1InvoiceByCodePut
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: کلید یکتای فاکتور
        required: true
        type: string
      - name: value
        in: body
        description: فاکتور بروز شده
        required: false
        schema:
          "$ref": "#/definitions/InvoiceEditViewModel"
      responses:
        '200':
          description: نمایش فاکتور
          schema:
            "$ref": "#/definitions/InvoiceDetailViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتور یا داده های وابسته به فاکتور با داده های ورودی درخواست
            شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
    delete:
      tags:
      - Invoice
      summary: حذف فاکتور
      operationId: V1InvoiceByCodeDelete
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: کلید یکتای فاکتور
        required: true
        type: string
      responses:
        '200':
          description: نمایش کلید یکتای فاکتور
          schema:
            type: string
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتوری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice/SendByTemplate":
    post:
      tags:
      - Invoice
      summary: ارسال فاکتور جدید با استفاده از قالب
      operationId: V1InvoiceSendByTemplatePost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: value
        in: body
        description: مشخصات فاکتور
        required: false
        schema:
          "$ref": "#/definitions/InvoiceSendByTemplate"
      responses:
        '200':
          description: نمایش فاکتور
          schema:
            "$ref": "#/definitions/InvoiceDetailViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتور یا داده های وابسته به فاکتور با داده های ورودی درخواست
            شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice":
    post:
      tags:
      - Invoice
      summary: فاکتور جدید
      operationId: V1InvoicePost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: value
        in: body
        description: مشخصات فاکتور
        required: false
        schema:
          "$ref": "#/definitions/InvoiceCreateViewModel"
      responses:
        '200':
          description: نمایش فاکتور
          schema:
            "$ref": "#/definitions/InvoiceDetailViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتور یا داده های وابسته به فاکتور با داده های ورودی درخواست
            شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice/Schedule":
    post:
      tags:
      - Invoice
      summary: فاکتور زمانبندی شده جدید
      operationId: V1InvoiceSchedulePost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: value
        in: body
        description: مشخصات فاکتور زمانبندی شده
        required: false
        schema:
          "$ref": "#/definitions/InvoiceCreateScheduleViewModel"
      responses:
        '200':
          description: نمایش فاکتور زمانبندی شده
          schema:
            "$ref": "#/definitions/InvoiceDetailViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتور یا داده های وابسته به فاکتور با داده های ورودی درخواست
            شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice/DeleteSchedule/{code}":
    delete:
      tags:
      - Invoice
      summary: حذف فاکتور زمانبندی شده
      operationId: V1InvoiceDeleteScheduleByCodeDelete
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: کلید یکتای فاکتور زمانبندی شده
        required: true
        type: string
      responses:
        '200':
          description: نمایش کلید یکتای فاکتور زمانبندی شده
          schema:
            type: string
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتوری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice/Pdf/{code}":
    get:
      tags:
      - Invoice
      summary: درخواست فاکتور غیر رسمی
      operationId: V1InvoicePdfByCodeGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: کلید یکتای فاکتور
        required: true
        type: string
      responses:
        '200':
          description: نمایش مشخصات فایل فاکتور غیر رسمی
          schema:
            "$ref": "#/definitions/InvoicePdfResponseViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتوری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice/Cancel":
    post:
      tags:
      - Invoice
      summary: درخواست لغو فاکتور
      operationId: V1InvoiceCancelPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: value
        in: body
        description: ''
        required: false
        schema:
          "$ref": "#/definitions/InvoiceCancelRequest"
      responses:
        '200':
          description: نمایش فاکتور
          schema:
            "$ref": "#/definitions/InvoiceCancelResponse"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتوری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice/Reminder/{code}":
    post:
      tags:
      - Invoice
      summary: ارسال یادآوری فاکتور
      operationId: V1InvoiceReminderByCodePost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: کلید یکتای فاکتور
        required: true
        type: string
      responses:
        '200':
          description: نمایش وضعیت ارسال یادآوری فاکتور
          schema:
            "$ref": "#/definitions/InvoiceSendReminderResponseViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتوری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice/Send/{code}":
    post:
      tags:
      - Invoice
      summary: ارسال فاکتور
      operationId: V1InvoiceSendByCodePost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: کلید یکتای فاکتور
        required: true
        type: string
      responses:
        '200':
          description: نمایش وضعیت ارسال فاکتور
          schema:
            "$ref": "#/definitions/InvoiceSendInvoiceResponseViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتوری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Template/List":
    get:
      tags:
      - Template
      summary: لیست قالب ها
      operationId: V1TemplateListGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: offset
        in: query
        description: شروع صفحه از شماره 1
        required: false
        type: integer
        format: int32
        default: 0
      - name: limit
        in: query
        description: 'تعداد سطر بازگشت داده ها مثال : 10'
        required: false
        type: integer
        format: int32
        default: 10
      - name: search
        in: query
        description: متن مورد نظر جهت جستجو
        required: false
        type: string
      responses:
        '200':
          description: نمایش قالب ها
          schema:
            uniqueItems: false
            type: array
            items:
              "$ref": "#/definitions/InvoiceTemplateListItemViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: قالبی با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Template/ListCount":
    get:
      tags:
      - Template
      summary: تعداد قالب ها
      operationId: V1TemplateListCountGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: search
        in: query
        description: متن مورد نظر جهت جستجو
        required: false
        type: string
      responses:
        '200':
          description: نمایش تعداد قالب ها
          schema:
            "$ref": "#/definitions/ListCountViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: قالبی با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Template/ListSchedule":
    get:
      tags:
      - Template
      summary: لیست قالب های زمانبندی
      operationId: V1TemplateListScheduleGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: offset
        in: query
        description: شروع صفحه از شماره 1
        required: false
        type: integer
        format: int32
        default: 0
      - name: limit
        in: query
        description: 'تعداد سطر بازگشت داده ها مثال : 10'
        required: false
        type: integer
        format: int32
        default: 10
      - name: search
        in: query
        description: متن مورد نظر جهت جستجو
        required: false
        type: string
      responses:
        '200':
          description: نمایش قالب ها
          schema:
            uniqueItems: false
            type: array
            items:
              "$ref": "#/definitions/InvoiceTemplateListItemViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: قالبی با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Template/ListScheduleCount":
    get:
      tags:
      - Template
      summary: تعداد قالب های زمانبندی
      operationId: V1TemplateListScheduleCountGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: search
        in: query
        description: متن مورد نظر جهت جستجو
        required: false
        type: string
      responses:
        '200':
          description: نمایش تعداد قالب ها
          schema:
            "$ref": "#/definitions/ListCountViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: قالبی با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Template/ListNonSchedule":
    get:
      tags:
      - Template
      summary: لیست قالب های غیر زمانبندی
      operationId: V1TemplateListNonScheduleGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: offset
        in: query
        description: شروع صفحه از شماره 1
        required: false
        type: integer
        format: int32
        default: 0
      - name: limit
        in: query
        description: 'تعداد سطر بازگشت داده ها مثال : 10'
        required: false
        type: integer
        format: int32
        default: 10
      - name: search
        in: query
        description: متن مورد نظر جهت جستجو
        required: false
        type: string
      responses:
        '200':
          description: نمایش قالب ها
          schema:
            uniqueItems: false
            type: array
            items:
              "$ref": "#/definitions/InvoiceTemplateListItemViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: قالبی با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Template/ListNonScheduleCount":
    get:
      tags:
      - Template
      summary: تعداد قالب های غیر زمانبندی
      operationId: V1TemplateListNonScheduleCountGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: search
        in: query
        description: متن مورد نظر جهت جستجو
        required: false
        type: string
      responses:
        '200':
          description: نمایش تعداد قالب ها
          schema:
            "$ref": "#/definitions/ListCountViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: قالبی با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Template/{code}":
    get:
      tags:
      - Template
      summary: دریافت قالب
      operationId: V1TemplateByCodeGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: کلید یکتای قالب
        required: true
        type: string
      responses:
        '200':
          description: نمایش قالب
          schema:
            "$ref": "#/definitions/InvoiceTemplateDetailViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: قالبی با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
    put:
      tags:
      - Template
      summary: بروزرسانی قالب
      operationId: V1TemplateByCodePut
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: کلید یکتای قالب
        required: true
        type: string
      - name: value
        in: body
        description: قالب بروز شده
        required: false
        schema:
          "$ref": "#/definitions/InvoiceTemplateEditViewModel"
      responses:
        '200':
          description: نمایش قالب
          schema:
            "$ref": "#/definitions/InvoiceTemplateDetailViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: قالب یا داده های وابسته به قالب با داده های ورودی درخواست شما
            پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
    delete:
      tags:
      - Template
      summary: حذف قالب
      operationId: V1TemplateByCodeDelete
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: کلید یکتای قالب
        required: true
        type: string
      responses:
        '200':
          description: نمایش کلید یکتای قالب
          schema:
            type: string
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: قالبی با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Template":
    post:
      tags:
      - Template
      summary: قالب جدید
      operationId: V1TemplatePost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: value
        in: body
        description: مشخصات قالب
        required: false
        schema:
          "$ref": "#/definitions/InvoiceTemplateCreateViewModel"
      responses:
        '200':
          description: نمایش قالب
          schema:
            "$ref": "#/definitions/InvoiceTemplateDetailViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: اطلاعات وابسته نسبت به ثبت قالب جدید با داده های ورودی درخواست
            شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است






















  "/v1/Services/RemoveService":
    delete:
      tags:
      - Services
      summary: حذف یک سرویس
      operationId: V1ServicesRemoveServiceDelete
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: model
        in: body
        description: مشخصات سرویس
        required: false
        schema:
          "$ref": "#/definitions/ServiceViewModel"
      responses:
        '200':
          description: درخواست با موفقیت انجام شد
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Services/AddOrUpdate":
    put:
      tags:
      - Services
      summary: بروزرسانی یا اتصال یک سرویس
      operationId: V1ServicesAddOrUpdatePut
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: model
        in: body
        description: مشخصات سرویس
        required: false
        schema:
          type: object
      responses:
        '200':
          description: درخواست با موفقیت انجام شد
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Services/CheckExist":
    post:
      tags:
      - Services
      summary: برسی وجود یک سرویس
      operationId: V1ServicesCheckExistPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: model
        in: body
        description: مشخصات سرویس
        required: false
        schema:
          "$ref": "#/definitions/ServiceViewModel"
      responses:
        '200':
          description: درخواست با موفقیت انجام شد
          schema:
            type: boolean
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Services/GetAllUserServices":
    get:
      tags:
      - Services
      summary: گرفتن تمام سرویس های کاربر
      operationId: V1ServicesGetAllUserServicesGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: userId
        in: query
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: درخواست با موفقیت انجام شد
          schema:
            type: array
            items:
              "$ref": "#/definitions/BaseIntegration"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Services/GetUserService":
    get:
      tags:
      - Services
      summary: گرفتن یک سرویس  کاربر
      operationId: V1ServicesGetUserServiceGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: userId
        in: query
        required: true
        type: integer
        format: int32
      - name: serviceType
        in: query
        required: true
        type: integer
        format: int32
        enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
        - 8
        - 9
        - 10
        - 11
      responses:
        '200':
          description: درخواست با موفقیت انجام شد
          schema:
            "$ref": "#/definitions/BaseIntegration"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: مشکلی در سرور رخ داده است


  "/v1/AppManage/GetProfile":
    get:
      tags:
      - AppManage
      operationId: V1AppManageGetProfileGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/AppManage/LatestApp":
    get:
      tags:
      - AppManage
      operationId: V1AppManageLatestAppGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/AppManage/RegisterUser":
    post:
      tags:
      - AppManage
      operationId: V1AppManageRegisterUserPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: model
        in: body
        required: false
        schema:
          "$ref": "#/definitions/RegisterWithClient"
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/AppManage/Register":
    post:
      tags:
      - AppManage
      operationId: V1AppManageRegisterPost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: Username
        in: query
        required: false
        type: string
      - name: Email
        in: query
        required: false
        type: string
      - name: Password
        in: query
        required: false
        type: string
      - name: BusinessName
        in: query
        required: false
        type: string
      - name: IsBusiness
        in: query
        required: true
        type: boolean
      - name: PhoneNumber
        in: query
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/AppManage/ForgotPassword":
    post:
      tags:
      - AppManage
      operationId: V1AppManageForgotPasswordPost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: Email
        in: query
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/AppManage/AddPhone":
    post:
      tags:
      - AppManage
      operationId: V1AppManageAddPhonePost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: phone
        in: query
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/AppManage/PersonalInfo":
    get:
      tags:
      - AppManage
      operationId: V1AppManagePersonalInfoGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
    post:
      tags:
      - AppManage
      operationId: V1AppManagePersonalInfoPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: model
        in: body
        required: false
        schema:
          "$ref": "#/definitions/PersonalInfoViewModel"
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/AppManage/FindContacts":
    post:
      tags:
      - AppManage
      operationId: V1AppManageFindContactsPost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: model
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/AppManage/EmailExist":
    get:
      tags:
      - AppManage
      operationId: V1AppManageEmailExistGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: email
        in: query
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/AppManage/PhoneExist":
    get:
      tags:
      - AppManage
      operationId: V1AppManagePhoneExistGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: phonenumber
        in: query
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/AppManage/UsernameExist":
    get:
      tags:
      - AppManage
      operationId: V1AppManageUsernameExistGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: username
        in: query
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/AppManage/SendVerificationCode":
    get:
      tags:
      - AppManage
      operationId: V1AppManageSendVerificationCodeGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: phonenumber
        in: query
        required: false
        type: string
      - name: type
        in: query
        required: true
        type: integer
        format: int32
        enum:
        - 0
        - 1
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/AppManage/ConnectPushNotify":
    post:
      tags:
      - AppManage
      operationId: V1AppManageConnectPushNotifyPost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: DeviceId
        in: query
        required: false
        type: string
      - name: Token
        in: query
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/AppManage/VerifyPhone":
    post:
      tags:
      - AppManage
      operationId: V1AppManageVerifyPhonePost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: phone
        in: query
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/AppManage/GetClientUserProfile":
    get:
      tags:
      - AppManage
      operationId: V1AppManageGetClientUserProfileGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: username
        in: query
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/File/UploadFile":
    post:
      tags:
      - File
      operationId: V1FileUploadFilePost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: type
        in: query
        required: true
        type: integer
        format: int32
        enum:
        - 0
        - 1
        - 2
        - 3
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/File/Download/{servername}":
    get:
      tags:
      - File
      operationId: V1FileDownloadByServernameGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: servername
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/GetCategorystest":
    get:
      tags:
      - Manage
      operationId: V1ManageGetCategorystestGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/GetCategorys":
    get:
      tags:
      - Manage
      operationId: V1ManageGetCategorysGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/GetSubCategorys":
    get:
      tags:
      - Manage
      operationId: V1ManageGetSubCategorysGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: categoryid
        in: query
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/GetUserDetail":
    get:
      tags:
      - Manage
      operationId: V1ManageGetUserDetailGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/UpdateUserBusinessCategory":
    post:
      tags:
      - Manage
      operationId: V1ManageUpdateUserBusinessCategoryPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: model
        in: body
        required: false
        schema:
          "$ref": "#/definitions/UpdateUserCategoryVm"
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/AddBusinessinfo":
    post:
      tags:
      - Manage
      operationId: V1ManageAddBusinessinfoPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: model
        in: body
        required: false
        schema:
          "$ref": "#/definitions/AddBusinessinfoVm"
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/AddPersonalinfo":
    post:
      tags:
      - Manage
      operationId: V1ManageAddPersonalinfoPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: model
        in: body
        required: false
        schema:
          "$ref": "#/definitions/AddPersonalinfoVm"
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/UpdatePersonalinfo":
    put:
      tags:
      - Manage
      operationId: V1ManageUpdatePersonalinfoPut
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: model
        in: body
        required: false
        schema:
          "$ref": "#/definitions/UpdatePersonalinfoVm"
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/AddBankinfo":
    post:
      tags:
      - Manage
      operationId: V1ManageAddBankinfoPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: model
        in: body
        required: false
        schema:
          "$ref": "#/definitions/BankViewModel"
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/GetBankinfo":
    get:
      tags:
      - Manage
      operationId: V1ManageGetBankinfoGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/AddPhoneNumber":
    post:
      tags:
      - Manage
      operationId: V1ManageAddPhoneNumberPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: model
        in: body
        required: false
        schema:
          "$ref": "#/definitions/AddPhoneNumberViewModel"
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/GetPhoneNumber":
    get:
      tags:
      - Manage
      operationId: V1ManageGetPhoneNumberGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/AddLocalPhoneNumer":
    post:
      tags:
      - Manage
      operationId: V1ManageAddLocalPhoneNumerPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: model
        in: body
        required: false
        schema:
          "$ref": "#/definitions/AddLocalPhoneNumberViewModel"
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/GetLocalPhoneNumber":
    get:
      tags:
      - Manage
      operationId: V1ManageGetLocalPhoneNumberGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/AddLocalInformations":
    post:
      tags:
      - Manage
      operationId: V1ManageAddLocalInformationsPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: model
        in: body
        required: false
        schema:
          "$ref": "#/definitions/EditLocalInfoesViewModel"
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/GetLocalInformations":
    get:
      tags:
      - Manage
      operationId: V1ManageGetLocalInformationsGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/GetSocials":
    get:
      tags:
      - Manage
      operationId: V1ManageGetSocialsGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/UpdateSocials":
    post:
      tags:
      - Manage
      operationId: V1ManageUpdateSocialsPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: model
        in: body
        required: false
        schema:
          "$ref": "#/definitions/SocialUserExtraViewModel"
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/ChangePasswordAsync":
    post:
      tags:
      - Manage
      operationId: V1ManageChangePasswordAsyncPost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: userId
        in: query
        required: true
        type: integer
        format: int32
      - name: currentPassword
        in: query
        required: false
        type: string
      - name: newPassword
        in: query
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/UpdateActivity":
    post:
      tags:
      - Manage
      operationId: V1ManageUpdateActivityPost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: activityDescription
        in: query
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/GetUserBank":
    get:
      tags:
      - Manage
      operationId: V1ManageGetUserBankGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/VerifyLocalPhoneNumber":
    post:
      tags:
      - Manage
      operationId: V1ManageVerifyLocalPhoneNumberPost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: Code
        in: query
        required: false
        type: string
      - name: PhoneNumber
        in: query
        required: false
        type: string
      - name: UserId
        in: query
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/SendVoiceCode":
    post:
      tags:
      - Manage
      operationId: V1ManageSendVoiceCodePost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: phone
        in: query
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/VerifyPhoneNumber":
    post:
      tags:
      - Manage
      operationId: V1ManageVerifyPhoneNumberPost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: Code
        in: query
        required: false
        type: string
      - name: PhoneNumber
        in: query
        required: false
        type: string
      - name: UserId
        in: query
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/SaveUserPics":
    post:
      tags:
      - Manage
      operationId: V1ManageSaveUserPicsPost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: txtUploadFile
        in: query
        required: false
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/Invite":
    post:
      tags:
      - Manage
      operationId: V1ManageInvitePost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: query
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/GetCustomizeGateway":
    get:
      tags:
      - Manage
      operationId: V1ManageGetCustomizeGatewayGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/UpdateCustomizeGateway":
    post:
      tags:
      - Manage
      operationId: V1ManageUpdateCustomizeGatewayPost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: Logo
        in: query
        required: false
      - name: BgImage
        in: query
        required: false
      - name: PriceColor
        in: query
        required: false
        type: string
      - name: BgColor
        in: query
        required: false
        type: string
      - name: Repeat
        in: query
        required: true
        type: boolean
      - name: Stretch
        in: query
        required: true
        type: boolean
      - name: DeleteBgImage
        in: query
        required: true
        type: boolean
      - name: HasBackImage
        in: query
        required: true
        type: boolean
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/CheckConnectUserCode":
    post:
      tags:
      - Manage
      operationId: V1ManageCheckConnectUserCodePost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: Code
        in: query
        required: false
        type: string
      - name: UserName
        in: query
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/GetProfileStatus":
    get:
      tags:
      - Manage
      operationId: V1ManageGetProfileStatusGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/UpgradeToBusiness":
    post:
      tags:
      - Manage
      operationId: V1ManageUpgradeToBusinessPost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: businessName
        in: query
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/GetUsersYouInvitedCount":
    get:
      tags:
      - Manage
      operationId: V1ManageGetUsersYouInvitedCountGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: userid
        in: query
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/NationalCodeTrue":
    post:
      tags:
      - Manage
      operationId: V1ManageNationalCodeTruePost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: nationalCode
        in: query
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/MobileTrue":
    post:
      tags:
      - Manage
      operationId: V1ManageMobileTruePost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: number
        in: query
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/PhoneTrue":
    post:
      tags:
      - Manage
      operationId: V1ManagePhoneTruePost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: localPhone
        in: query
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/PostalCodeTrue":
    post:
      tags:
      - Manage
      operationId: V1ManagePostalCodeTruePost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: postalCode
        in: query
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/ShetabTrue":
    post:
      tags:
      - Manage
      operationId: V1ManageShetabTruePost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: CardNumber
        in: query
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error
  "/v1/Manage/ShebaTrue":
    post:
      tags:
      - Manage
      operationId: V1ManageShebaTruePost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: shaba
        in: query
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/IdentityResult"
        '400':
          description: Bad Request
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Server Error



  "/v1/campaign":
    post:
      tags:
      - campaign
      summary: ساخت یک کمپین جدید
      operationId: V1CampaignPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: model
        in: body
        description: مشخصات کمپین
        required: false
        schema:
          "$ref": "#/definitions/CampaignCreateViewModel"
      responses:
        '200':
          description: کمپین با موفقیت ساخته شد
          schema:
            "$ref": "#/definitions/CodeVM"
    put:
      tags:
      - campaign
      summary: بروزرسانی کمپین
      operationId: V1CampaignPut
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces: []
      parameters:
      - name: model
        in: body
        description: مشخصات کمپین
        required: false
        schema:
          "$ref": "#/definitions/CampaignEditViewModel"
      responses:
        '200':
          description: کمپین با موفقیت بروزرسانی شد
        '404':
          description: کمپینی با این کد وجود ندارد
  "/v1/campaign/{code}":
    get:
      tags:
      - campaign
      summary: نمایش یک کمپین
      operationId: V1CampaignByCodeGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: code
        in: path
        description: کد کمپین
        required: true
        type: string
      responses:
        '200':
          description: کمپین با موفقیت نمایش داده شد
          schema:
[...]
