swagger: '2.0'
host: api.payping.ir
basePath: /
info:
    version: '1.0.0'
    title: 'سرویس‌های پلتفرم مالی پی‌پینگ'
    x-logo:
        url: 'https://raw.githubusercontent.com/Ashkan-rmk/test-redoc/7acf03754958b2cd9778771ff5e02cbc0cb8e68b/logo/logo.png'
    description: "مستندات سرویس‌های عمومی پلت‌فرم مالی پی‌پینگ\n\n لینک‌های پشتیبانی: تلگرام: [t.me/payping](t.me/payping) | ایمیل: [info@payping.ir]() | تلفن: 02175038797\n # مقدمه\n\n تمامی وب‌ سرویس‌های توضیح داده شده در این مستندات به صورت [RESTful](https://en.wikipedia.org/wiki/Representational_state_transfer) هستند و طبق همین چهارچوب باید با آنها ارتباط برقرار کرد.    \n جهت رفع هرگونه مشکل و یا پرسش با پشتیبانی در تماس باشید.\n\n # POSTMAN\n برای راحتی کار شما فایل postman سرویس ها برای شما آماده شده است که می توانید از لینک زیر آن را دانلود کنید و با استفاده از اپلیکیشن دسکتاپ [postman](https://www.getpostman.com) از آن استفاده کنید\n \n [دانلود قالب postman](https://os.payping.ir/files/PayPing API - v1.postman_collection.json)\n\n # توضیحات تکمیلی برای تمام سرویس‌ها\n\n برای فراخوانی سرویس‌های صفحه‌بندی (pagination) اگر پارامتر ورودی ارسال نشود، حداکثر ۱۰ آیتم نمایش داده می‌شود و همچنین حداکثر تعداد دریافت آیتم به ازای هر درخواست ۵۰ عدد می‌باشد و بیشتر از آن را سرویس پشتیبانی نمی‌کند و در صورت نیاز به بارگزاری تمام آیتم‌های یک سرویس به صورت یکجا با ایمیل به بخش پشتیبانی در تماس باشید. همینطور توجه داشته باشین واحد پول در تمام سرویس‌ها تومان می‌باشد و منطقه زمانی تمامی‌ تاریخ و ساعت‌ها برابر با ساعت جهانی یا UTC می‌باشد.\n\n # نکاتی برای آپلود فایل‌ها\n\n برای آپلود هرگونه فایل اعم از عکس پروفایل کاربران و یا گزارشات پرداخت‌ها و ... می‌بایست که از [سرویس بارگذاری فایل](#tag/Upload) استفاده کنید.\n \n پس از انجام عملیات آپلود توسط سرویس بارگذاری فایل، تنها کافیست نام فایل آپلود شده که در خروجی سرویس به شما برگردانده می‌شود را ذخیره نمایید.\n\n # جدول کدهای دریافتی از هر سرویس\n\n بعد از ارسال هر درخواست به سمت سرور، از سمت ما طبق قواعد وب‌سرویس‌های RESTful یک کدی به شما بازگرداننده می‌شود.\n هر کد معنایی دارد که در جدول زیر توضیحات مربوطه را می‌بینید\n\n |شماره کد|توضیحات|\n |-------|--------|\n |`200`| عملیات با موفقیت انجام شد |\n |`400`| مشکلی در ارسال درخواست وجود دارد |\n |`500`| مشکلی در سرور رخ داده است |\n |`503`| سرور در حال حاضر قادر به پاسخگویی نمی‌باشد |\n |`401`| عدم دسترسی|\n |`403`| دسترسی غیر مجاز |\n |`404`| آیتم درخواستی مورد نظر موجود نمی‌باشد |\n\n # پروتکل احراز هویت\n\n برای احراز هویت در سرویس‌های مختلف باید از توکن Bearer در header درخواست‌ها به صورت زیر استفاده کنید:\n\n\n |پارامتر header| محتوا |\n |--------------| ----- |\n | Authorization |‌ Bearer TOKEN|\n\n اگر شما یک اپلیکیشن و یا وب‌سایت شخصی دارید و قصد استفاده از سرویس‌های مالی ما را برای خود دارید می‌بایست از access token استفاده کنید که روند دریافت آن از کنسول توسعه‌دهنده در لینک زیر آمده است:\n\n [https://www.payping.ir/oauth.html](https://www.payping.ir/oauth.html#accesstoken)\n\n\n اما اگر وب‌سایت و اپلیکیشن شما قصد دسترسی به اطلاعات سایر کاربران پی‌پینگ را دارد، شما می‌بایست از سرویس OAuth ما استفاده کنید که به شما اجازه یک احراز هویت امن با استفاده از یک متد استاندارد و ساده به اپلیکیشن‌های وب، موبایل و دسکتاپ میدهد. روند اعطای دسترسی و روند کار در لینک زیر توضیح داده شده است:\n\n [https://www.payping.ir/oauth.html](https://www.payping.ir/oauth.html#application)\n\n\n\n جدول حوزهای دسترسی برای احراز هویت در سرویس‌ها\n\n\n |حوزه‌های دسترسی (Scopes)|توصیحات|\n |--------------|-------|\n | `profile` | دسترسی مرتبط با تمام اطلاعات یک کاربر | \n | `email` | دسترسی به مشاهده ایمیل |\n | ‍‍`nationalcode` | دسترسی به مشاهده کدملی کاربر |\n | `birthday` | دسترسی به مشاهده تاریخ تولد کاربر |\n | `shaba` | دسترسی به مشاهده شبای بانکی کاربر |\n | `phone` | دسترسی به مشاهده شماره تماس کاربر |\n | `pay:read` | دسترسی فقط خواندنی در سرویس پرداخت |\n | `pay:write` | دسترسی نوشتن و تغییرات در سرویس پرداخت |\n | `product:read` | دسترسی فقط خواندنی در سرویس آیتم‌های مالی |\n | `product:write` | دسترسی نوشتن و تغییرات در سرویس آیتم‌های مالی |\n | `invoice:read` | دسترسی فقط خواندنی در سرویس فاکتور |\n | `invoice:write` | دسترسی نوشتن و تغییرات در سرویس فاکتور |\n | `upload:write` | دسترسی مرتبط با سرویس بارگذاری فایل‌ها |\n"
    termsOfService: None
tags:
    -
        name: product
        description: 'سرویس‌های عمومی بخش آیتم‌های مالی، لینک ثابت و سرویس‌های مربوط به پروسه پرداخت آنها'
    -
        name: campaign
        description: 'سرویس‌های عمومی بخش کمپین‌ها‌'
    -
        name: coupon
        description: 'سرویس‌های عمومی بخش کدهای تخفیف'
    -
        name: ItemPay
        description: 'سرویس‌های عمومی بخش پروسه پرداخت یک آیتم‌مالی‌‌'
    -
        name: Category
        description: 'سرویس‌های عمومی بخش دسته‌بندی‌ها'
    -
        name: AppManage
        description: 'متن تستی برای توضیح کنترلر مدیریت برنامه'
    -
        name: File
        description: 'لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.'
    -
        name: Manage
        description: 'لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.'
    -
        name: Upload
        description: 'متدهای مرتبط با [آپلود فایل‌ها](#section/) ورودی تمام این سرویس‌ها به صورت formData می‌باشد.'
    -
        name: AddressBook
        description: 'در این بخش میتوانید مشتریان خود را به صورت یک دفترچه سنتی مدیریت و در زمان صدور فاکتور از این لیست استفاده کنید.'
    -
        name: Invoice
        description: 'در این بخش میتوانید فاکتور های ساده و زمانبندی شده بسازید و با انتخاب یک یا چند مشتری و حتی پست الکترونیک برای آنها فاکتور را ارسال کنید تا نسبت به پرداخت آن اقدام کنند.'
    -
        name: Template
        description: 'در این بخش میتوانید قالب های آماده ای از فاکتور بسازید و در زمان ساخت فاکتور دیگر نیازی به تکمیل همه ی گزینه های فاکتور ندارید و فقط با انتخاب قالب فاکتور سریعتر فاکتور بسازید.'
    -
        name: Payment
        description: 'متدهای مرتبط با تراکنش‌های مالی که شامل پرداخت پول، پرداخت تسهیمی و تمام فرآیندهای تایید یک تراکنش می‌باشد.'
    -
        name: Report
        description: 'متدهای مرتبط با گزارش تراکنش‌های درخواست و یا پرداخت پول.'
    -
        name: Request
        description: 'متدهای مرتبط با درخواست پول از دیگران به صورتیکه برای آنها یک لینک پرداخت به صورت ایمیل و یا پیامک ارسال می‌شود.'
    -
        name: Withdraw
        description: 'متدهای مرتبط با درخواست تسویه حساب.'
x-tagGroups:
    -
        name: 'سرویس پرداخت'
        tags:
            - Payment
            - Request
            - Withdraw
            - Report
    -
        name: 'سرویس آیتم‌های مالی'
        tags:
            - product
            - permaLink
            - coupon
    -
        name: 'سرویس فاکتور'
        tags:
            - AddressBook
            - Invoice
            - Template
    -
        name: 'سرویس آپلود فایل'
        tags:
            - Upload
paths:
    /v1/pay:
        post:
            tags: [Payment]
            summary: 'ساخت پرداخت'
            description: "به کمک این متد می توانید برای یک نفر کد پرداخت ایجاد کنید.\r\nفراخوانی این متد برای شما یک کد 4 حرفی تولید می کند.\r\nپس از ساخت یک پرداخت، برای ورود به درگاه بانک تنها کافیست کاربر را به همراه کد ساخته شده به آدرس https://api.payping.ir/v1/pay/gotoipg/{code} هدایت نمایید.\r\nپس از اتمام فرایند در درگاه بانکی، کاربر به آدرسی که در ReturnUrl توسط شما مشخص شده است هدایت می شود\r\nکه حاوی دو پارامتر Refid, ClientRefId در قسمت QueryString آدرس می باشد.\r\nRefid مقداری است که برای تایید پرداخت (متد Verify) باید از آن استفاده کرد و \r\nClientRefId نیز همان مقداری است که در هنگام ساخته شدن پرداخت جدید از شما دریافت شده است."
            operationId: V1PayPost
            consumes: [application/json]
            produces: [application/json]
            parameters: [{name: model, in: body, description: 'مشخصات پرداخت', required: false, schema: {$ref: '#/definitions/CreatePaymentViewModel'}}]
            responses: {'200': {description: 'پرداخت پول جدید با موفقیت ساخته شد', schema: {$ref: '#/definitions/PaymentResult'}}}
    /v1/pay/Multi:
        post:
            tags: [Payment]
            summary: 'ساخت پرداخت تسهیمی'
            description: "به کمک این متد می توانید برای یک پرداخت چند نفره (تسهیمی) کد پرداخت ایجاد کنید.\r\nفراخوانی این متد برای شما یک کد 4 حرفی تولید می کند.\r\nپس از ساخت یک پرداخت، برای ورود به درگاه بانک تنها کافیست کاربر را به همراه کد ساخته شده به آدرس https://api.payping.ir/v1/pay/gotoipg/{code} هدایت نمایید.\r\nپس از اتمام فرایند در درگاه بانکی، کاربر به آدرسی که در ReturnUrl توسط شما مشخص شده است هدایت می شود\r\nکه حاوی دو پارامتر Refid, ClientRefId در قسمت QueryString آدرس می باشد.\r\nRefid مقداری است که برای تایید پرداخت (متد Verify) باید از آن استفاده کرد و \r\nClientRefId نیز همان مقداری است که در هنگام ساخته شدن پرداخت جدید از شما دریافت شده است."
            operationId: V1PayMultiPost
            consumes: [application/json]
            produces: [application/json]
            parameters: [{name: model, in: body, description: 'مشخصات پرداخت', required: false, schema: {$ref: '#/definitions/CreateMultiPaymentViewModel'}}]
            responses: {'200': {description: 'پرداخت پول جدید با موفقیت ساخته شد', schema: {$ref: '#/definitions/PaymentResult'}}}
    /v1/pay/verify:
        post:
            tags: [Payment]
            summary: 'تایید پرداخت'
            description: "از این متد برای تایید پرداخت موفق پس از بازگشت از درگاه بانکی استفاده می شود.\r\nدر صورتی که این متد تا 10 دقیقه پس از پرداخت فراخوانی نشود پرداخت باطل شده و پول به حساب پرداخت کننده باز خواهد گشت"
            operationId: V1PayVerifyPost
            consumes: [application/json]
            produces: []
            parameters: [{name: model, in: body, description: 'مشخصات پرداخت', required: false, schema: {$ref: '#/definitions/VerifyPaymentViewModel'}}]
            responses: {'200': {description: 'تاییدیه آیتم مالی با موفقیت انجام شد'}}
    '/v1/pay/{code}':
        delete:
            tags: [Payment]
            summary: 'برای لغو کردن یک کد پرداخت می توانید از این متد استفاده کنید'
            operationId: V1PayByCodeDelete
            consumes: []
            produces: []
            parameters: [{name: code, in: path, description: 'کد پرداخت', required: true, type: string}]
            responses: {'200': {description: 'عملیات لغو با موفقیت انجام شد'}}
    /v1/report/TransactionReport:
        post:
            tags: [Report]
            summary: 'گزارش تراکنش ها'
            operationId: V1ReportTransactionReportPost
            consumes: [application/json]
            produces: [application/json]
            parameters: [{name: model, in: body, description: "", required: false, schema: {$ref: '#/definitions/TransactionReportModel'}}]
            responses: {'200': {description: 'لیسات تراکنش ها با موفقیت ساخته شد', schema: {uniqueItems: false, type: array, items: {$ref: '#/definitions/TransactionReportViewModel'}}}}
    /v1/report/TransactionReportCount:
        post:
            tags: [Report]
            summary: 'تعداد تراکنش ها'
            operationId: V1ReportTransactionReportCountPost
            consumes: [application/json]
            produces: [application/json]
            parameters: [{name: model, in: body, description: "", required: false, schema: {$ref: '#/definitions/BaseTransactionReport'}}]
            responses: {'200': {description: 'تعداد تراکنش ها با موفقیت ساخته شد', schema: {$ref: '#/definitions/ResultVM'}}}
    '/v1/report/{code}':
        get:
            tags: [Report]
            summary: 'نمایش جزئیات تراکنش'
            operationId: V1ReportByCodeGet
            consumes: []
            produces: [application/json]
            parameters: [{name: code, in: path, description: 'مشخصات تراکنش', required: true, type: string}]
            responses: {'200': {description: 'جزئیات تراکنش با موفقیت ساخته شد', schema: {$ref: '#/definitions/PaymentDetailsVM'}}}
    /v1/request:
        post:
            tags: [Request]
            summary: 'ارسال درخواست پول'
            description: 'از این متد برای ارسال لینک درخواست پول برای یک نفر بصورت  پیامک یا ایمیل استفاده می شود'
            operationId: V1RequestPost
            consumes: [application/json]
            produces: [application/json]
            parameters: [{name: model, in: body, description: 'مشخصات درخواست پول', required: false, schema: {$ref: '#/definitions/CreateRequestViewModel'}}]
            responses: {'200': {description: 'ساخت درخواست پول جدید با موفقیت انجام شد', schema: {$ref: '#/definitions/RequestResult'}}}
    /v1/request/Multi:
        post:
            tags: [Request]
            summary: 'ارسال درخواست پول برای چند نفر'
            description: 'از این متد برای ارسال لینک درخواست پول برای چند نفر بصورت  پیامک یا ایمیل استفاده می شود'
            operationId: V1RequestMultiPost
            consumes: [application/json]
            produces: [application/json]
            parameters: [{name: model, in: body, description: 'مشخصات درخواست گنندگان پول', required: false, schema: {$ref: '#/definitions/CreateMultiRequestViewModel'}}]
            responses: {'200': {description: 'درخواست پول با موفقیت انجام شد', schema: {uniqueItems: false, type: array, items: {$ref: '#/definitions/MultiRequestViewModel'}}}}
    '/v1/request/{code}/SendReminder':
        post:
            tags: [Request]
            summary: 'یادآوری مجدد درخواست پول'
            description: 'از این متد برای ارسال مجدد پیامک یا ایمیل لینک درخواست پول استفاده می شود'
            operationId: V1RequestByCodeSendReminderPost
            consumes: []
            produces: []
            parameters: [{name: code, in: path, description: 'کد درخواست', required: true, type: string}]
            responses: {'200': {description: 'یادآوری با موفقیت انجام شد'}}
    '/v1/request/{code}':
        delete:
            tags: [Request]
            summary: 'لغو درخواست پول'
            description: 'برای لغو کردن یک کد درخواست می توانید از این متد استفاده کنید'
            operationId: V1RequestByCodeDelete
            consumes: []
            produces: []
            parameters: [{name: code, in: path, description: 'کد درخواست', required: true, type: string}]
            responses: {'200': {description: 'درخواست با موفقیت کنسل شد'}}
    '/v1/withdraw/{amount}':
        post:
            tags: [Withdraw]
            summary: 'درخواست تسویه حساب'
            operationId: V1WithdrawByAmountPost
            consumes: []
            produces: [application/json]
            parameters: [{name: amount, in: path, description: 'مبلغ تسویه حساب', required: true, type: integer, format: int32}]
            responses: {'200': {description: 'تسویه حساب جدید با موفقیت ساخته شد', schema: {$ref: '#/definitions/WithdrawResult'}}}
    '/v1/withdraw/{code}':
        get:
            tags: [Withdraw]
            summary: 'نمایش جزئیات درخواست تسویه'
            operationId: V1WithdrawByCodeGet
            consumes: []
            produces: [application/json]
            parameters: [{name: code, in: path, description: 'کد درخواست تسویه', required: true, type: string}]
            responses: {'200': {description: 'جزئیات تسویه با موفقیت نمایش داده شد', schema: {$ref: '#/definitions/WithdrawDetailsViewModel'}}}
    /v1/AddressBook/List:
        get:
            tags: [AddressBook]
            summary: 'لیست مشتریان'
            operationId: V1AddressBookListGet
            consumes: []
            produces: [text/plain, application/json, text/json]
            parameters: [{name: offset, in: query, description: 'شروع صفحه از شماره 1', required: false, type: integer, format: int32, default: 0}, {name: limit, in: query, description: 'تعداد سطر بازگشت داده ها مثال : 10', required: false, type: integer, format: int32, default: 10}, {name: search, in: query, description: 'متن مورد نظر جهت جستجو', required: false, type: string}, {name: customerType, in: query, description: "", required: false, type: integer, format: int32, default: 0, enum: [0, 1, 2]}]
            responses: {'200': {description: 'نمایش لیست مشتریان', schema: {uniqueItems: false, type: array, items: {$ref: '#/definitions/AddressBookListItemViewModel'}}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'مشتری با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    /v1/AddressBook/ListCount:
        get:
            tags: [AddressBook]
            summary: 'تعداد مشتریان'
            operationId: V1AddressBookListCountGet
            consumes: []
            produces: [text/plain, application/json, text/json]
            parameters: [{name: search, in: query, description: 'متن مورد نظر جهت جستجو', required: false, type: string}, {name: customerType, in: query, description: "", required: false, type: integer, format: int32, default: 0, enum: [0, 1, 2]}]
            responses: {'200': {description: 'نمایش تعداد مشتریان', schema: {$ref: '#/definitions/ListCountViewModel'}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'مشتری با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    '/v1/AddressBook/{code}':
        get:
            tags: [AddressBook]
            summary: 'مشخصات مشتری'
            operationId: V1AddressBookByCodeGet
            consumes: []
            produces: [text/plain, application/json, text/json]
            parameters: [{name: code, in: path, description: 'کد مشتری ارسال نمایید', required: true, type: string}]
            responses: {'200': {description: 'نمایش مشخصات مشتری', schema: {$ref: '#/definitions/AddressBookDetailViewModel'}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'مشتری با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
        put:
            tags: [AddressBook]
            summary: 'بروزرسانی مشخصات مشتری'
            operationId: V1AddressBookByCodePut
            consumes: [application/json]
            produces: [text/plain, application/json, text/json]
            parameters: [{name: code, in: path, description: 'کلید یکتا مشتری', required: true, type: string}, {name: value, in: body, description: 'مشخصات بروز شده مشتری', required: false, schema: {$ref: '#/definitions/AddressBookEditViewModel'}}]
            responses: {'200': {description: 'نمایش مشخصات مشتری', schema: {$ref: '#/definitions/AddressBookDetailViewModel'}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'مشتری با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
        delete:
            tags: [AddressBook]
            summary: 'حذف مشتری'
            operationId: V1AddressBookByCodeDelete
            consumes: []
            produces: [text/plain, application/json, text/json]
            parameters: [{name: code, in: path, description: 'کلید یکتا مشتری', required: true, type: string}]
            responses: {'200': {description: 'نمایش کلید یکتای مشتری', schema: {type: string}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'مشتری با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    /v1/AddressBook:
        post:
            tags: [AddressBook]
            summary: 'مشتری جدید'
            operationId: V1AddressBookPost
            consumes: [application/json]
            produces: [text/plain, application/json, text/json]
            parameters: [{name: value, in: body, description: 'مشخصات مشتری', required: false, schema: {$ref: '#/definitions/AddressBookCreateViewModel'}}]
            responses: {'200': {description: 'نمایش مشخصات مشتری', schema: {$ref: '#/definitions/AddressBookDetailViewModel'}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'مشتری با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    /v1/Invoice/SumPerStatus:
        get:
            tags: [Invoice]
            summary: 'گزارش جمع مبلغ فاکتور ها براساس وضعیت'
            operationId: V1InvoiceSumPerStatusGet
            consumes: []
            produces: [text/plain, application/json, text/json]
            parameters: []
            responses: {'200': {description: 'جمع مبلغ فاکتور ها براساس وضعیت', schema: {$ref: '#/definitions/InvoiceDashboardReportViewModel'}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'گزارشی با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    '/v1/Invoice/Schedule/{code}':
        get:
            tags: [Invoice]
            summary: 'دریافت فاکتور زمانبندی شده'
            operationId: V1InvoiceScheduleByCodeGet
            consumes: []
            produces: [text/plain, application/json, text/json]
            parameters: [{name: code, in: path, required: true, type: string}]
            responses: {'200': {description: 'فاکتور زمانبندی شده', schema: {$ref: '#/definitions/ScheduleInvoiceWithChilds'}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'فاکتوری با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    '/v1/Invoice/Subschedulers/{code}':
        get:
            tags: [Invoice]
            summary: 'دریافت اطلاعات زمانبندی شده فاکتور'
            operationId: V1InvoiceSubschedulersByCodeGet
            consumes: []
            produces: [text/plain, application/json, text/json]
            parameters: [{name: code, in: path, required: true, type: string}]
            responses: {'200': {description: 'اطلاعات زمانبندی شده فاکتور', schema: {uniqueItems: false, type: array, items: {$ref: '#/definitions/InvoiceSubSchulderDetailViewModel'}}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'فاکتوری با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    /v1/Invoice/List:
        get:
            tags: [Invoice]
            summary: 'لیست فاکتور ها'
            operationId: V1InvoiceListGet
            consumes: []
            produces: [text/plain, application/json, text/json]
            parameters: [{name: offset, in: query, description: "", required: false, type: integer, format: int32, default: 0}, {name: limit, in: query, description: "", required: false, type: integer, format: int32, default: 10}, {name: status, in: query, description: 'فیلتر وضعیت', required: false, type: integer, format: int32, default: 5, enum: [0, 1, 2, 3, 4, 5]}, {name: isArchived, in: query, description: 'فیلتر بایگانی', required: false, type: boolean, default: false}, {name: searchByDueDate, in: query, description: 'فیلتر با تاریخ سررسید', required: false, type: boolean, default: false}, {name: searchByCreateDate, in: query, description: 'فیلتر با تاریخ ثبت', required: false, type: boolean, default: false}, {name: searchDateFrom, in: query, description: 'شروع از تاریخ', required: false, type: string, format: date-time}, {name: searchDateTo, in: query, description: 'تا تاریخ', required: false, type: string, format: date-time}, {name: search, in: query, description: 'متن جستجو', required: false, type: string}]
            responses: {'200': {description: 'نمایش لیست فاکتور ها', schema: {uniqueItems: false, type: array, items: {$ref: '#/definitions/InvoiceListItemViewModel'}}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'فاکتوری با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    /v1/Invoice/ListCount:
        get:
            tags: [Invoice]
            summary: 'تعداد فاکتور ها'
            operationId: V1InvoiceListCountGet
            consumes: []
            produces: [text/plain, application/json, text/json]
            parameters: [{name: status, in: query, description: 'فیلتر وضعیت', required: false, type: integer, format: int32, default: 5, enum: [0, 1, 2, 3, 4, 5]}, {name: isArchived, in: query, description: 'فیلتر بایگانی', required: false, type: boolean, default: false}, {name: searchByDueDate, in: query, description: 'فیلتر با تاریخ سررسید', required: false, type: boolean, default: false}, {name: searchByCreateDate, in: query, description: 'فیلتر با تاریخ ثبت', required: false, type: boolean, default: false}, {name: searchDateFrom, in: query, description: 'شروع از تاریخ', required: false, type: string, format: date-time}, {name: searchDateTo, in: query, description: 'تا تاریخ', required: false, type: string, format: date-time}, {name: search, in: query, description: 'متن جستجو', required: false, type: string}]
            responses: {'200': {description: 'نمایش تعداد فاکتور ها', schema: {$ref: '#/definitions/ListCountViewModel'}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'فاکتوری با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    /v1/Invoice/ListSchedule:
        get:
            tags: [Invoice]
            summary: 'لیست فاکتور ها زمانبندی شده'
            operationId: V1InvoiceListScheduleGet
            consumes: []
            produces: [text/plain, application/json, text/json]
            parameters: [{name: offset, in: query, description: "", required: false, type: integer, format: int32, default: 0}, {name: limit, in: query, description: "", required: false, type: integer, format: int32, default: 10}, {name: status, in: query, description: 'فیلتر وضعیت', required: false, type: integer, format: int32, default: 5, enum: [0, 1, 2, 3, 4, 5]}, {name: isArchived, in: query, description: 'فیلتر بایگانی', required: false, type: boolean, default: false}, {name: searchByDueDate, in: query, description: 'فیلتر با تاریخ سررسید', required: false, type: boolean, default: false}, {name: searchByCreateDate, in: query, description: 'فیلتر با تاریخ ثبت', required: false, type: boolean, default: false}, {name: searchDateFrom, in: query, description: 'شروع از تاریخ', required: false, type: string, format: date-time}, {name: searchDateTo, in: query, description: 'تا تاریخ', required: false, type: string, format: date-time}, {name: search, in: query, description: 'متن جستجو', required: false, type: string}]
            responses: {'200': {description: 'نمایش لیست فاکتور ها زمانبندی شده', schema: {uniqueItems: false, type: array, items: {$ref: '#/definitions/InvoiceListItemViewModel'}}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'فاکتوری با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    /v1/Invoice/ListScheduleCount:
        get:
            tags: [Invoice]
            summary: 'تعداد فاکتور ها زمانبندی شده'
            operationId: V1InvoiceListScheduleCountGet
            consumes: []
            produces: [text/plain, application/json, text/json]
            parameters: [{name: status, in: query, description: 'فیلتر وضعیت', required: false, type: integer, format: int32, default: 5, enum: [0, 1, 2, 3, 4, 5]}, {name: isArchived, in: query, description: 'فیلتر بایگانی', required: false, type: boolean, default: false}, {name: searchByDueDate, in: query, description: 'فیلتر با تاریخ سررسید', required: false, type: boolean, default: false}, {name: searchByCreateDate, in: query, description: 'فیلتر با تاریخ ثبت', required: false, type: boolean, default: false}, {name: searchDateFrom, in: query, description: 'شروع از تاریخ', required: false, type: string, format: date-time}, {name: searchDateTo, in: query, description: 'تا تاریخ', required: false, type: string, format: date-time}, {name: search, in: query, description: 'متن جستجو', required: false, type: string}]
            responses: {'200': {description: 'نمایش تعداد فاکتور ها زمانبندی شده', schema: {$ref: '#/definitions/ListCountViewModel'}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'فاکتوری با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    '/v1/Invoice/{code}':
        get:
            tags: [Invoice]
            summary: 'دریافت فاکتور'
            operationId: V1InvoiceByCodeGet
            consumes: []
            produces: [text/plain, application/json, text/json]
            parameters: [{name: code, in: path, description: 'کلید یکتای فاکتور', required: true, type: string}]
            responses: {'200': {description: 'نمایش فاکتور', schema: {$ref: '#/definitions/InvoiceDetailViewModel'}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'فاکتوری با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
        put:
            tags: [Invoice]
            summary: 'بروزرسانی فاکتور'
            operationId: V1InvoiceByCodePut
            consumes: [application/json]
            produces: [text/plain, application/json, text/json]
            parameters: [{name: code, in: path, description: 'کلید یکتای فاکتور', required: true, type: string}, {name: value, in: body, description: 'فاکتور بروز شده', required: false, schema: {$ref: '#/definitions/InvoiceEditViewModel'}}]
            responses: {'200': {description: 'نمایش فاکتور', schema: {$ref: '#/definitions/InvoiceDetailViewModel'}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'فاکتور یا داده های وابسته به فاکتور با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
        delete:
            tags: [Invoice]
            summary: 'حذف فاکتور'
            operationId: V1InvoiceByCodeDelete
            consumes: []
            produces: [text/plain, application/json, text/json]
            parameters: [{name: code, in: path, description: 'کلید یکتای فاکتور', required: true, type: string}]
            responses: {'200': {description: 'نمایش کلید یکتای فاکتور', schema: {type: string}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'فاکتوری با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    /v1/Invoice/SendByTemplateAdvance:
        post:
            tags: [Invoice]
            summary: 'ارسال فاکتور جدید با استفاده از قالب - پیشرفته'
            operationId: V1InvoiceSendByTemplateAdvancePost
            consumes: [application/json]
            produces: [text/plain, application/json, text/json]
            parameters: [{name: value, in: body, description: 'مشخصات فاکتور', required: false, schema: {$ref: '#/definitions/InvoiceSendByTemplate'}}]
            responses: {'200': {description: 'نمایش فاکتور', schema: {uniqueItems: false, type: array, items: {$ref: '#/definitions/InvoiceDetailViewModel'}}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'فاکتور یا داده های وابسته به فاکتور با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    /v1/Invoice/SendByTemplateSimple:
        post:
            tags: [Invoice]
            summary: 'ارسال فاکتور جدید با استفاده از قالب - سریع'
            operationId: V1InvoiceSendByTemplateSimplePost
            consumes: [application/json]
            produces: [text/plain, application/json, text/json]
            parameters: [{name: value, in: body, description: 'مشخصات فاکتور', required: false, schema: {$ref: '#/definitions/InvoiceSendByTemplateSimple'}}]
            responses: {'200': {description: 'نمایش فاکتور', schema: {$ref: '#/definitions/InvoiceDetailViewModel'}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'فاکتور یا داده های وابسته به فاکتور با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    /v1/Invoice:
        post:
            tags: [Invoice]
            summary: 'فاکتور جدید'
            operationId: V1InvoicePost
            consumes: [application/json]
            produces: [text/plain, application/json, text/json]
            parameters: [{name: value, in: body, description: 'مشخصات فاکتور', required: false, schema: {$ref: '#/definitions/InvoiceCreateViewModel'}}]
            responses: {'200': {description: 'نمایش فاکتور', schema: {uniqueItems: false, type: array, items: {$ref: '#/definitions/InvoiceDetailViewModel'}}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'فاکتور یا داده های وابسته به فاکتور با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    /v1/Invoice/Schedule:
        post:
            tags: [Invoice]
            summary: 'فاکتور زمانبندی شده جدید'
            operationId: V1InvoiceSchedulePost
            consumes: [application/json]
            produces: [text/plain, application/json, text/json]
            parameters: [{name: value, in: body, description: 'مشخصات فاکتور زمانبندی شده', required: false, schema: {$ref: '#/definitions/InvoiceCreateScheduleViewModel'}}]
            responses: {'200': {description: 'نمایش فاکتور زمانبندی شده', schema: {$ref: '#/definitions/InvoiceDetailViewModel'}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'فاکتور یا داده های وابسته به فاکتور با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    '/v1/Invoice/DeleteSchedule/{code}':
        delete:
            tags: [Invoice]
            summary: 'حذف فاکتور زمانبندی شده'
            operationId: V1InvoiceDeleteScheduleByCodeDelete
            consumes: []
            produces: [text/plain, application/json, text/json]
            parameters: [{name: code, in: path, description: 'کلید یکتای فاکتور زمانبندی شده', required: true, type: string}]
            responses: {'200': {description: 'نمایش کلید یکتای فاکتور زمانبندی شده', schema: {type: string}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'فاکتوری با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    '/v1/Invoice/Pdf/{code}':
        get:
            tags: [Invoice]
            summary: 'درخواست فاکتور غیر رسمی'
            operationId: V1InvoicePdfByCodeGet
            consumes: []
            produces: [text/plain, application/json, text/json]
            parameters: [{name: code, in: path, description: 'کلید یکتای فاکتور', required: true, type: string}]
            responses: {'200': {description: 'نمایش مشخصات فایل فاکتور غیر رسمی', schema: {$ref: '#/definitions/InvoicePdfResponseViewModel'}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'فاکتوری با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    /v1/Invoice/Cancel:
        post:
            tags: [Invoice]
            summary: 'درخواست لغو فاکتور'
            operationId: V1InvoiceCancelPost
            consumes: [application/json]
            produces: [text/plain, application/json, text/json]
            parameters: [{name: value, in: body, description: "", required: false, schema: {$ref: '#/definitions/InvoiceCancelRequest'}}]
            responses: {'200': {description: 'نمایش فاکتور', schema: {$ref: '#/definitions/InvoiceCancelResponse'}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'فاکتوری با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    '/v1/Invoice/Reminder/{code}':
        post:
            tags: [Invoice]
            summary: 'ارسال یادآوری فاکتور'
            operationId: V1InvoiceReminderByCodePost
            consumes: []
            produces: [text/plain, application/json, text/json]
            parameters: [{name: code, in: path, description: 'کلید یکتای فاکتور', required: true, type: string}]
            responses: {'200': {description: 'نمایش وضعیت ارسال یادآوری فاکتور', schema: {$ref: '#/definitions/InvoiceSendReminderResponseViewModel'}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'فاکتوری با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    '/v1/Invoice/Send/{code}':
        post:
            tags: [Invoice]
            summary: 'ارسال فاکتور'
            operationId: V1InvoiceSendByCodePost
            consumes: []
            produces: [text/plain, application/json, text/json]
            parameters: [{name: code, in: path, description: 'کلید یکتای فاکتور', required: true, type: string}]
            responses: {'200': {description: 'نمایش وضعیت ارسال فاکتور', schema: {$ref: '#/definitions/InvoiceSendInvoiceResponseViewModel'}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'فاکتوری با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    /v1/Invoice/SetCustomer:
        post:
            tags: [Invoice]
            summary: 'ثبت مشتری به فاکتور'
            operationId: V1InvoiceSetCustomerPost
            consumes: [application/json]
            produces: [text/plain, application/json, text/json]
            parameters: [{name: value, in: body, description: "", required: false, schema: {$ref: '#/definitions/InvoiceSetCustomerRequestViewModel'}}]
            responses: {'200': {description: 'نمایش وضعیت ثبت مشتری فاکتور', schema: {$ref: '#/definitions/InvoiceConfirmPaymentResponseViewModel'}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'فاکتوری با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    /v1/Template/List:
        get:
            tags: [Template]
            summary: 'لیست قالب ها'
            operationId: V1TemplateListGet
            consumes: []
            produces: [text/plain, application/json, text/json]
            parameters: [{name: offset, in: query, description: 'شروع صفحه از شماره 1', required: false, type: integer, format: int32, default: 0}, {name: limit, in: query, description: 'تعداد سطر بازگشت داده ها مثال : 10', required: false, type: integer, format: int32, default: 10}, {name: search, in: query, description: 'متن مورد نظر جهت جستجو', required: false, type: string}]
            responses: {'200': {description: 'نمایش قالب ها', schema: {uniqueItems: false, type: array, items: {$ref: '#/definitions/InvoiceTemplateListItemViewModel'}}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'قالبی با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    /v1/Template/ListCount:
        get:
            tags: [Template]
            summary: 'تعداد قالب ها'
            operationId: V1TemplateListCountGet
            consumes: []
            produces: [text/plain, application/json, text/json]
            parameters: [{name: search, in: query, description: 'متن مورد نظر جهت جستجو', required: false, type: string}]
            responses: {'200': {description: 'نمایش تعداد قالب ها', schema: {$ref: '#/definitions/ListCountViewModel'}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'قالبی با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    /v1/Template/ListSchedule:
        get:
            tags: [Template]
            summary: 'لیست قالب های زمانبندی'
            operationId: V1TemplateListScheduleGet
            consumes: []
            produces: [text/plain, application/json, text/json]
            parameters: [{name: offset, in: query, description: 'شروع صفحه از شماره 1', required: false, type: integer, format: int32, default: 0}, {name: limit, in: query, description: 'تعداد سطر بازگشت داده ها مثال : 10', required: false, type: integer, format: int32, default: 10}, {name: search, in: query, description: 'متن مورد نظر جهت جستجو', required: false, type: string}]
            responses: {'200': {description: 'نمایش قالب ها', schema: {uniqueItems: false, type: array, items: {$ref: '#/definitions/InvoiceTemplateListItemViewModel'}}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'قالبی با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    /v1/Template/ListScheduleCount:
        get:
            tags: [Template]
            summary: 'تعداد قالب های زمانبندی'
            operationId: V1TemplateListScheduleCountGet
            consumes: []
            produces: [text/plain, application/json, text/json]
            parameters: [{name: search, in: query, description: 'متن مورد نظر جهت جستجو', required: false, type: string}]
            responses: {'200': {description: 'نمایش تعداد قالب ها', schema: {$ref: '#/definitions/ListCountViewModel'}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'قالبی با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    /v1/Template/ListNonSchedule:
        get:
            tags: [Template]
            summary: 'لیست قالب های غیر زمانبندی'
            operationId: V1TemplateListNonScheduleGet
            consumes: []
            produces: [text/plain, application/json, text/json]
            parameters: [{name: offset, in: query, description: 'شروع صفحه از شماره 1', required: false, type: integer, format: int32, default: 0}, {name: limit, in: query, description: 'تعداد سطر بازگشت داده ها مثال : 10', required: false, type: integer, format: int32, default: 10}, {name: search, in: query, description: 'متن مورد نظر جهت جستجو', required: false, type: string}]
            responses: {'200': {description: 'نمایش قالب ها', schema: {uniqueItems: false, type: array, items: {$ref: '#/definitions/InvoiceTemplateListItemViewModel'}}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'قالبی با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    /v1/Template/ListNonScheduleCount:
        get:
            tags: [Template]
            summary: 'تعداد قالب های غیر زمانبندی'
            operationId: V1TemplateListNonScheduleCountGet
            consumes: []
            produces: [text/plain, application/json, text/json]
            parameters: [{name: search, in: query, description: 'متن مورد نظر جهت جستجو', required: false, type: string}]
            responses: {'200': {description: 'نمایش تعداد قالب ها', schema: {$ref: '#/definitions/ListCountViewModel'}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'قالبی با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    '/v1/Template/{code}':
        get:
            tags: [Template]
            summary: 'دریافت قالب'
            operationId: V1TemplateByCodeGet
            consumes: []
            produces: [text/plain, application/json, text/json]
            parameters: [{name: code, in: path, description: 'کلید یکتای قالب', required: true, type: string}]
            responses: {'200': {description: 'نمایش قالب', schema: {$ref: '#/definitions/InvoiceTemplateDetailViewModel'}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'قالبی با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
        put:
            tags: [Template]
            summary: 'بروزرسانی قالب'
            operationId: V1TemplateByCodePut
            consumes: [application/json]
            produces: [text/plain, application/json, text/json]
            parameters: [{name: code, in: path, description: 'کلید یکتای قالب', required: true, type: string}, {name: value, in: body, description: 'قالب بروز شده', required: false, schema: {$ref: '#/definitions/InvoiceTemplateEditViewModel'}}]
            responses: {'200': {description: 'نمایش قالب', schema: {$ref: '#/definitions/InvoiceTemplateDetailViewModel'}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'قالب یا داده های وابسته به قالب با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
        delete:
            tags: [Template]
            summary: 'حذف قالب'
            operationId: V1TemplateByCodeDelete
            consumes: []
            produces: [text/plain, application/json, text/json]
            parameters: [{name: code, in: path, description: 'کلید یکتای قالب', required: true, type: string}]
            responses: {'200': {description: 'نمایش کلید یکتای قالب', schema: {type: string}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'قالبی با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    /v1/Template:
        post:
            tags: [Template]
            summary: 'قالب جدید'
            operationId: V1TemplatePost
            consumes: [application/json]
            produces: [text/plain, application/json, text/json]
            parameters: [{name: value, in: body, description: 'مشخصات قالب', required: false, schema: {$ref: '#/definitions/InvoiceTemplateCreateViewModel'}}]
            responses: {'200': {description: 'نمایش قالب', schema: {$ref: '#/definitions/InvoiceTemplateDetailViewModel'}}, '400': {description: 'مشکلی در ارسال درخواست وجود دارد', schema: {type: object, additionalProperties: {type: string}}}, '401': {description: 'عدم دسترسی'}, '403': {description: 'دسترسی غیرمجاز'}, '404': {description: 'اطلاعات وابسته نسبت به ثبت قالب جدید با داده های ورودی درخواست شما پیدا نشد'}, '500': {description: 'مشکلی در سرور رخ داده است'}}
    /v1/coupon:
        post:
            tags: [coupon]
            summary: 'ساخت یک کد تخفیف جدید'
            operationId: V1CouponPost
            consumes: [application/json]
            produces: [application/json]
            parameters: [{name: model, in: body, description: 'مشخصات کد تخفیف', required: false, schema: {$ref: '#/definitions/CouponCreateViewModel'}}]
            responses: {'200': {description: 'کد تخفیف با موفقیت ساخته شد', schema: {$ref: '#/definitions/CodeVM'}}}
            
        put:
            tags: [coupon]
            summary: 'بروزرسانی کد تخفیف'
            operationId: V1CouponPut
            consumes: [application/json]
            produces: []
            parameters: [{name: model, in: body, description: 'مشخصات کد تخفیف', required: false, schema: {$ref: '#/definitions/CouponEditViewModel'}}]
            responses: {'200': {description: 'کد تخفیف با موفقیت بروزرسانی شد'}, '404': {description: 'کد تخفیفی با این شناسه وجود ندارد'}}
            
    '/v1/coupon/{code}':
        get:
            tags: [coupon]
            summary: 'نمایش یک کد تخفیف'
            operationId: V1CouponByCodeGet
            consumes: []
            produces: [application/json]
            parameters: [{name: code, in: path, description: 'شناسه کد تخفیف', required: true, type: string}]
            responses: {'200': {description: 'کد تخفیف با موفقیت نمایش داده شد', schema: {$ref: '#/definitions/CouponDetailViewModel'}}, '404': {description: 'کد تخفیفی با این شناسه وجود ندارد'}}
            
        delete:
            tags: [coupon]
            summary: 'حذف یک کد تخفیف'
            operationId: V1CouponByCodeDelete
            consumes: []
            produces: []
            parameters: [{name: code, in: path, description: 'شناسه کد تخفیف', required: true, type: string}]
            responses: {'200': {description: 'کد تخفیف با موفقیت حذف شد'}, '404': {description: 'کد تخفیفی با این شناسه وجود ندارد'}}
            
    /v1/coupon/List:
        get:
            tags: [coupon]
            summary: 'نمایش لیست کدهای تخفیف'
            operationId: V1CouponListGet
            consumes: []
            produces: [application/json]
            parameters: [{name: offset, in: query, description: 'شماره ابتدا لیست', required: false, type: integer, format: int32, default: 0}, {name: limit, in: query, description: 'شماره انتها لیست', required: false, type: integer, format: int32, default: 10}, {name: witharchived, in: query, description: 'اضافه شدن کدهای تخفیف‌ آرشیو شده', required: false, type: boolean, default: false}, {name: search, in: query, description: 'کیلدواژه جستجو در کدهای تخفیف', required: false, type: string}]
            responses: {'200': {description: 'لیست کدهای تخفیف با موفقیت نمایش داده شد', schema: {uniqueItems: false, type: array, items: {$ref: '#/definitions/CouponListItemViewModel'}}}}
            
    /v1/coupon/ListCount:
        get:
            tags: [coupon]
            summary: 'دریافت تعداد کدهای تخفیف'
            operationId: V1CouponListCountGet
            consumes: []
            produces: [application/json]
            parameters: [{name: witharchived, in: query, required: false, type: boolean, default: false, description: 'اضافه شدن کدهای تخفیف‌ آرشیو شده'}, {name: search, in: query, required: false, type: string, description: 'کیلدواژه جستجو در کدهای تخفیف'}]
            responses: {'200': {description: 'تعداد کدهای تخفیف با موفقیت نمایش داده شد', schema: {$ref: '#/definitions/CountVM'}}}
            
    '/v1/coupon/{couponCode}/BuyersListCount':
        get:
            tags: [coupon]
            summary: 'دریافت تعداد خرید‌های یک کد تخفیف'
            operationId: V1CouponByCouponCodeBuyersListCountGet
            consumes: []
            produces: [application/json]
            parameters: [{name: couponCode, in: path, description: 'شناسه کد تخفیف', required: true, type: string}]
            responses: {'200': {description: 'تعداد خریدهای یک کد تخفیف با موفقیت نمایش داده شد', schema: {$ref: '#/definitions/CountVM'}}}
            
    '/v1/coupon/{couponCode}/BuyersList':
        get:
            tags: [coupon]
            summary: 'دریافت لیست پرداخت‌های انجام شده یک کد تخفیف'
            operationId: V1CouponByCouponCodeBuyersListGet
            consumes: []
            produces: [application/json]
            parameters: [{name: couponCode, in: path, description: 'شناسه کد تخفیف', required: true, type: string}, {name: offset, in: query, description: 'شماره ابتدا لیست', required: false, type: integer, format: int32, default: 0}, {name: limit, in: query, description: 'شماره انتها لیست', required: false, type: integer, format: int32, default: 10}]
            responses: {'200': {description: 'لیست خریدهای این کد تخفیف با موفقیت نمایش داده شد', schema: {uniqueItems: false, type: array, items: {$ref: '#/definitions/BuyerDetailsViewModel'}}}}
            
    /v1/permaLink:
        post:
            tags: [permaLink]
            summary: 'ساخت یک لینک ثابت جدید'
            operationId: V1PermaLinkPost
            consumes: [application/json]
            produces: [application/json]
            parameters: [{name: model, in: body, description: 'مشخصات لینک ثابت', required: false, schema: {$ref: '#/definitions/PermanentCreateViewModel'}}]
            responses: {'200': {description: 'لینک ثابت با موفقیت ساخته شد', schema: {$ref: '#/definitions/CodeVM'}}}
            
        put:
            tags: [permaLink]
            summary: 'بروزرسانی لینک ثابت'
            operationId: V1PermaLinkPut
            consumes: [application/json]
            produces: []
            parameters: [{name: model, in: body, description: 'مشخصات لینک ثابت', required: false, schema: {$ref: '#/definitions/PermanentEditViewModel'}}]
            responses: {'200': {description: 'لینک ثابت با موفقیت بروزرسانی شد'}, '404': {description: 'لینک ثابتی با این شناسه وجود ندارد'}}
            
    '/v1/permaLink/{code}':
        get:
            tags: [permaLink]
            summary: 'نمایش یک لینک ثابت'
            operationId: V1PermaLinkByCodeGet
            consumes: []
            produces: [application/json]
            parameters: [{name: code, in: path, description: 'شناسه لینک ثابت', required: true, type: string}]
            responses: {'200': {description: 'لینک ثابت با موفقیت نمایش داده شد', schema: {$ref: '#/definitions/PermanentDetailViewModel'}}, '404': {description: 'لینک ثابتی با این شناسه وجود ندارد'}}
            
        delete:
            tags: [permaLink]
            summary: 'حذف یک لینک ثابت'
            operationId: V1PermaLinkByCodeDelete
            consumes: []
            produces: []
            parameters: [{name: code, in: path, description: 'شناسه لینک ثابت', required: true, type: string}]
            responses: {'200': {description: 'لینک ثابت با موفقیت حذف شد'}, '404': {description: 'لینک ثابتی با این شناسه وجود ندارد'}}
            
    /v1/permaLink/List:
        get:
            tags: [permaLink]
            summary: 'نمایش لیست لینک‌های ثابت'
            operationId: V1PermaLinkListGet
            consumes: []
            produces: [application/json]
            parameters: [{name: offset, in: query, description: 'شماره ابتدا لیست', required: false, type: integer, format: int32, default: 0}, {name: limit, in: query, description: 'شماره انتها لیست', required: false, type: integer, format: int32, default: 10}, {name: witharchived, in: query, description: 'اضافه شدن لینک‌های ثابت‌ آرشیو شده', required: false, type: boolean, default: false}, {name: search, in: query, description: 'کیلدواژه جستجو در لینک‌های ثابت', required: false, type: string}]
            responses: {'200': {description: 'لیست لینک‌های ثابت‌ با موفقیت نمایش داده شد', schema: {uniqueItems: false, type: array, items: {$ref: '#/definitions/PermanentListItemViewModel'}}}}
            
    /v1/permaLink/ListCount:
        get:
            tags: [permaLink]
            summary: 'دریافت تعداد لینک‌های ثابت'
            operationId: V1PermaLinkListCountGet
            consumes: []
            produces: [application/json]
            parameters: [{name: witharchived, in: query, required: false, type: boolean, default: false, description: 'همراه با آرشیوشده‌ها'}, {name: search, in: query, required: false, type: string, description: 'کلیدواژه مورد جستجو'}]
            responses: {'200': {description: 'تعداد لینک‌های ثابت با موفقیت نمایش داده شد', schema: {$ref: '#/definitions/CountVM'}}}
            
    '/v1/permaLink/{productCode}/BuyersList':
        get:
            tags: [permaLink]
            summary: 'دریافت لیست پرداخت‌های انجام شده یک لینک‌ثابت'
            operationId: V1PermaLinkByProductCodeBuyersListGet
            consumes: []
            produces: [application/json]
            parameters: [{name: productCode, in: path, description: 'کد آیتم‌مالی', required: true, type: string}, {name: offset, in: query, description: 'شماره ابتدا لیست', required: false, type: integer, format: int32, default: 0}, {name: limit, in: query, description: 'شماره انتها لیست', required: false, type: integer, format: int32, default: 10}]
            responses: {'200': {description: 'لیست با موفقیت نمایش داده شد', schema: {uniqueItems: false, type: array, items: {$ref: '#/definitions/ProductBuyerViewModel'}}}}
            
    '/v1/permaLink/{productCode}/BuyersListCount':
        get:
            tags: [permaLink]
            summary: 'دریافت تعداد پرداختی‌های یک لینک‌ثابت'
            operationId: V1PermaLinkByProductCodeBuyersListCountGet
            consumes: []
            produces: [application/json]
            parameters: [{name: productCode, in: path, description: 'کد آیتم‌مالی', required: true, type: string}]
            responses: {'200': {description: 'تعداد پرداختی‌های یک لینک‌ثابت با موفقیت نمایش داده شد', schema: {$ref: '#/definitions/CountVM'}}}
            
    '/v1/permaLink/{payCode}/Buyer':
        get:
            tags: [permaLink]
            summary: 'دریافت جزئیات پرداخت یک لینک‌ثابت'
            operationId: V1PermaLinkByPayCodeBuyerGet
            consumes: []
            produces: [application/json]
            parameters: [{name: payCode, in: path, description: 'کد پرداخت', required: true, type: string}]
            responses: {'200': {description: 'جزئیات پرداخت یک آیتم‌مالی با موفقیت نمایش داده شد', schema: {$ref: '#/definitions/BuyerDetailsViewModel'}}}
            
    /v1/product:
        post:
            tags: [product]
            summary: 'ساخت یک آیتم‌ مالی جدید'
            operationId: V1ProductPost
            consumes: [application/json]
            produces: [application/json]
            parameters: [{name: model, in: body, description: 'مشخصات آیتم مالی', required: false, schema: {$ref: '#/definitions/ProductCreateViewModel'}}]
            responses: {'200': {description: 'آیتم مالی با موفقیت ساخته شد', schema: {$ref: '#/definitions/CodeVM'}}}
            
        put:
            tags: [product]
            summary: 'بروزرسانی آیتم مالی'
            operationId: V1ProductPut
            consumes: [application/json]
            produces: []
            parameters: [{name: model, in: body, description: 'مشخصات آیتم مالی', required: false, schema: {$ref: '#/definitions/ProductEditViewModel'}}]
            responses: {'200': {description: 'آیتم‌ مالی با موفقیت بروزرسانی شد'}, '404': {description: 'آیتم مالی با این کد موجود نمی‌باشد'}}
            
    '/v1/product/{code}':
        get:
            tags: [product]
            summary: 'نمایش یک آیتم مالی'
            operationId: V1ProductByCodeGet
            consumes: []
            produces: [application/json]
            parameters: [{name: code, in: path, description: 'کد آیتم مالی', required: true, type: string}]
            responses: {'200': {description: 'آیتم مالی با موفقیت نمایش داده شد', schema: {$ref: '#/definitions/ProductFullDeatilViewModel'}}, '404': {description: 'آیتم مالی با این کد موجود نمی‌باشد'}}
            
        delete:
            tags: [product]
            summary: 'حذف یک آیتم مالی'
            operationId: V1ProductByCodeDelete
            consumes: []
            produces: []
            parameters: [{name: code, in: path, description: 'کد آیتم مالی', required: true, type: string}]
            responses: {'200': {description: 'آیتم مالی با موفقیت حذف شد'}, '404': {description: 'آیتم مالی با این کد موجود نمی‌باشد'}}
            
    /v1/product/List:
        get:
            tags: [product]
            summary: 'دریافت لیست آیتم‌های مالی'
            operationId: V1ProductListGet
            consumes: []
            produces: [application/json]
            parameters: [{name: offset, in: query, description: 'شماره ابتدا لیست', required: false, type: integer, format: int32, default: 0}, {name: limit, in: query, description: 'شماره انتها لیست', required: false, type: integer, format: int32, default: 10}, {name: witharchived, in: query, description: 'اضافه شدن آیتم‌های آرشیو شده', required: false, type: boolean, default: false}, {name: search, in: query, description: 'کیلدواژه جستجو در آیتم‌های مالی', required: false, type: string}]
            responses: {'200': {description: 'لیست آیتم‌های مالی با موفقیت نمایش داده شد', schema: {uniqueItems: false, type: array, items: {$ref: '#/definitions/ProductListItemViewModel'}}}}
            
    /v1/Upload/ProfiePic:
        post:
            tags: [Upload]
            summary: 'آپلود عکس پروفایل کاربری'
            description: "محدودیت‌های فایل‌های ورودی:\r\n\r\nJPG, PNG, JPEG"
            operationId: V1UploadProfiePicPost
            consumes: [multipart/form-data]
            produces: []
            parameters: [{name: file, in: formData, description: 'Upload File', required: true, type: file}]
            responses: {'200': {description: 'عکس کاربر با موفقیت آپلود شد'}}
    /v1/Upload/Item:
        post:
            tags: [Upload]
            summary: 'آپلود عکس یک آیتم‌مالی'
            description: "محدودیت‌های فایل‌های ورودی:\r\n\r\nJPG, PNG, JPEG"
            operationId: V1UploadItemPost
            consumes: [multipart/form-data]
            produces: []
            parameters: [{name: file, in: formData, description: 'Upload File', required: true, type: file}]
            responses: {'200': {description: 'عکس آیتم‌مالی با موفقیت آپلود شد'}}
    /v1/Upload/InvoiceAttachment:
        post:
            tags: [Upload]
            summary: 'آپلود فایل‌ ضمیمه یک فاکتور'
            description: "محدودیت‌های فایل‌های ورودی:\r\n\r\nمحدودیت ندارد."
            operationId: V1UploadInvoiceAttachmentPost
            consumes: [multipart/form-data]
            produces: []
            parameters: [{name: file, in: formData, description: 'Upload File', required: true, type: file}]
            responses: {'200': {description: 'فایل ضمیمه فاکتور با موفقیت آپلود شد'}}
definitions:
    CreatePaymentViewModel:
        required:
            - returnUrl
        type: object
        properties:
            amount: {format: int32, description: مبلغ, maximum: 50000000, minimum: 100, type: integer}
            payerIdentity: {description: 'نام کاربری پرداخت کنند (در صورت وجود)', type: string}
            description: {description: توضیحات, type: string}
            returnUrl: {description: 'آدرس صفحه برگشت', type: string}
            clientRefId: {description: 'کد ارسالی توسط کاربر', type: string}
    PaymentResult:
        type: object
        properties:
            code: {description: 'کد پرداخت', type: string}
    CreateMultiPaymentViewModel:
        required:
            - returnUrl
        type: object
        properties:
            payerName: {description: 'نام پرداخت کننده', type: string}
            pairs: {description: 'لیست پرداخت ها', uniqueItems: false, type: array, items: {$ref: '#/definitions/MultiPayPair'}}
            returnUrl: {description: 'آدرس صفحه برگشت', type: string}
            clientRefId: {description: 'کد ارسالی توسط کاربر', type: string}
    MultiPayPair:
        type: object
        properties:
            amount: {format: int32, description: مبلغ, type: integer}
            name: {description: نام, type: string}
            userIdentity: {description: 'نام کاربری/ایمیل کاربری', type: string}
            description: {description: توضیحات, type: string}
    VerifyPaymentViewModel:
        required:
            - refId
        type: object
        properties:
            refId: {description: 'شماره فاکتور', type: string}
            amount: {format: int32, description: 'مبلغ تراکنش', maximum: 2147483647, minimum: 100, type: integer}
    TransactionReportModel:
        type: object
        properties:
            offset: {format: int32, description: 'نقطه شروع گزارش', type: integer}
            limit: {format: int32, description: 'نقطه پایان گزارش', type: integer}
            clientsInfos: {description: 'لیست ClientId,ClientInfo', uniqueItems: false, type: array, items: {$ref: '#/definitions/ClientsInfo'}}
            filter: {description: "اعمال فیلتر بر روی فلگ های \r\nکد پرداخت\r\nمبلغ\r\nتاریخ پرداخت\r\nکد ارسالی مشتری به پی پینگ\r\nتوضیحات\r\nنام یا شناسه پرداخت کننده", uniqueItems: false, type: array, items: {type: string}}
            transactionType: {format: int32, description: "نوع تراکنش\r\nدریافت ها =6\r\nپرداخت ها=7\r\nتسویه=5\r\n0 = All\r\n1 = IPaid\r\n2 = IGetPaid\r\n3 = RequestSent\r\n4 = RequestRevice\r\n5 = Withdraw\r\n6 = Daryaftha\r\n7 = Pardakhtha", enum: [0, 1, 2, 3, 4, 5, 6, 7], type: integer}
            fromDate: {format: date-time, description: 'تاریخ شروع گزارش', type: string}
            toDate: {format: date-time, description: 'تاریخ پایان گزارش', type: string}
    ClientsInfo:
        type: object
        properties:
            clientId: {type: string}
            clientRefId: {type: string}
    TransactionReportViewModel:
        type: object
        properties:
            amount: {format: int32, description: مبلغ, type: integer}
            payDate: {format: date-time, description: 'تاریخ پرداخت', type: string}
            isPaid: {description: 'اینکه پرداخت تایید شده است', type: boolean}
            description: {description: توضیحات, type: string}
            name: {description: 'نام پرداخت کننده/دریافت کننده', type: string}
            payerIdentity: {description: 'شناسه پرداخت کننده', type: string}
            isRequest: {description: درخواست/پرداخت, type: boolean}
            code: {description: 'کد پرداخت', type: string}
            clientId: {description: 'شناسه زیر سیستم مشتری در پی پینگ', type: string}
            clientRefId: {description: 'کد ارسالی مشتری به پی پینگ', type: string}
            invoiceNo: {description: 'شناسه پرداخت', type: string}
            createdDate: {format: date-time, description: 'تاریخ ساخت پرداخت/درخواست', type: string}
    BaseTransactionReport:
        type: object
        properties:
            clientsInfos: {description: 'لیست ClientId,ClientInfo', uniqueItems: false, type: array, items: {$ref: '#/definitions/ClientsInfo'}}
            filter: {description: "اعمال فیلتر بر روی فلگ های \r\nکد پرداخت\r\nمبلغ\r\nتاریخ پرداخت\r\nکد ارسالی مشتری به پی پینگ\r\nتوضیحات\r\nنام یا شناسه پرداخت کننده", uniqueItems: false, type: array, items: {type: string}}
            transactionType: {format: int32, description: "نوع تراکنش\r\nدریافت ها =6\r\nپرداخت ها=7\r\nتسویه=5\r\n0 = All\r\n1 = IPaid\r\n2 = IGetPaid\r\n3 = RequestSent\r\n4 = RequestRevice\r\n5 = Withdraw\r\n6 = Daryaftha\r\n7 = Pardakhtha", enum: [0, 1, 2, 3, 4, 5, 6, 7], type: integer}
            fromDate: {format: date-time, description: 'تاریخ شروع گزارش', type: string}
            toDate: {format: date-time, description: 'تاریخ پایان گزارش', type: string}
    ResultVM:
        type: object
        properties:
            result: {format: int64, description: تعداد, type: integer}
    PaymentDetailsVM:
        type: object
        properties:
            amount: {format: int32, description: مبلغ, type: integer}
            reqDate: {format: date-time, description: 'تاریخ درخواست', type: string}
            payDate: {format: date-time, description: 'تاریخ پرداخت', type: string}
            isRequest: {description: درخواست/پرداخت, type: boolean}
            isPaid: {description: 'تاییدیه پرداخت', type: boolean}
            description: {description: توضیحات, type: string}
            payerIdentity: {description: 'شناسه پرداخت کننده', type: string}
            platform: {description: 'نوع سیستم عامل پرداخت کننده', type: string}
            browser: {description: 'مرورگر پرداخت کننده', type: string}
            rrn: {description: 'شماره کارت پرداخت کننده', type: string}
            clientId: {description: 'شناسه زیر سیستم مشتری در پی پینگ', type: string}
            clientRefId: {description: 'کد ارسالی مشتری به پی پینگ', type: string}
            invoiceNo: {description: 'شناسه پرداخت', type: string}
            wage: {format: int32, description: کارمزد, type: integer}
    CreateRequestViewModel:
        required:
            - returnUrl
        type: object
        properties:
            name: {description: 'نام درخواست کننده', type: string}
            amount: {format: int32, description: مبلغ, maximum: 50000000, minimum: 100, type: integer}
            payerIdentity: {description: 'نام کاربری درخواست کننده (در صورت وجود)', type: string}
            description: {description: توضیحات, type: string}
            returnUrl: {description: 'آدرس صفحه برگشت', type: string}
            clientRefId: {description: 'کد ارسالی توسط کاربر', type: string}
    RequestResult:
        type: object
        properties:
            code: {description: 'کد درخواست', type: string}
    CreateMultiRequestViewModel:
        required:
            - returnUrl
        type: object
        properties:
            pairs: {description: 'لیست درخواست دهنده ها', uniqueItems: false, type: array, items: {$ref: '#/definitions/MultiPayPair'}}
            returnUrl: {description: 'آدرس صفحه برگشت', type: string}
            clientRefId: {description: 'کد ارسالی توسط کاربر', type: string}
    MultiRequestViewModel:
        type: object
        properties:
            username: {description: 'نام کاربری', type: string}
            code: {description: 'کد درخواست', type: string}
    WithdrawResult:
        type: object
        properties:
            code: {description: 'کد تسویه', type: string}
    WithdrawDetailsViewModel:
        type: object
        properties:
            amount: {format: int32, description: مبلغ, type: integer}
            reqDate: {format: date-time, description: 'تاریخ درخواست تسویه', type: string}
            isRepaid: {description: 'تاییدیه تسویه', type: boolean}
            repayDate: {format: date-time, description: 'تاریخ تایید تسویه', type: string}
    AddressBookListItemViewModel:
        description: 'مشخصات مشتری'
        type: object
        properties:
            code: {description: 'کلید یکتا مشتری', type: string}
            email: {description: 'پست الکترونیک', type: string}
            phone: {description: تلفن, type: string}
            firstName: {description: نام, type: string}
            lastName: {description: 'نام خانوادگی', type: string}
            businessName: {description: 'نام کسب و کار', type: string}
            nationalId: {description: 'کد ملی/شماره اقتصادی', type: string}
            isBusiness: {description: 'حقوقی = true, حقیقی = false', type: string}
    ListCountViewModel:
        type: object
        properties:
            count: {format: int32, type: integer}
    AddressBookDetailViewModel:
        description: 'جزییات مشخصات مشتری'
        required:
            - code
            - firstName
            - lastName
        type: object
        properties:
            code: {description: 'کلید یکتای مشتری', type: string}
            userPhotoFileAddress: {description: 'پس از آپلود و دریافت کلید فایل را اینجا قرار دهید', type: string}
            userPhotoFileId: {description: 'لیست کلیدهای یکتا فایل تصویر پرسنلی', type: string}
            email: {description: 'پست الکترونیک', type: string, example: info@example.com}
            phone: {description: تلفن, type: string, example: '09110000000'}
            firstName: {description: نام, type: string, example: پوریا}
            lastName: {description: 'نام خانوادگی', type: string, example: منفرد}
            businessName: {description: 'نام کسب و کار', type: string, example: 'پی پینگ'}
            additionalInfo: {description: 'اطلاعات اضافی', type: string, example: 'او یک وکیل است'}
            memo: {description: یادآوری, type: string, example: 'در پی پینگ با ایشان آشنا شدم'}
            zipCode: {description: کدپستی, type: string, example: '46169696164'}
            state: {description: استان, type: string, example: تهران}
            city: {description: شهر, type: string, example: تهران}
            location: {description: آدرس, type: string, example: 'خیابان جمهوری'}
            isBusiness: {description: 'حقوقی = true, حقیقی = false', type: boolean, example: 'false'}
            nationalId: {description: 'کد ملی/شماره اقتصادی', type: string, example: '22266655591'}
    AddressBookEditViewModel:
        description: 'بروزرسانی مشتری'
        required:
            - code
            - firstName
            - lastName
        type: object
        properties:
            code: {description: 'کلید یکتای مشتری', type: string}
            userPhotoFileId: {description: 'پس از آپلود و دریافت کلید فایل را اینجا قرار دهید', type: string}
            email: {description: 'پست الکترونیک', type: string, example: info@example.com}
            phone: {description: تلفن, type: string, example: '09110000000'}
            firstName: {description: نام, type: string, example: پوریا}
            lastName: {description: 'نام خانوادگی', type: string, example: منفرد}
            businessName: {description: 'نام کسب و کار', type: string, example: 'پی پینگ'}
            additionalInfo: {description: 'اطلاعات اضافی', type: string, example: 'او یک وکیل است'}
            zipCode: {description: کدپستی, type: string, example: '46169696164'}
            state: {description: استان, type: string, example: تهران}
            city: {description: شهر, type: string, example: تهران}
            location: {description: آدرس, type: string, example: 'خیابان جمهوری'}
            memo: {description: 'متن یادآوری', type: string, example: 'به او مبلغی بدهکار می باشم'}
            isBusiness: {description: 'حقوقی = true, حقیقی = false', default: false, type: boolean, example: 'false'}
            nationalId: {description: کدملی, type: string, example: '22266655591'}
    AddressBookCreateViewModel:
        description: 'ثبت مشتری جدید'
        required:
            - firstName
            - lastName
        type: object
        properties:
            userPhotoFileId: {description: 'پس از آپلود و دریافت کلید فایل را اینجا قرار دهید', type: string}
            email: {description: 'پست الکترونیک', type: string, example: info@example.com}
            phone: {description: تلفن, type: string, example: '09110000000'}
            firstName: {description: نام, type: string, example: پوریا}
            lastName: {description: 'نام خانوادگی', type: string, example: منفرد}
            businessName: {description: 'نام کسب و کار', type: string, example: 'پی پینگ'}
            additionalInfo: {description: 'اطلاعات اضافی', type: string, example: 'او یک وکیل است'}
            zipCode: {description: کدپستی, type: string, example: '46169696164'}
            state: {description: استان, type: string, example: تهران}
            city: {description: شهر, type: string, example: تهران}
            location: {description: آدرس, type: string, example: 'خیابان جمهوری'}
            memo: {description: 'متن یادآوری', type: string, example: 'به او مبلغی بدهکار می باشم'}
            isBusiness: {description: 'حقوقی = true, حقیقی = false', default: false, type: boolean, example: 'false'}
            nationalId: {description: کدملی, type: string, example: '22266655591'}
    InvoiceDashboardReportViewModel:
        description: 'گزارش لیست مبلغ کل فاکتور ها به تفکیک وضعیت'
        type: object
        properties:
            draftAmount: {format: double, description: 'جمع پیش نویش', type: number}
            paidAmount: {format: double, description: 'جمع پرداخت شده', type: number}
            unpaidAmount: {format: double, description: 'جمع در انتظار پرداخت', type: number}
            expiredAmount: {format: double, description: 'جمع معوق شده', type: number}
            cancelAmount: {format: double, description: 'جمع لغو شده', type: number}
            draftAmountStr: {description: 'جمع پیش نویش', type: string}
            paidAmountStr: {description: 'جمع پرداخت شده', type: string}
            unpaidAmountStr: {description: 'جمع در انتظار پرداخت', type: string}
            expiredAmountStr: {description: 'جمع معوق شده', type: string}
            cancelAmountStr: {description: 'جمع لغو شده', type: string}
    ScheduleInvoiceWithChilds:
        description: 'جزییات کامل فاکتور زمابندی شده'
        type: object
        properties:
            parentInvoice: {$ref: '#/definitions/InvoiceDetailViewModel', description: 'فاکتور زمانبندی والد'}
            childInvoices: {description: 'فاکتورهای ساخته شده توسط فاکتور زمابندی والد', uniqueItems: false, type: array, items: {$ref: '#/definitions/InvoiceDetailViewModel'}}
    InvoiceDetailViewModel:
        description: 'جزییات فاکتور'
        type: object
        properties:
            code: {description: 'کلید یکتای فاکتور', type: string}
            parentCode: {description: 'کلید والد بودن فاکتور', type: string}
            paymentCode: {description: 'کد یکتای پرداخت', type: string}
            ccToes: {description: 'لیست ایمیل', uniqueItems: false, type: array, items: {$ref: '#/definitions/InvoiceCcToDetailViewModel'}}
            billToes: {description: 'لیست مشتری', uniqueItems: false, type: array, items: {$ref: '#/definitions/InvoiceBillToDetailViewModel'}}
            status: {format: int32, description: "وضعیت فاکتور:\r\n0 = پیش نویس\r\n1 = در انتظار پرداخت\r\n2 = پرداخت شد\r\n3 = معوق\r\n4 = لغو شده\r\n5 = همه", enum: [0, 1, 2, 3, 4, 5], type: integer}
            paidManualDescription: {description: 'شرح پرداخت دستی', type: string}
            saveToTemplate: {description: 'ذخیره به عنوان قالب فاکتور', type: boolean}
            invoiceNumber: {format: int64, description: 'شماره فاکتور', type: integer}
            invoiceTitle: {description: 'عنوان فاکتور', type: string}
            invoiceDateTime: {format: date-time, description: 'تاریخ ثبت', type: string}
            dueDate: {format: date-time, description: 'تاریخ سررسید', type: string}
            payedDateTime: {format: date-time, description: 'تاریخ پرداخت', type: string}
            canceledDateTime: {format: date-time, description: 'تاریخ لغو', type: string}
            subTotal: {format: double, description: 'جمع مبلغ پرداختی آیتم های مالی', type: number}
            itemsDiscountAmount: {format: double, description: 'جمع مبلغ تخفیف آیتم های مالی', type: number}
            totalDiscountAmount: {format: double, description: 'مبلغ تخفیف به کل فاکتور', type: number}
            totalDiscountPercent: {format: int32, description: 'درصد تخفیف به کل فاکتور', type: integer}
            totalDiscountType: {format: int32, description: "نوع تخفیف به کل فاکتور:\r\n0 = مبلغ\r\n1 = درصد", enum: [0, 1], type: integer}
            sumDiscountAmount: {format: double, description: 'جمع کل تخفیف اعمال شده روی فاکتور', type: number}
            totalTaxtionAmount: {format: double, description: 'مبلغ مالیات', type: number}
            shipping: {format: double, description: 'هزینه حمل و نقل', type: number}
            total: {format: double, description: 'مبلغ کل', type: number}
            notes: {description: 'پیامی جهت نمایش به پرداخت کننده', type: string}
            termsAndConditions: {description: 'متن شرایط و قوانین جهت نمایش به پرداخت کننده', type: string}
            memo: {description: 'متن دلخواه جهت یادآوری فقط برای صادر کننده فاکتور', type: string}
            invoiceSchulder: {$ref: '#/definitions/InvoiceSchulderDetailViewModel', description: 'ارسال زماندار که رابطه (یک به یک) یا (یک به صفر) دارد'}
            invoiceItems: {description: 'آیتم های مالی فاکتور', uniqueItems: false, type: array, items: {$ref: '#/definitions/InvoiceItemDetailViewModel'}}
            isSendAttachmentsAfterPayment: {description: 'نمایش فایل های ضمیمه به پرداخت کننده پس از پرداخت موفق = true, نمایش در قبل و بعد از پرداخت = false', type: boolean}
            isSendNotesAndTermsAfterPayment: {description: 'نمایش پیام به پرداخت کننده پس از پرداخت موفق = true, نمایش در قبل و بعد از پرداخت = false', type: boolean}
            isSendTermsAfterPayment: {description: 'نمایش متن قوانین و مقررات به پرداخت کننده پس از پرداخت موفق = true, نمایش در قبل و بعد از پرداخت = false', type: boolean}
            attachFileIds: {description: 'لیست کلید یکتای فایل های ضمیمه', uniqueItems: false, type: array, items: {type: string}}
            attachFileAddresses: {description: 'لیست آدرس فایل های ضمیمه', uniqueItems: false, type: array, items: {type: string}}
            qrCodeFileName: {description: 'آدرس تصویر بارکد فاکتور', type: string}
    InvoiceCcToDetailViewModel:
        description: CC
        type: object
        properties:
            emailAddress: {description: 'آدرس ایمیل', type: string}
    InvoiceBillToDetailViewModel:
        description: 'مشتری یا پرداخت کننده'
        type: object
        properties:
            addressBook: {$ref: '#/definitions/AddressBookDetailViewModel', description: 'مشخصات مشتری یا پرداخت کننده'}
    InvoiceSchulderDetailViewModel:
        description: 'جزییات اطلاعات ساخت زمانبندی فاکتور'
        type: object
        properties:
            repeat: {format: int32, description: 'تکرار در هر X روز/هفته/ماه/سال', type: integer}
            schulderType: {format: int32, description: "نوع زمانبندی:\r\n0 = روزانه\r\n1 = هفتگی\r\n2 = ماهانه\r\n3 = سالانه", enum: [0, 1, 2, 3], type: integer}
            dueType: {format: int32, description: "نوع پایان زمانبندی:\r\n0 = پس از ساخت X فاکتور\r\n1 = پایان دادن به ساخت فاکتور در تاریخ X\r\n2 = ساخت نامحدود فاکتور", enum: [0, 1, 2], type: integer}
            endValue: {description: 'تعداد/تاریخ پایان، تولید فاکتور', type: string}
            dueDateAfterHowManyDay: {format: int32, description: 'سررسید بعد از X روز', type: integer}
            invoiceSubSchulders: {description: 'لیست دستور ساخت فاکتورهای زمانبندی شده و وضعیت آن ها', uniqueItems: false, type: array, items: {$ref: '#/definitions/InvoiceSubSchulderDetailViewModel'}}
    InvoiceItemDetailViewModel:
        description: 'جزییات آیتم مالی فاکتور'
        type: object
        properties:
            code: {description: 'کد یکتا', type: string}
            name: {description: عنوان, type: string}
            description: {description: توضیحات, type: string}
            quantity: {format: int32, description: تعداد, type: integer}
            discountType: {format: int32, description: "نوع تخفیف:\r\n0 = مبلغ\r\n1 = درصد", enum: [0, 1], type: integer}
            discountPercent: {format: int32, description: 'درصد تخفیف', type: integer}
            discountAmount: {format: double, description: 'مبلغ تخفیف', type: number}
            tax: {description: 'دارای مالیات = true, نداشتن مالیات = false', type: boolean}
            taxRate: {format: int32, description: 'مقدار درصد مالیات', type: integer}
            price: {format: double, description: 'مبلغ فی', type: number}
            totalPrice: {format: double, description: 'مبلغ فی - مبلغ تخفیف) * تعداد = مجموع)', type: number}
            amount: {format: double, description: 'مجموع + مالیات = پرداختی', type: number}
    InvoiceSubSchulderDetailViewModel:
        description: 'جزییات دستور ساخت فاکتورهای زمانبندی شده و وضعیت آن ها'
        type: object
        properties:
            dueDate: {format: date-time, description: 'تاریخ سررسید فاکتوری که باید ساخته شود', type: string}
            mustBeCreateInDateTime: {format: date-time, description: 'تاریخ روزی که فاکتور باید ساخته شود', type: string}
            deActiveDateTime: {format: date-time, description: 'تاریخ غیر فعال شدن ساخت فاکتور', type: string}
            isInvoiceCreated: {description: 'ساخته شد = true, در صف انتظار= false', type: boolean}
            isActive: {description: 'فعال بود = true, غیر فعال = false', type: boolean}
            invoiceCode: {description: 'کلید یکتا فاکتور ساخته شده', type: string}
    InvoiceListItemViewModel:
        type: object
        properties:
            code: {description: 'کلید یکتای فاکتور', type: string}
            invoiceNumber: {format: int64, description: 'شماره فاکتور', type: integer}
            invoiceDateTime: {format: date-time, description: 'تاریخ ثبت فاکتور', type: string}
            dueDate: {format: date-time, description: 'تاریخ سررسید فاکتور', type: string}
            payedDateTime: {format: date-time, description: 'تاریخ پرداخت', type: string}
            canceledDateTime: {format: date-time, description: 'تاریخ لغو', type: string}
            invoiceTitle: {description: عنوان, type: string}
            status: {format: int32, description: "وضعیت فاکتور\r\n0 = پیش نویس\r\n1 = در انتظار پرداخت\r\n2 = پرداخت شد\r\n3 = معوق\r\n4 = لغو شده\r\n5 = همه", enum: [0, 1, 2, 3, 4, 5], type: integer}
            total: {format: double, description: 'مبلغ نهایی یا قابل پرداخت', type: number}
            ccToes: {description: 'دریافت کننده های ایمیلی', uniqueItems: false, type: array, items: {$ref: '#/definitions/InvoiceCcToListItemViewModel'}}
            billToes: {description: 'دریافت کننده ها - مشتریان', uniqueItems: false, type: array, items: {$ref: '#/definitions/InvoiceBillToListItemViewModel'}}
    InvoiceCcToListItemViewModel:
        description: CC
        type: object
        properties:
            emailAddress: {description: 'آدرس ایمیل', type: string}
    InvoiceBillToListItemViewModel:
        description: 'مشتری یا پرداخت کننده'
        type: object
        properties:
            addressBook: {$ref: '#/definitions/AddressBookListItemViewModel', description: 'مشخصات مشتری یا پرداخت کننده'}
    InvoiceEditViewModel:
        description: 'بروزرسانی فاکتور ساده'
        required:
            - code
        type: object
        properties:
            code: {description: 'کلید یکتای فاکتور', type: string}
            ccToes: {description: 'ایمیل ها', uniqueItems: false, type: array, items: {$ref: '#/definitions/InvoiceCcToCreateOrUpdateViewModel'}}
            billToes: {description: مشتریان, uniqueItems: false, type: array, items: {$ref: '#/definitions/InvoiceBillToCreateOrUpdateViewModel'}}
            createStatus: {format: int32, description: "نوع ثبت:\r\n0 = ذخیره در پیش نویس\r\n1 = ارسال\r\n2 = دستی پرداخت شد", enum: [0, 1, 2], type: integer}
            paidManualDescription: {description: 'شرح پرداخت دستی', default: "", type: string}
            saveToTemplate: {description: 'ذخیره به عنوان قالب', default: false, type: boolean}
            templateCode: {description: 'کد یکتای قالب فاکتور', default: "", type: string}
            invoiceNumber: {format: int64, description: 'شماره فاکتور', type: integer}
            invoiceTitle: {description: 'عنوان فاکتور', type: string}
            invoiceDateTime: {format: date-time, description: 'تاریخ ثبت', type: string}
            dueDate: {format: date-time, description: 'تاریخ سررسید- تاریخی که باید پرداخت صورت پذیرد', type: string}
            totalDiscountValue: {format: double, description: 'تخفیف به کل فاکتور', type: number}
            totalDiscountType: {format: int32, description: "نوع تخفیف به مبلغ یا درصد\r\n0 = مبلغ\r\n1 = درصد", enum: [0, 1], type: integer}
            shipping: {format: double, description: 'هزینه حمل و نقل', type: number}
            notes: {description: 'متن جهت ارسال به دریافت کننده', default: "", type: string}
            termsAndConditions: {description: 'متن شرایط و قوانین جهت ارسال به دریافت کننده', default: "", type: string}
            memo: {description: 'ایجاد یک متن دلخواه جهت یادآوری فقط برای کاربر ثبت کننده', default: "", type: string}
            invoiceItems: {description: 'آیتم های مالی فاکتور', uniqueItems: false, type: array, items: {$ref: '#/definitions/InvoiceItemCreateViewModel'}}
            isSendAttachmentsAfterPayment: {description: 'نمایش فایل های ضمیمه به پرداخت کننده پس از پرداخت موفق = true, نمایش در قبل و بعد از پرداخت = false', default: false, type: boolean}
            isSendNotesAndTermsAfterPayment: {description: 'نمایش پیام به پرداخت کننده پس از پرداخت موفق = true, نمایش در قبل و بعد از پرداخت = false', default: false, type: boolean}
            isSendTermsAfterPayment: {description: 'نمایش متن قوانین و مقررات به پرداخت کننده پس از پرداخت موفق = true, نمایش در قبل و بعد از پرداخت = false', default: false, type: boolean}
            attachmentsIds: {description: 'کلید(های) یکتا دریافت شده از سرویس آپلود به صورت آرایه از رشته ها قرار دهید', uniqueItems: false, type: array, items: {type: string}}
            isDevicePayment: {description: 'ثبت فاکتور بدون مشتری = true, با مشتری = false', default: false, type: boolean}
    InvoiceCcToCreateOrUpdateViewModel:
        description: CC
        type: object
        properties:
            emailAddress: {description: 'آدرس ایمیل', default: "", type: string}
    InvoiceBillToCreateOrUpdateViewModel:
        description: 'ثبت یا بروزرسانی مشتری'
        type: object
        properties:
            addressBookCode: {description: 'کلید یکتای مشتری', default: "", type: string}
    InvoiceItemCreateViewModel:
        description: 'ثبت آیتم مالی فاکتور'
        type: object
        properties:
            code: {description: 'کلید یکتا', default: "", type: string}
            name: {description: عنوان, default: "", type: string}
            description: {description: توضیحات, default: "", type: string}
            tax: {description: 'دارای مالیات = true, نداشتن مالیات = false', default: false, type: boolean}
            quantity: {format: int32, description: تعداد, default: 1, type: integer}
            discountValue: {format: double, description: 'مقدار تخفیف', type: number}
            discountType: {format: int32, description: "نوع تخفیف:\r\n0 = مبلغ\r\n1 = درصد", enum: [0, 1], type: integer}
            discountCouponCode: {description: 'کد یکتا تخفیف از بخش تخفیف ها', type: string}
            price: {format: double, description: 'مبلغ فی', default: 0, type: number}
    InvoiceSendByTemplate:
        description: 'ثبت فاکتور با استفاده از قالب فاکتور'
        required:
            - templateCode
        type: object
        properties:
            templateCode: {description: 'کلید یکتای قالب فاکتور', type: string}
            invoiceTitle: {description: 'عنوان فاکتور', type: string}
            invoiceNumber: {format: int64, description: 'شماره فاکتور', default: 1, type: integer}
            invoiceDateTime: {format: date-time, description: 'تاریخ ثبت', type: string}
            dueDate: {format: date-time, description: 'تاریخ سررسید- تاریخی که باید پرداخت صورت پذیرد', type: string}
            ccToes: {description: 'لیست آدرس ایمیل', uniqueItems: false, type: array, items: {$ref: '#/definitions/InvoiceCcToCreateOrUpdateViewModel'}}
            billToes: {description: 'لیست مشتری', uniqueItems: false, type: array, items: {$ref: '#/definitions/InvoiceBillToCreateOrUpdateViewModel'}}
            isDevicePayment: {description: 'ثبت فاکتور بدون مشتری = true, با مشتری = false', default: false, type: boolean}
    InvoiceSendByTemplateSimple:
        description: 'ثبت فاکتور با استفاده از قالب فاکتور'
        required:
            - templateCode
        type: object
        properties:
            templateCode: {description: 'کلید یکتای قالب فاکتور', type: string}
            emailAddresses: {description: 'لیست آدرس ایمیل', uniqueItems: false, type: array, items: {type: string}}
            addressBook: {$ref: '#/definitions/AddressBookCreateViewModel', description: 'مشخصات مشتری'}
    InvoiceCreateViewModel:
        description: 'ثبت فاکتور ساده'
        type: object
        properties:
            ccToes: {description: 'ایمیل ها', uniqueItems: false, type: array, items: {$ref: '#/definitions/InvoiceCcToCreateOrUpdateViewModel'}}
            billToes: {description: مشتریان, uniqueItems: false, type: array, items: {$ref: '#/definitions/InvoiceBillToCreateOrUpdateViewModel'}}
            createStatus: {format: int32, description: "نوع ثبت:\r\n0 = ذخیره در پیش نویس\r\n1 = ارسال\r\n2 = دستی پرداخت شد", enum: [0, 1, 2], type: integer}
            paidManualDescription: {description: 'شرح پرداخت دستی', default: "", type: string}
            saveToTemplate: {description: 'ذخیره به عنوان قالب', default: false, type: boolean}
            templateCode: {description: 'کد یکتای قالب فاکتور', default: "", type: string}
            invoiceNumber: {format: int64, description: 'شماره فاکتور', type: integer}
            invoiceTitle: {description: 'عنوان فاکتور', type: string}
            invoiceDateTime: {format: date-time, description: 'تاریخ ثبت', type: string}
            dueDate: {format: date-time, description: 'تاریخ سررسید- تاریخی که باید پرداخت صورت پذیرد', type: string}
            totalDiscountValue: {format: double, description: 'تخفیف به کل فاکتور', type: number}
            totalDiscountType: {format: int32, description: "نوع تخفیف به کل فاکتور:\r\n0 = مبلغ\r\n1 = درصد", enum: [0, 1], type: integer}
            shipping: {format: double, description: 'هزینه حمل و نقل', type: number}
            notes: {description: 'پیامی جهت نمایش به پرداخت کننده', default: "", type: string}
            termsAndConditions: {description: 'متن شرایط و قوانین جهت نمایش به پرداخت کننده', default: "", type: string}
            memo: {description: 'ایجاد یک متن دلخواه جهت یادآوری فقط برای صادر کننده فاکتور', default: "", type: string}
            invoiceItems: {description: 'آیتم های مالی فاکتور', uniqueItems: false, type: array, items: {$ref: '#/definitions/InvoiceItemCreateViewModel'}}
            isSendAttachmentsAfterPayment: {description: 'نمایش فایل های ضمیمه به پرداخت کننده پس از پرداخت موفق = true, نمایش در قبل و بعد از پرداخت = false', default: false, type: boolean}
            isSendNotesAndTermsAfterPayment: {description: 'نمایش پیام به پرداخت کننده پس از پرداخت موفق = true, نمایش در قبل و بعد از پرداخت = false', default: false, type: boolean}
            isSendTermsAfterPayment: {description: 'نمایش متن قوانین و مقررات به پرداخت کننده پس از پرداخت موفق = true, نمایش در قبل و بعد از پرداخت = false', default: false, type: boolean}
            attachmentsIds: {description: 'کلید(های) یکتا دریافت شده از سرویس آپلود به صورت آرایه از رشته ها قرار دهید', uniqueItems: false, type: array, items: {type: string}}
            isDevicePayment: {description: 'ثبت فاکتور بدون مشتری = true, با مشتری = false', default: false, type: boolean}
    InvoiceCreateScheduleViewModel:
        description: 'ثبت فاکتور زمانبندی شده'
        type: object
        properties:
            ccToes: {description: 'ایمیل ها', uniqueItems: false, type: array, items: {$ref: '#/definitions/InvoiceCcToCreateOrUpdateViewModel'}}
            billToes: {description: مشتریان, uniqueItems: false, type: array, items: {$ref: '#/definitions/InvoiceBillToCreateOrUpdateViewModel'}}
            createStatus: {format: int32, description: "نوع ثبت:\r\n1 = ارسال\r\n2 = دستی پرداخت شد", enum: [1, 2], type: integer}
            paidManualDescription: {description: 'شرح پرداخت دستی', default: "", type: string}
            saveToTemplate: {description: 'ذخیره به عنوان قالب', default: false, type: boolean}
            templateCode: {description: 'کد یکتای قالب فاکتور', default: "", type: string}
            invoiceNumber: {format: int64, description: 'شماره فاکتور', type: integer}
            invoiceTitle: {description: 'عنوان فاکتور', type: string}
            invoiceDateTime: {format: date-time, description: 'تاریخ ثبت', type: string}
            dueDate: {format: date-time, description: 'تاریخ سررسید- تاریخی که باید پرداخت صورت پذیرد', type: string}
            totalDiscountValue: {format: double, description: 'تخفیف به کل فاکتور', type: number}
            totalDiscountType: {format: int32, description: "نوع تخفیف به کل فاکتور:\r\n0 = مبلغ\r\n1 = درصد", enum: [0, 1], type: integer}
            shipping: {format: double, description: 'هزینه حمل و نقل', type: number}
            notes: {description: 'پیامی جهت نمایش به پرداخت کننده', default: "", type: string}
            termsAndConditions: {description: 'متن شرایط و قوانین جهت نمایش به پرداخت کننده', default: "", type: string}
            memo: {description: 'ایجاد یک متن دلخواه جهت یادآوری فقط برای صادر کننده فاکتور', default: "", type: string}
[...]
