---
swagger: '2.0'
info:
  version: نسخه اول
  title: سرویس‌های پلتفرم مالی پی‌پینگ
  x-logo:
    url: 'https://raw.githubusercontent.com/Ashkan-rmk/test-redoc/7acf03754958b2cd9778771ff5e02cbc0cb8e68b/logo/logo.png'
  description: >
   مستندات سرویس‌های عمومی پی‌پینگ

    # مقدمات

    مستندات سرویس‌های عمومی پلت‌فرم مالی پی‌پینگ.
    جهت رفع هرگونه مشکل و یا پرسش با پشتیبانی در تماس باشید.

    # توضیحات تکمیلی برای تمام سرویس‌ها

    برای فراخوانی سرویس‌های صفحه‌بندی (pagination) اگر پارامتر ورودی ارسال نشود، حداکثر ۱۰ آیتم نمایش داده می‌شود و همچنین حداکثر تعداد دریافت آیتم به ازای هر درخواست ۵۰ عدد می‌باشد و بیشتر از آن را سرویس پشتیبانی نمی‌کند و در صورت نیاز به بارگزاری تمام آیتم‌های یک سرویس به صورت یکجا با ایمیل به بخش پشتیبانی در تماس باشید.

    # نکاتی برای آپلود فایل‌ها

    برای آپلود هرگونه فایل اعم از عکس پروفایل کاربران و یا گزارشات پرداخت‌ها و ... می‌بایست که از [سرویس آپلودمنیجر](#tag/Upload) استفاده کنید.
    
    پس از انجام عملیات آپلود توسط سرویس آپلود منیجر، نام فایل آپلود شده به عنوان خروجی به شما برگردانده می‌شود و سپس با آپدیت کردن فیلد مربوط به فایل آبجکت مورد نظر، آن را در دیتابیس ذخیره نمایید.

    # جدول کدهای دریافتی از هر سرویس

    بعد از ارسال هر درخواست به سمت سرور، از سمت ما طبق قواعد وب‌سرویس‌های RESTful یک کدی به شما بازگرداننده می‌شود.
    هر کد معنایی دارد که در جدول زیر توضیحات مربوطه را می‌بینید

    |شماره کد|توضیحات|
    |-------|--------|
    |`200`| عملیات با موفقیت انجام شد |
    |`400`| مشکلی در ارسال درخواست وجود دارد |
    |`500`| مشکلی در سرور رخ داده است |
    |`503`| سرور در حال حاضر قادر به پاسخگویی نمی‌باشد |
    |`401`| عدم دسترسی|
    |`403`| دسترسی غیر مجاز |
    |`404`| آیتم درخواستی مورد نظر موجود نمی‌باشد |

    # پروتکل احراز هویت

    در فریمورک OAuth ما یک لایه‌ی احراز هویت (Authorization Layer) ایجاد کردیم و نقش کلاینت (کلاینت می‌تواند کاربر یا مرورگر یا یک نرم‌افزار باشد) را از مجوز دسترسی آن جدا کرده‌ایم. در نتیجه به جای استفاده از مجوزهای دسترسی برای منابع محافظت شده می‌توان از اکسس توکن (access_token) استفاده کرد. که این access token به صورت یک رشته حاوی حروف و اعداد ایجاد می‌شود و دارای زمان انقضاء، اسکوپ (یا محدوده) و سایر ویژگی‌ها است. حال کاربر یا کلاینت از این access token برای دسترسی به سرویس‌ها و بخش‌های مختلف استفاده می‌کند. 
    
    ما برای احراز هویت دو روش داریم:
      - JWT  

    OAuth2  یک پروتکل باز که به شما اجازه احراز هویت امن با استفاده از یک متد استاندارد و ساده در اپلیکیشن‌های وب، موبایل و دسکتاپ میدهد

    
    <!-- ReDoc-Inject: <security-definitions> -->
  termsOfService: None
host: api.payping.io
tags:
    - name: Product
      description: سرویس‌های عمومی بخش آیتم‌های مالی، لینک ثابت و سرویس‌های مربوط به پروسه پرداخت آنها 
    - name: Campaign
      description: سرویس‌های عمومی بخش کمپین‌ها‌
    - name: Coupon
      description: سرویس‌های عمومی بخش کدهای تخفیف
    - name: ItemPay
      description: سرویس‌های عمومی بخش پروسه پرداخت یک آیتم‌مالی‌‌ 
    - name: Category
      description: سرویس‌های عمومی بخش دسته‌بندی‌ها 

    - name: AppManage
      description: متن تستی برای توضیح کنترلر مدیریت برنامه
    - name: File
      description: لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. 
    - name: Manage
      description: لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. 

    - name: Upload
      description: متدهای مرتبط با [آپلود فایل‌ها](#section/) ورودی تمام این سرویس‌ها به صورت formData می‌باشد.  

    - name: Account
      description: لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
    - name: AddressBooks
      description: لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
    - name: BusinessInfoes
      description: لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
    - name: Invoices
      description: لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
    - name: Items
      description: لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
    - name: UploadManager
      description: لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.

    - name: Payment
      description: متدهای مرتبط با تراکنش‌های مالی که شامل پرداخت پول، پرداخت تسهیمی و تمام فرآیندهای تایید یک تراکنش می‌باشد. 
    - name: Report
      description: متدهای مرتبط با گزارش تراکنش‌های درخواست و یا پرداخت پول.
    - name: Request
      description: متدهای مرتبط با درخواست پول از دیگران به صورتیکه برای آنها یک لینک پرداخت به صورت ایمیل و یا پیامک ارسال می‌شود. 
    - name: Withdraw
      description: متدهای مرتبط با درخواست تسویه حساب.

x-tagGroups:
    - name: سرویس پرداخت
      tags:
        - Payment
        - Request
        - Withdraw
        - Report
    - name: سرویس آیتم‌های مالی
      tags:
        - Product
        - Campaign
        - Coupon
        - PermaLink
    - name: سرویس فاکتور
      tags:
        - Account
        - AddressBooks
        - BusinessInfoes
        - Invoices
    - name: سرویس آپلود فایل
      tags:
        - Upload



paths:

  "/v1/pay":
    post:
      tags:
      - Payment
      summary: ساخت پول جدید
      description: "پس از فراخوانی این متد و ساخت پول، یک کد 4 حرفی تولید می شود که
        برای ورود به درگاه بانکی باید\r\nمتد GoToIpg که به همین منظور تهیه شده است
        را فراخوانی کرد.\r\nمتد GoToIpg شما را به درگاه بانکی Redirecte می کند که
        یعنی باید خروجی این متد در Response صفحه مورد نظر قرار داده شود.\r\nآدرس ورودی
        به درگاه بانکی مطابق زیر می باشد\r\n\r\n\r\nhttps://api.payping.io/v1/pay/gotoipg/payment_Code\r\n\r\n\r\nمثال:
        https://api.payping.io/v1/pay/gotoipg/XXXX"
      operationId: V1PayPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: model
        in: body
        description: مشخصات پرداخت
        required: false
        schema:
          "$ref": "#/definitions/CreatePaymentViewModel"
      responses:
        '200':
          description: پرداخت پول جدید با موفقیت ساخته شد
          schema:
            "$ref": "#/definitions/PaymentResult"
  "/v1/pay/Multi":
    post:
      tags:
      - Payment
      summary: ساخت پرداخت تسهیمی جدید
      description: "پس از فراخوانی این متد و ساخت پرداخت تسهیمی، یک کد 4 حرفی تولید
        می شود که برای ورود به درگاه بانکی باید\r\nمتد GoToIpg که به همین منظور تهیه
        شده است را فراخوانی کرد.\r\nمتد GoToIpg شما را به درگاه بانکی Redirecte می
        کند که یعنی باید خروجی این متد در Response صفحه مورد نظر قرار داده شود.\r\nآدرس
        ورودی به درگاه بانکی مطابق زیر می باشد\r\n\r\n\r\nhttps://api.payping.io/v1/pay/gotoipg/payment_Code\r\n\r\n\r\nمثال:
        https://api.payping.io/v1/pay/gotoipg/XXXX"
      operationId: V1PayMultiPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: model
        in: body
        description: مشخصات پرداخت
        required: false
        schema:
          "$ref": "#/definitions/CreateMultiPaymentViewModel"
      responses:
        '200':
          description: پرداخت پول جدید با موفقیت ساخته شد
          schema:
            "$ref": "#/definitions/PaymentResult"
  "/v1/pay/verify":
    post:
      tags:
      - Payment
      summary: تایید پرداخت
      operationId: V1PayVerifyPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: model
        in: body
        description: مشخصات پرداختی
        required: false
        schema:
          "$ref": "#/definitions/VerifyPaymentViewModel"
      responses:
        '200':
          description: تاییدیه آیتم مالی با موفقیت انجام شد
          schema:
            "$ref": "#/definitions/VerifyResultVM"
  "/v1/pay/{Code}":
    delete:
      tags:
      - Payment
      summary: لغو پرداخت
      operationId: V1PayByCodeDelete
      consumes: []
      produces: []
      parameters:
      - name: code
        in: path
        description: کد پرداخت
        required: true
        type: string
      responses:
        '200':
          description: عملیات لغو با موفقیت انجام شد
  "/v1/report/TransactionReport":
    get:
      tags:
      - Report
      summary: گزارش تراکنش ها
      operationId: V1ReportTransactionReportGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: ClientId
        in: query
        description: سازنده تراکنش
        required: false
        type: string
      - name: ClientRefId
        in: query
        description: یک مقدار ارسالی از سوی کلاینت
        required: false
        type: string
      - name: transactionType
        in: query
        description: نوع تراکنش
        required: false
        type: integer
        format: int32
        enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
      - name: Filter
        in: query
        description: فیلتر بر اساس
        required: false
        type: string
      - name: FromDate
        in: query
        description: از تاریخ
        required: false
        type: string
        format: date-time
      - name: ToDate
        in: query
        description: تا تاریخ
        required: false
        type: string
        format: date-time
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              "$ref": "#/definitions/Payment"
  "/v1/report/{code}":
    get:
      tags:
      - Report
      summary: نمایش جزئیات تراکنش
      operationId: V1ReportByCodeGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: code
        in: path
        description: مشخصات تراکنش
        required: true
        type: string
      responses:
        '200':
          description: جزئیات تراکنش با موفقیت ساخته شد
          schema:
            "$ref": "#/definitions/PaymentDetailsVM"
  "/v1/request":
    post:
      tags:
      - Request
      summary: ساخت درخواست پول جدید
      description: "پس از فراخوانی این متد و ساخت درخواست پول، یک کد 4 حرفی تولید
        می شود که برای ورود به درگاه بانکی باید\r\nمتد GoToIpg که به همین منظور تهیه
        شده است را فراخوانی کرد.\r\nمتد GoToIpg شما را به درگاه بانکی Redirecte می
        کند که یعنی باید خروجی این متد در Response صفحه مورد نظر قرار داده شود.\r\nآدرس
        ورودی به درگاه بانکی مطابق زیر می باشد\r\n\r\n\r\nhttps://api.payping.io/v1/pay/gotoipg/request_Code\r\n\r\n\r\nمثال:
        https://api.payping.io/v1/pay/gotoipg/XXXX"
      operationId: V1RequestPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: model
        in: body
        description: مشخصات درخواست پول
        required: false
        schema:
          "$ref": "#/definitions/CreateRequestViewModel"
      responses:
        '200':
          description: ساخت درخواست پول جدید با موفقیت انجام شد
          schema:
            "$ref": "#/definitions/RequestResult"
  "/v1/request/Multi":
    post:
      tags:
      - Request
      summary: ساخت درخواست پول جدید برای چند نفر
      description: "پس از فراخوانی این متد و ساخت درخواست پول جدید برای چند نفر، یک
        کد 4 حرفی تولید می شود که برای ورود به درگاه بانکی باید\r\nمتد GoToIpg که
        به همین منظور تهیه شده است را فراخوانی کرد.\r\nمتد GoToIpg شما را به درگاه
        بانکی Redirecte می کند که یعنی باید خروجی این متد در Response صفحه مورد نظر
        قرار داده شود.\r\nآدرس ورودی به درگاه بانکی مطابق زیر می باشد\r\n\r\n\r\nhttps://api.payping.io/v1/pay/gotoipg/request_Code\r\n\r\n\r\nمثال:
        https://api.payping.io/v1/pay/gotoipg/XXXX"
      operationId: V1RequestMultiPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: model
        in: body
        description: مشخصات درخواست گنندگان پول
        required: false
        schema:
          "$ref": "#/definitions/CreateMultiRequestViewModel"
      responses:
        '200':
          description: درخواست پول با موفقیت انجام شد
          schema:
            "$ref": "#/definitions/RequestResult"
  "/v1/request/SendReminder/{code}":
    post:
      tags:
      - Request
      summary: یادآوری مجدد درخواست پول
      operationId: V1RequestSendReminderByCodePost
      consumes: []
      produces: []
      parameters:
      - name: code
        in: path
        description: کد درخواست
        required: true
        type: string
      responses:
        '200':
          description: یادآوری با موفقیت انجام شد
  "/v1/request/{code}":
    delete:
      tags:
      - Request
      summary: لغو درخواست پول
      operationId: V1RequestByCodeDelete
      consumes: []
      produces: []
      parameters:
      - name: code
        in: path
        description: کد درخواست
        required: true
        type: string
      responses:
        '200':
          description: درخواست با موفقیت کنسل شد
  "/v1/withdraw/{Amount}":
    post:
      tags:
      - Withdraw
      summary: ایجاد یک تسویه حساب جدید
      operationId: V1WithdrawByAmountPost
      consumes: []
      produces: []
      parameters:
      - name: amount
        in: path
        description: مبلغ تسویه حساب
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: تسویه حساب جدید با موفقیت ساخته شد
  "/v1/withdraw/{Code}":
    get:
      tags:
      - Withdraw
      summary: نمایش جزئیات درخواست تسویه
      operationId: V1WithdrawByCodeGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: code
        in: path
        description: کد درخواست تسویه
        required: true
        type: string
      responses:
        '200':
          description: جزئیات تسویه با موفقیت نمایش داده شد
          schema:
            "$ref": "#/definitions/WithdrawDetailsViewModel"
  "/v1/withdraw/WithdrawTransactions":
    get:
      tags:
      - Withdraw
      summary: دریافت لیست تسویه حساب
      operationId: V1WithdrawWithdrawTransactionsGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: ClientId
        in: query
        description: سازنده تراکنش
        required: false
        type: string
      - name: ClientRefId
        in: query
        description: یک مقدار ارسالی از سوی کلاینت
        required: false
        type: string
      - name: transactionType
        in: query
        description: نوع تراکنش
        required: false
        type: integer
        format: int32
        enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
      - name: Filter
        in: query
        description: فیلتر بر اساس
        required: false
        type: string
      - name: FromDate
        in: query
        description: از تاریخ
        required: false
        type: string
        format: date-time
      - name: ToDate
        in: query
        description: تا تاریخ
        required: false
        type: string
        format: date-time
      responses:
        '200':
          description: جزئیات تسویه با موفقیت نمایش داده شد
          schema:
            type: array
            items:
              "$ref": "#/definitions/WithdrawDetailsViewModel"




  "/v1/Account/GetVersion":
    get:
      tags:
      - Account
      summary: Get App and Api Version.
      operationId: V1AccountGetVersionGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      responses:
        '200':
          description: Returns the App and Api Version
          schema:
            "$ref": "#/definitions/AppAndApiVersionViewModel"
        '400':
          description: If send null, disabled account, bad username or password
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't get App and Api Version right now
  "/v1/Account/Login":
    post:
      tags:
      - Account
      summary: Login in.
      description: "Help:\r\n            \r\n    POST /credential\r\n    {\r\n       \"username\":
        \"\" //عدم حساس بودن به حروف کوچک یا بزرگ,\r\n    }"
      operationId: V1AccountLoginPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: loginUser
        in: body
        required: false
        schema:
          "$ref": "#/definitions/LoginRequest"
      responses:
        '200':
          description: Returns the userInfo
          schema:
            "$ref": "#/definitions/LoginResponseViewModel"
        '400':
          description: If send null, disabled account, bad username or password
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't login right now
  "/v1/Account/RefreshToken":
    post:
      tags:
      - Account
      summary: Refresh Token.
      description: "Help:\r\n            \r\n    POST \r\n    {\r\n       \"refreshToken\":
        \"\" //فقط رفرش توکن ارسال شود,\r\n    }"
      operationId: V1AccountRefreshTokenPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: jsonBody
        in: body
        required: false
        schema:
          type: object
      responses:
        '200':
          description: Returns the userInfo
          schema:
            "$ref": "#/definitions/LoginResponseViewModel"
        '400':
          description: If send null or expired refresh token
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't get your userInfo right now
  "/v1/Account/Logout":
    post:
      tags:
      - Account
      summary: Log out from account.
      operationId: V1AccountLogoutPost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      responses:
        '200':
          description: Return the bool
          schema:
            type: boolean
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't log out from your account right now
  "/v1/Account/IsAuthenthenticated":
    post:
      tags:
      - Account
      summary: Is authenthenticated.
      operationId: V1AccountIsAuthenthenticatedPost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      responses:
        '200':
          description: Return the bool
          schema:
            type: boolean
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't get authenthenticated of your account right now
  "/v1/Account/GetUserInfo":
    get:
      tags:
      - Account
      summary: Get user info.
      operationId: V1AccountGetUserInfoGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      responses:
        '200':
          description: Return the user info
          schema:
            "$ref": "#/definitions/LoginUserInfoResponseViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't get info of your account right now
  "/v1/AddressBooks":
    get:
      tags:
      - AddressBooks
      summary: Get List of Address Books.
      operationId: V1AddressBooksGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      responses:
        '200':
          description: Returns the addressBooks
          schema:
            "$ref": "#/definitions/ListViewModel[AddressBookIndexViewModel]"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't get your addressbooks right now
    post:
      tags:
      - AddressBooks
      summary: Create an addressbook.
      description: "Help:\r\n            \r\n    POST /addressbook\r\n    {\r\n       \"code\":
        \"\" //خالی ارسال نمایید,\r\n       \"userPhotoFileId\": \"\" //پس از آپلود
        و دریافت کلید فایل را اینجا قرار دهید,\r\n       \"isLegal\": true //حقوقی
        بودن = true,\r\n       \"clientId\": \"invoiceWeb\",\r\n       \"clientVersion\":
        \"1.0\"\r\n    }"
      operationId: V1AddressBooksPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: value
        in: body
        description: addressbook you want to create
        required: false
        schema:
          "$ref": "#/definitions/AddressBookCreateOrUpdateViewModel"
      responses:
        '200':
          description: Returns the addressbook
          schema:
            "$ref": "#/definitions/AddressBookIndexViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't create your addressbook right now
  "/v1/AddressBooks/Pagination/{page},{search},{take}":
    get:
      tags:
      - AddressBooks
      summary: Get pagination list of addressbooks.
      operationId: V1AddressBooksPaginationByPage},{search},{takeGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: page
        in: path
        description: begin from 1
        required: true
        type: integer
        format: int32
      - name: search
        in: path
        description: You can type anything
        required: true
        type: string
      - name: take
        in: path
        description: You can send 10
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Returns the addressBooks
          schema:
            "$ref": "#/definitions/ListViewModel[AddressBookIndexViewModel]"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't get your addressbooks right now
  "/v1/AddressBooks/{code}":
    get:
      tags:
      - AddressBooks
      summary: Get address Book.
      operationId: V1AddressBooksByCodeGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: unique code of addressbook
        required: true
        type: string
      responses:
        '200':
          description: Returns the address book
          schema:
            "$ref": "#/definitions/AddressBookIndexViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't get your address books right now
    put:
      tags:
      - AddressBooks
      summary: Update an addressbook.
      description: "Help:\r\n            \r\n    PUT /addressbook\r\n    {\r\n       \"code\":
        \"IUqk\" //کلید یکتا را حتما باید ارسال نمایید,\r\n       \"userPhotoFileId\":
        \"\" //پس از آپلود و دریافت کلید فایل را اینجا قرار دهید و اگر خالی رها کنید
        در صورت موجود بودن فایل های قبلی، آن ها حفظ خواهند ماند,\r\n       \"clientId\":
        \"invoiceWeb\",\r\n       \"clientVersion\": \"1.0\"\r\n    }"
      operationId: V1AddressBooksByCodePut
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: unique code of addressbook
        required: true
        type: string
      - name: value
        in: body
        description: addressbook you want to update
        required: false
        schema:
          "$ref": "#/definitions/AddressBookCreateOrUpdateViewModel"
      responses:
        '200':
          description: Returns the addressbook
          schema:
            "$ref": "#/definitions/AddressBookIndexViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't update your addressbook right now
    delete:
      tags:
      - AddressBooks
      summary: Delete an addressbook.
      description: "Help:\r\n            \r\n    DELETE /addressbook\r\n    {\r\n
        \      \"code\": \"IUqk\" //کلید یکتا بصورت پارامتر حتما باید ارسال نمایید,\r\n
        \   }\r\n    \r\n    Notes: \"فایل های متصل به این مشتری نیز حذف میگردد\""
      operationId: V1AddressBooksByCodeDelete
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: unique code of addressbook
        required: true
        type: string
      responses:
        '200':
          description: Return the unique code
          schema:
            type: string
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't delete your addressbook right now
  "/v1/AddressBooks/DeleteUserPhoto/{code}":
    delete:
      tags:
      - AddressBooks
      summary: Delete userPhoto of an addressbook.
      description: "Help:\r\n            \r\n    DELETE /userPhoto of addressbook\r\n
        \   {\r\n       \"code\": \"IUqk\" //کلید یکتا بصورت پارامتر حتما باید ارسال
        نمایید,\r\n    }"
      operationId: V1AddressBooksDeleteUserPhotoByCodeDelete
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: unique code of addressbook
        required: true
        type: string
      responses:
        '200':
          description: Return the unique code
          schema:
            "$ref": "#/definitions/AttachmentCodeDeleteResponseViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't delete your userPhoto of addressbook right now
  "/v1/BusinessInfoes":
    get:
      tags:
      - BusinessInfoes
      summary: Get business info.
      operationId: V1BusinessInfoesGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      responses:
        '200':
          description: Returns the business info
          schema:
            "$ref": "#/definitions/BusinessInfoIndexViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't get your business info right now
    post:
      tags:
      - BusinessInfoes
      summary: Create an business info.
      description: "Help:\r\n            \r\n    POST /business info\r\n    {\r\n
        \      \"economicCode\": \"\" //خالی ارسال نمایید,\r\n       \"signatureFileId\":
        \"\" //پس از آپلود و دریافت کلید تصویر امضا را اینجا قرار دهید (اجباری است),\r\n
        \      \"isShowLocationInInvoice\": true //نمایش آدرس در فاکتور,\r\n       \"isShowPhoneInInvoice\":
        true //نمایش تلفن در فاکتور\r\n    }"
      operationId: V1BusinessInfoesPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: value
        in: body
        required: false
        schema:
          "$ref": "#/definitions/BusinessInfoCreateOrUpdateViewModel"
      responses:
        '200':
          description: Returns the business info
          schema:
            "$ref": "#/definitions/BusinessInfoIndexViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't create your business info right now
  "/v1/BusinessInfoes/{economicCode}":
    put:
      tags:
      - BusinessInfoes
      summary: Update a business info.
      description: "Help:\r\n            \r\n    PUT /business info\r\n    {\r\n       \"economicCode\":
        \"IUqk\" //کلید یکتا را حتما باید ارسال نمایید,\r\n       \"signatureFileId\":
        \"\" //پس از آپلود و دریافت کلید فایل را اینجا قرار دهید و اگر خالی رها کنید
        در صورت موجود بودن فایل های قبلی، آن ها حفظ خواهند ماند,\r\n    }"
      operationId: V1BusinessInfoesByEconomicCodePut
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: economicCode
        in: path
        description: unique code of business info
        required: true
        type: string
      - name: value
        in: body
        description: business info you want to update
        required: false
        schema:
          "$ref": "#/definitions/BusinessInfoCreateOrUpdateViewModel"
      responses:
        '200':
          description: Returns the business info
          schema:
            "$ref": "#/definitions/BusinessInfoIndexViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't update your business info right now
    delete:
      tags:
      - BusinessInfoes
      summary: Delete an business info.
      description: "Help:\r\n            \r\n    DELETE /business info\r\n    {\r\n
        \      \"economicCode\": \"IUqk\" //کلید یکتا بصورت پارامتر حتما باید ارسال
        نمایید,\r\n    }\r\n    \r\n    Notes: \"تصویر امضا نیز حذف میگردد\""
      operationId: V1BusinessInfoesByEconomicCodeDelete
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: economicCode
        in: path
        description: unique code of business info
        required: true
        type: string
      responses:
        '200':
          description: Return the unique code
          schema:
            type: string
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't delete your business info right now
  "/v1/BusinessInfoes/DeleteSignature/{economicCode}":
    delete:
      tags:
      - BusinessInfoes
      summary: Delete signature photo of an business info.
      description: "Help:\r\n            \r\n    DELETE /signature photo of business
        info\r\n    {\r\n       \"economicCode\": \"IUqk\" //کلید یکتا بصورت پارامتر
        حتما باید ارسال نمایید,\r\n    }"
      operationId: V1BusinessInfoesDeleteSignatureByEconomicCodeDelete
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: economicCode
        in: path
        description: unique code of business info
        required: true
        type: string
      responses:
        '200':
          description: Return the unique code
          schema:
            "$ref": "#/definitions/AttachmentCodeDeleteResponseViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't delete your userPhoto of addressbook right now
  "/v1/Invoices":
    get:
      tags:
      - Invoices
      summary: Get List of invoices.
      operationId: V1InvoicesGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      responses:
        '200':
          description: Returns the invoices
          schema:
            "$ref": "#/definitions/ListViewModel[InvoiceIndexViewModel]"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't get your invoices right now
    post:
      tags:
      - Invoices
      summary: Create an invoice.
      description: "Help:\r\n            \r\n    POST /invoice\r\n    {\r\n       \"code\":
        \"\" //خالی ارسال نمایید,\r\n       \"invoiceNumber\" : \"payping_\" // (Note-1),\r\n
        \      \"isSendAttachmentsAfterPayment\": true //نمایش فایل پس از پرداخت موفق
        در صفحه نمایش فاکتور,\r\n       \"isSendNotesAndTermsAfterPayment\": true
        //نمایش پیام پس از پرداخت موفق در صفحه نمایش فاکتور,\r\n       \"billToes\":
        [\r\n          {\r\n            \"addressBookCode\": \"TrsR\", // حداقل یک
        مشتری باید ارسال شود\r\n          }\r\n       ],\r\n       \"isPaidManual\":false
        ,//پرداخت به صورت دستی\r\n       \"paidManualDescription\":\"پرداخت به صورت
        کارت به کارت انجام شد\" ,//شرح پرداخت به صورت دستی\r\n       \"isDraft\":
        false,// true = ذخیره در پیش نویس , false = ارسال به مشتری جهت انجام عملیات
        پرداخت و تسویه\r\n       \"status\": 0,// تاثیری ندارد، به همین صورت ارسال
        نمایید. صرفا جهت بازگشت اطلاعات قرار داده شده است (Note-2)\r\n       \"invoiceDateTimePersian\":
        \"1396/01/01\" //تاریخ ایجاد فاکتور,\r\n       \"dueDatePersian\": \"1396/02/01\"
        // تاریخ سررسید فاکتور,\r\n       \"otherDiscountAmount\": 0 // مبلغ تخفیف
        کلی روی مبلغ نهایی فاکتور (Note-3),\r\n       \"otherDiscountPercent\": 0
        // درصد تخفیف کلی روی مبلغ نهایی فاکتور (Note-3),\r\n       \"hasOtherDiscount\":
        false, //صرفا جهت بازگشت اطلاعات پس از ثبت می باشد,\r\n       \"taxtionAmount\":
        0 // مبلغ مالیات کلی روی مبلغ نهایی فاکتور (Note-3),\r\n       \"taxtionPercent\":
        0 // درصد مالیات کلی روی مبلغ نهایی فاکتور (Note-3),\r\n       \"invoiceHasTax\":
        false, //صرفا جهت بازگشت اطلاعات پس از ثبت می باشد,\r\n       \"shipping\":
        0 // مبلغ کرایه و حمل و نقل,\r\n       \"hasShipping\": false, //صرفا جهت
        بازگشت اطلاعات پس از ثبت می باشد,\r\n       \"partialPaymentPercent\": 0 //
        مبلغ پرداخت بخشی از مبلغ فاکتور (Note-3),\r\n       \"partialPaymentAmount\":
        0 // درصد پرداخت بخشی از مبلغ فاکتور (Note-3),\r\n       \"isAllowPartialPayment\":
        false, //صرفا جهت بازگشت اطلاعات پس از ثبت می باشد,\r\n       \"invoiceHasSchulder\":
        false, //صرفا جهت بازگشت اطلاعات پس از ثبت می باشد,\r\n       \"invoiceSchulder\":
        //در صورت نداشتن زمانبندی null قرار دهید\r\n          {\r\n            \"repeat\":
        1 ,// تعداد تکرار در هر روز/هفته/ماه/سال\r\n            \"schulderType\":
        0 ,//نوع زمابندی (Note-4)\r\n            \"schulderDueType\": 0 ,//پایان تکرار
        (Note-5)\r\n            \"endValue\": \"2\" // (Note-6),\r\n            \"dueDateAfterHowManyDay\":2
        //تاریخ سررسید پس از N روز از تاریخ ثبت باشد\r\n          },\r\n       \"invoiceItems\":
        [\r\n          {\r\n            \"code\": \"\" //صرفا جهت بازگشت اطلاعات پس
        از ثبت می باشد خالی ارسال کنید,\r\n            \"name\": \"کتاب اسرار پی پینگ\",\r\n
        \           \"description\": \"\",\r\n            \"itemCode\": \"IuQz\" //در
        صورتی که از بخش آیتم ها موجود انتخاب شده باید کد یکتای آن ثبت شود و تغییر
        مبلغ فی صرفا فقط در فاکتور ثبت میشود و آیتم اصلی تغییری نخواهد کرد\r\n            \"quantity\":
        1,\r\n            \"discountPercent\": 0 // درصد تخفیف به ازای هر آیتم (Note-3),\r\n
        \           \"discountAmount\": 0 // مبلغ تخفیف به ازای هر آیتم (Note-3),\r\n
        \           \"taxCode\": \"pSws\" //در صورتی که مالیات به صورت اختصاصی به
        هر آیتم انتخاب شده باید اعمال گردد این گزینه را با کد یکتای موجود در بخش مالیات
        ها تکمیل نمایید در غیر اینصورت خالی رها کنید\r\n            \"price\": 250000
        //به تومان می باشد\r\n          }\r\n        ],\r\n        \"itemHasDiscount\":
        false //صرفا جهت بازگشت اطلاعات پس از ثبت می باشد,\r\n        \"itemHasTax\":
        false //صرفا جهت بازگشت اطلاعات پس از ثبت می باشد,\r\n        \"itemHasDescription\":
        false //صرفا جهت بازگشت اطلاعات پس از ثبت می باشد,\r\n        \"attachmentsIds\":
        [ \"\", \"\", \"\" ] //کلید فایل(ها) دریافتی پس از آپلود را به صورت آرایه
        رشته ای در اینجا قرار دهید، اگر خالی ارسال کنید فایل های قبلی حفظ می مانند
        و اگر کلیدی ارسال شود به فایل های قبلی اضافه خواهد شد,\r\n        \"clientId\":
        \"invoiceWeb\",\r\n        \"clientVersion\": \"1.0\",\r\n        \"returnUrl\":
        \"\" //هدایت کاربر پس از پرداخت به آدرس مورد نظر شما\r\n    }\r\n    \r\n
        \   Note-1:\r\n       {\r\n         شما قادر به وارد نمودن هر متنی هستید اما
        اگر به شماره بندی خودکار در انتهای\r\n         شماره فاکتور نیاز دارید، کافیست
        در انتهای متن وارد شده از آندرلاین _ استفاده نمایید\r\n       }\r\n       \r\n
        \   Note-2:\r\n       {\r\n         0 = Draft (پیش نویس),\r\n         1 =
        Unpaid (پرداخت نشد),\r\n         2 = Paid (پرداخت شد),\r\n         3 = Expire
        (معوق),\r\n         4 = Canceled (لغو شده),\r\n       }\r\n       \r\n    Note-3:\r\n
        \      {\r\n         در صورتی که :\r\n         \"****Percent\"\r\n         را
        تکمیل نمایید اولویت پردازش با این گزینه خواهد بود و\r\n         \"****Amount\"\r\n
        \        حتی اگر وارد شود، در پردازش فاکتور تاثیری نخواهد داشت\r\n       }\r\n
        \      \r\n    Note-4:\r\n       {\r\n         0 = Daily (روز),\r\n         1
        = Weekly (هفته),\r\n         2 = Monthly  (ماه),\r\n         3 = Yearly  (سالا)\r\n
        \      }\r\n       \r\n    Note-5:\r\n       {\r\n         0 = After (پایان
        بعد از N فاکتور),\r\n         1 = In (پایان بعد از تاریخی مشخص),\r\n         2
        = None  (پایان ندارد)\r\n       }\r\n       \r\n    Note-6:\r\n       {\r\n
        \        در صورتی که \r\n         schulderDueType = 1 (پایان در تاریخی مشخص)\r\n
        \        انتخاب شود\r\n         باید تاریخ را در این فیلد \r\n         (مانند
        : 1396/01/01)\r\n         قرار دهید\r\n       }"
      operationId: V1InvoicesPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: value
        in: body
        description: invoice you want to create
        required: false
        schema:
          "$ref": "#/definitions/InvoiceCreateOrUpdateViewModel"
      responses:
        '200':
          description: Returns the invoice
          schema:
            "$ref": "#/definitions/InvoiceIndexViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't create your invoice right now
  "/v1/Invoices/GetSchedule":
    get:
      tags:
      - Invoices
      summary: Get a schedule invoice.
      operationId: V1InvoicesGetScheduleGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: query
        required: false
        type: string
      responses:
        '200':
          description: Returns the schedule invoice with childs
          schema:
            "$ref": "#/definitions/ScheduleInvoiceWithChilds"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't get your schedule invoice with childs right now
  "/v1/Invoices/PaginationSchedule":
    post:
      tags:
      - Invoices
      summary: Search and pagination list of schedule invoices.
      description: "Help:\r\n            \r\n    POST /search and pagination parameters\r\n
        \   {\r\n       \"page\": \"1\" //بیشتر از صفر ارسال نمایید,\r\n       \"status\":
        \"0\" //پیش نویس (Note-1) ,\r\n       \"searchType\": \"simpleSearch\" //ثابت
        \ (Note-2),\r\n       \"advanceSearchType\": \"\", //خالی ارسال کنید,\r\n
        \      \"searchTerm\":\"\", //متن مورد نظر جهت جستجو\r\n       \"take\":10,
        //تعداد سطر بازگشتی\r\n       \"isArchived\":true, //بازگشت موارد بایگانی
        شده\r\n       \"isSearchDueDate\":true, //بازگشت موارد با فیلتر از تاریخ تا
        تاریخ سررسید\r\n       \"isSearchCreateDate\":true, //بازگشت موارد با فیلتر
        از تاریخ تا تاریخ ثبت فاکتور\r\n       \"searchDateFrom\":\"1397/01/01\",
        //از تاریخ مورد نظر جهت جستجو\r\n       \"searchDateTo\":\"1397/02/01\", //تا
        تاریخ مورد نظر جهت جستجو\r\n    }\r\n    \r\n    Note-1:\r\n       {\r\n         all
        = All (همه),\r\n         0 = Draft (پیش نویس),\r\n         1 = Unpaid (پرداخت
        نشد),\r\n         2 = Paid (پرداخت شد),\r\n         3 = Expire (معوق),\r\n
        \        4 = Canceled (لغو شده),\r\n       }\r\n       \r\n    Note-2:\r\n
        \      {\r\n         simpleSearch = جستجوی ساده,\r\n         advanceSearch
        = جستجوی پیشرفته,\r\n       }"
      operationId: V1InvoicesPaginationSchedulePost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: model
        in: body
        description: You can type anything
        required: false
        schema:
          "$ref": "#/definitions/InvoiceSearchViewModel"
      responses:
        '200':
          description: Returns the schedule invoices
          schema:
            "$ref": "#/definitions/ListViewModel[InvoiceIndexViewModel]"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't get your schedule invoices right now
  "/v1/Invoices/PaginationNonSchedule":
    post:
      tags:
      - Invoices
      summary: Search and pagination list of non schedule invoices.
      description: "Help:\r\n            \r\n    POST /search and pagination parameters\r\n
        \   {\r\n       \"page\": \"1\" //بیشتر از صفر ارسال نمایید,\r\n       \"status\":
        \"0\" //پیش نویس (Note-1) ,\r\n       \"searchType\": \"simpleSearch\" //ثابت
        \ (Note-2),\r\n       \"advanceSearchType\": \"\", //خالی ارسال کنید,\r\n
        \      \"searchTerm\":\"\" //متن مورد نظر جهت جستجو\r\n       \"take\":10,
        //تعداد سطر بازگشتی\r\n       \"isArchived\":true, //بازگشت موارد بایگانی
        شده\r\n       \"isSearchDueDate\":true, //بازگشت موارد با فیلتر از تاریخ تا
        تاریخ سررسید\r\n       \"isSearchCreateDate\":true, //بازگشت موارد با فیلتر
        از تاریخ تا تاریخ ثبت فاکتور\r\n       \"searchDateFrom\":\"1397/01/01\",
        //از تاریخ مورد نظر جهت جستجو\r\n       \"searchDateTo\":\"1397/02/01\", //تا
        تاریخ مورد نظر جهت جستجو\r\n    }\r\n    \r\n    Note-1:\r\n       {\r\n         all
        = All (همه),\r\n         0 = Draft (پیش نویس),\r\n         1 = Unpaid (پرداخت
        نشد),\r\n         2 = Paid (پرداخت شد),\r\n         3 = Expire (معوق),\r\n
        \        4 = Canceled (لغو شده),\r\n       }\r\n       \r\n    Note-2:\r\n
        \      {\r\n         simpleSearch = جستجوی ساده,\r\n         advanceSearch
        = جستجوی پیشرفته,\r\n       }"
      operationId: V1InvoicesPaginationNonSchedulePost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: model
        in: body
        description: You can type anything
        required: false
        schema:
          "$ref": "#/definitions/InvoiceSearchViewModel"
      responses:
        '200':
          description: Returns the non schedule invoices
          schema:
            "$ref": "#/definitions/ListViewModel[InvoiceIndexViewModel]"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't get your non schedule invoices right now
  "/v1/Invoices/Pagination":
    post:
      tags:
      - Invoices
      summary: Search and pagination list of invoices.
      description: "Help:\r\n            \r\n    POST /search and pagination parameters\r\n
        \   {\r\n       \"page\": \"1\" //بیشتر از صفر ارسال نمایید,\r\n       \"status\":
        \"0\" //پیش نویس (Note-1) ,\r\n       \"searchType\": \"simpleSearch\" //ثابت
        \ (Note-2),\r\n       \"advanceSearchType\": \"\", //خالی ارسال کنید,\r\n
        \      \"searchTerm\":\"\" //متن مورد نظر جهت جستجو\r\n    }\r\n    \r\n    Note-1:\r\n
        \      {\r\n         all = All (همه),\r\n         0 = Draft (پیش نویس),\r\n
        \        1 = Unpaid (پرداخت نشد),\r\n         2 = Paid (پرداخت شد),\r\n         3
        = Expire (معوق),\r\n         4 = Canceled (لغو شده),\r\n       }\r\n       \r\n
        \   Note-2:\r\n       {\r\n         simpleSearch = جستجوی ساده,\r\n         advanceSearch
        = جستجوی پیشرفته,\r\n       }"
      operationId: V1InvoicesPaginationPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: model
        in: body
        description: You can type anything
        required: false
        schema:
          "$ref": "#/definitions/InvoiceSearchViewModel"
      responses:
        '200':
          description: Returns the invoices
          schema:
            "$ref": "#/definitions/ListViewModel[InvoiceIndexViewModel]"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't get your invoices right now
  "/v1/Invoices/{code}":
    get:
      tags:
      - Invoices
      summary: Get invoice.
      operationId: V1InvoicesByCodeGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: unique code of invoice
        required: true
        type: string
      responses:
        '200':
          description: Return an invoice
          schema:
            "$ref": "#/definitions/InvoiceIndexViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '404':
          description: If the invoice is not exist
        '500':
          description: Oops! Can't get your invoice right now
    put:
      tags:
      - Invoices
      summary: Update an invoice.
      description: "Help:\r\n            \r\n    PUT /invoice\r\n    {\r\n       \"code\":
        \"JfiW\" //کلید اختصاصی فاکتور را باید ارسال نمایید,\r\n       \"invoiceNumber\"
        : \"payping_\" // (Note-1),\r\n       \"isSendAttachmentsAfterPayment\": true
        //نمایش فایل پس از پرداخت موفق در صفحه نمایش فاکتور,\r\n       \"isSendNotesAndTermsAfterPayment\":
        true //نمایش پیام پس از پرداخت موفق در صفحه نمایش فاکتور,\r\n       \"billToes\":
        [\r\n          {\r\n            \"addressBookCode\": \"TrsR\", // حداقل یک
        مشتری باید ارسال شود\r\n          }\r\n       ],\r\n       \"isDraft\": false,//
        true = ذخیره در پیش نویس , false = ارسال به مشتری جهت انجام عملیات پرداخت
        و تسویه\r\n       \"isPaidManual\":false ,//پرداخت به صورت دستی\r\n       \"paidManualDescription\":\"پرداخت
        به صورت کارت به کارت انجام شد\" ,//شرح پرداخت به صورت دستی\r\n       \"invoiceDateTimePersian\":
        \"1396/01/01\" //تاریخ ایجاد فاکتور,\r\n       \"dueDatePersian\": \"1396/02/01\"
        // تاریخ سررسید فاکتور,\r\n       \"otherDiscountAmount\": 0 // مبلغ تخفیف
        کلی روی مبلغ نهایی فاکتور (Note-3),\r\n       \"otherDiscountPercent\": 0
        // درصد تخفیف کلی روی مبلغ نهایی فاکتور (Note-3),\r\n       \"hasOtherDiscount\":
        false, //صرفا جهت بازگشت اطلاعات پس از ثبت می باشد,\r\n       \"taxtionAmount\":
        0 // مبلغ مالیات کلی روی مبلغ نهایی فاکتور (Note-3),\r\n       \"taxtionPercent\":
        0 // درصد مالیات کلی روی مبلغ نهایی فاکتور (Note-3),\r\n       \"invoiceHasTax\":
        false, //صرفا جهت بازگشت اطلاعات پس از ثبت می باشد,\r\n       \"shipping\":
        0 // مبلغ کرایه و حمل و نقل,\r\n       \"hasShipping\": false, //صرفا جهت
        بازگشت اطلاعات پس از ثبت می باشد,\r\n       \"partialPaymentPercent\": 0 //
        مبلغ پرداخت بخشی از مبلغ فاکتور (Note-3),\r\n       \"partialPaymentAmount\":
        0 // درصد پرداخت بخشی از مبلغ فاکتور (Note-3),\r\n       \"isAllowPartialPayment\":
        false, //صرفا جهت بازگشت اطلاعات پس از ثبت می باشد,\r\n       \"invoiceHasSchulder\":
        false, //صرفا جهت بازگشت اطلاعات پس از ثبت می باشد,\r\n       \"invoiceSchulder\":
        //در صورت نداشتن زمانبندی null قرار دهید\r\n          {\r\n            \"repeat\":
        1 ,// تعداد تکرار در هر روز/هفته/ماه/سال\r\n            \"schulderType\":
        0 ,//نوع زمابندی (Note-4)\r\n            \"schulderDueType\": 0 ,//پایان تکرار
        (Note-5)\r\n            \"endValue\": \"2\" // (Note-6),\r\n            \"dueDateAfterHowManyDay\":2
        //تاریخ سررسید پس از N روز از تاریخ ثبت باشد\r\n          },\r\n       \"invoiceItems\":
        [\r\n          {\r\n            \"code\": \"\" //صرفا جهت بازگشت اطلاعات پس
        از ثبت می باشد خالی ارسال کنید,\r\n            \"name\": \"کتاب اسرار پی پینگ\",\r\n
        \           \"description\": \"\",\r\n            \"itemCode\": \"IuQz\" //در
        صورتی که از بخش آیتم ها موجود انتخاب شده باید کد یکتای آن ثبت شود و تغییر
        مبلغ فی صرفا فقط در فاکتور ثبت میشود و آیتم اصلی تغییری نخواهد کرد\r\n            \"quantity\":
        1,\r\n            \"discountPercent\": 0 // درصد تخفیف به ازای هر آیتم (Note-3),\r\n
        \           \"discountAmount\": 0 // مبلغ تخفیف به ازای هر آیتم (Note-3),\r\n
        \           \"taxCode\": \"pSws\" //در صورتی که مالیات به صورت اختصاصی به
        هر آیتم انتخاب شده باید اعمال گردد این گزینه را با کد یکتای موجود در بخش مالیات
        ها تکمیل نمایید در غیر اینصورت خالی رها کنید\r\n            \"price\": 250000
        //به تومان می باشد\r\n          }\r\n        ],\r\n        \"itemHasDiscount\":
        false //صرفا جهت بازگشت اطلاعات پس از ثبت می باشد,\r\n        \"itemHasTax\":
        false //صرفا جهت بازگشت اطلاعات پس از ثبت می باشد,\r\n        \"itemHasDescription\":
        false //صرفا جهت بازگشت اطلاعات پس از ثبت می باشد,\r\n        \"attachmentsIds\":
        [ \"\", \"\", \"\" ] //کلید فایل(ها) دریافتی پس از آپلود را به صورت آرایه
        رشته ای در اینجا قرار دهید، اگر خالی ارسال کنید فایل های قبلی حفظ می مانند
        و اگر کلیدی ارسال شود به فایل های قبلی اضافه خواهد شد,\r\n    }\r\n    \r\n
        \   Note-1:\r\n       {\r\n         شما قادر به وارد نمودن هر متنی هستید اما
        اگر به شماره بندی خودکار در انتهای\r\n         شماره فاکتور نیاز دارید، کافیست
        در انتهای متن وارد شده از آندرلاین _ استفاده نمایید\r\n       }\r\n       \r\n
        \   Note-2:\r\n       {\r\n         0 = Draft (پیش نویس),\r\n         1 =
        Unpaid (پرداخت نشد),\r\n         2 = Paid (پرداخت شد),\r\n         3 = Expire
        (معوق),\r\n         4 = Canceled (لغو شده),\r\n       }\r\n       \r\n    Note-3:\r\n
        \      {\r\n         در صورتی که :\r\n         \"****Percent\"\r\n         را
        تکمیل نمایید اولویت پردازش با این گزینه خواهد بود و\r\n         \"****Amount\"\r\n
        \        حتی اگر وارد شود، در پردازش فاکتور تاثیری نخواهد داشت\r\n       }\r\n
        \      \r\n    Note-4:\r\n       {\r\n         0 = Daily (روز),\r\n         1
        = Weekly (هفته),\r\n         2 = Monthly  (ماه),\r\n         3 = Yearly  (سالا)\r\n
        \      }\r\n       \r\n    Note-5:\r\n       {\r\n         0 = After (پایان
        بعد از N فاکتور),\r\n         1 = In (پایان بعد از تاریخی مشخص),\r\n         2
        = None  (پایان ندارد)\r\n       }\r\n       \r\n    Note-6:\r\n       {\r\n
        \        در صورتی که \r\n         schulderDueType = 1 (پایان در تاریخی مشخص)\r\n
        \        انتخاب شود\r\n         باید تاریخ را در این فیلد \r\n         (مانند
        : 1396/01/01)\r\n         قرار دهید\r\n       }"
      operationId: V1InvoicesByCodePut
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: unique code of invoice
        required: true
        type: string
      - name: value
        in: body
        description: invoice you want to update
        required: false
        schema:
          "$ref": "#/definitions/InvoiceCreateOrUpdateViewModel"
      responses:
        '200':
          description: Returns the invoice
          schema:
            "$ref": "#/definitions/InvoiceIndexViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't create your invoice right now
    delete:
      tags:
      - Invoices
      summary: Delete an invoice.
      description: "Help:\r\n            \r\n    DELETE /invoice\r\n    {\r\n       \"code\":
        \"IUqk\" //کلید یکتا بصورت پارامتر حتما باید ارسال نمایید,\r\n    }"
      operationId: V1InvoicesByCodeDelete
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: unique code of invoice
        required: true
        type: string
      responses:
        '200':
          description: Return the unique code
          schema:
            type: string
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't delete your invoice right now
  "/v1/Invoices/GetByInvoiceCode/{code}":
    get:
      tags:
      - Invoices
      summary: Get invoice without authorize.
      operationId: V1InvoicesGetByInvoiceCodeByCodeGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: unique code of invoice
        required: true
        type: string
      responses:
        '200':
          description: Return an invoice
          schema:
            "$ref": "#/definitions/InvoiceIndexViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '404':
          description: If the invoice is not exist
        '500':
          description: Oops! Can't get your invoice right now
  "/v1/Invoices/GetByInvoiceCodePublic/{code}":
    get:
      tags:
      - Invoices
      summary: Get invoice with authorize.
      operationId: V1InvoicesGetByInvoiceCodePublicByCodeGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: unique code of invoice
        required: true
        type: string
      responses:
        '200':
          description: Return an invoice
          schema:
            "$ref": "#/definitions/InvoiceInPublicShow"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '404':
          description: If the invoice is not exist
        '500':
          description: Oops! Can't get your invoice right now
  "/v1/Invoices/GetInvoicePayment/{code}":
    get:
      tags:
      - Invoices
      summary: Get invoice payment url.
      operationId: V1InvoicesGetInvoicePaymentByCodeGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: unique code of invoice
        required: true
        type: string
      responses:
        '200':
          description: Return an url
          schema:
            "$ref": "#/definitions/InvoiceIndexViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '404':
          description: If the code is null or empty
        '500':
          description: Oops! Can't get your invoice payment url right now
  "/v1/Invoices/{code},{itemCode}":
    delete:
      tags:
      - Invoices
      summary: Delete item of invoice.
      description: "Help:\r\n            \r\n    DELETE /item of invoice\r\n    {\r\n
        \      \"code\": \"IUqk\" //کلید یکتا فاکتور بصورت پارامتر حتما باید ارسال
        نمایید,\r\n       \"itemCode\": \"IUqk\" //کلید یکتا آیتم فاکتور بصورت پارامتر
        حتما باید ارسال نمایید,\r\n    }"
      operationId: V1InvoicesByCode},{itemCodeDelete
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: unique code of invoice
        required: true
        type: string
      - name: itemCode
        in: path
        description: unique code of item of invoice
        required: true
        type: string
      responses:
        '200':
          description: Return the unique code
          schema:
            "$ref": "#/definitions/DeleteInvoiceItemResponseViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't delete your item of invoice right now
  "/v1/Invoices/DeleteAttachment/{code}":
    delete:
      tags:
      - Invoices
      summary: Delete attachment of invoice.
      description: "Help:\r\n            \r\n    DELETE /item of invoice\r\n    {\r\n
        \      \"code\": \"IUqk\" //کلید یکتا فاکتور بصورت پارامتر حتما باید ارسال
        نمایید,\r\n    }"
      operationId: V1InvoicesDeleteAttachmentByCodeDelete
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: unique code of invoice
        required: true
        type: string
      - name: value
        in: body
        description: attachment delete request model
        required: false
        schema:
          "$ref": "#/definitions/AttachmentDeleteRequestViewModel"
      responses:
        '200':
          description: Return the response model
          schema:
            "$ref": "#/definitions/InvoiceAttachmentDeleteResponseByCodeViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't delete your attachment of invoice right now
  "/v1/Invoices/GetOfficialPdf/{code}":
    get:
      tags:
      - Invoices
      summary: Get official pdf of invoice.
      description: "Help:\r\n            \r\n    Get /official pdf of invoice\r\n
        \   {\r\n       \"code\": \"IUqk\" //کلید یکتا فاکتور بصورت پارامتر حتما باید
        ارسال نمایید,\r\n    }"
      operationId: V1InvoicesGetOfficialPdfByCodeGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: unique code of invoice
        required: true
        type: string
      responses:
        '200':
          description: Return the response model
          schema:
            "$ref": "#/definitions/InvoicePdfResponseViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't get official pdf of invoice right now
  "/v1/Invoices/GetUnofficialPdf/{code}":
    get:
      tags:
      - Invoices
      summary: Get unofficial pdf of invoice.
      description: "Help:\r\n            \r\n    Get /unofficial pdf of invoice\r\n
        \   {\r\n       \"code\": \"IUqk\" //کلید یکتا فاکتور بصورت پارامتر حتما باید
        ارسال نمایید,\r\n    }"
      operationId: V1InvoicesGetUnofficialPdfByCodeGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: unique code of invoice
        required: true
        type: string
      responses:
        '200':
          description: Return the response model
          schema:
            "$ref": "#/definitions/InvoicePdfResponseViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't get unofficial pdf of invoice right now
  "/v1/Invoices/SendCancelInvoice/{code}":
    post:
      tags:
      - Invoices
      summary: Send Cancel Invoice.
      operationId: V1InvoicesSendCancelInvoiceByCodePost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: unique code of invoice
        required: true
        type: string
      responses:
        '200':
          description: Return an invoice
          schema:
            "$ref": "#/definitions/InvoicePublicIndexViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '404':
          description: If the invoice is not exist
        '500':
          description: Oops! Can't get your invoice right now
  "/v1/Invoices/SendReminder/{code}":
    post:
      tags:
      - Invoices
      summary: Send reminder of invoice.
      description: "Help:\r\n            \r\n    POST /send reminder of invoice\r\n
        \   {\r\n       \"code\": \"IUqk\" //کلید یکتا فاکتور بصورت پارامتر حتما باید
        ارسال نمایید,\r\n    }"
      operationId: V1InvoicesSendReminderByCodePost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: unique code of invoice
        required: true
        type: string
      responses:
        '200':
          description: Return the response model
          schema:
            "$ref": "#/definitions/InvoiceSendReminderResponseViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't send reminder of invoice right now
  "/v1/Invoices/SendInvoice/{code}":
    post:
      tags:
      - Invoices
      summary: Send invoice.
      description: "Help:\r\n            \r\n    POST /send invoice\r\n    {\r\n       \"code\":
        \"IUqk\" //کلید یکتا فاکتور بصورت پارامتر حتما باید ارسال نمایید,\r\n    }"
      operationId: V1InvoicesSendInvoiceByCodePost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: unique code of invoice
        required: true
        type: string
      responses:
        '200':
          description: Return the response model
          schema:
            "$ref": "#/definitions/InvoiceSendInvoiceResponseViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't send invoice right now
  "/v1/Invoices/ArchiveInvoice/{code}":
    post:
      tags:
      - Invoices
      summary: Archive invoice.
      description: "Help:\r\n            \r\n    POST /archive invoice\r\n    {\r\n
        \      \"code\": \"IUqk\" //کلید یکتا فاکتور بصورت پارامتر حتما باید ارسال
        نمایید,\r\n    }"
      operationId: V1InvoicesArchiveInvoiceByCodePost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: unique code of invoice
        required: true
        type: string
      responses:
        '200':
          description: Return the response model
          schema:
            "$ref": "#/definitions/InvoiceArchiveInvoiceResponseViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't archive invoice right now
  "/v1/Invoices/ConfirmPayment/{invoiceCode},{paymentCode}":
    post:
      tags:
      - Invoices
      summary: Confirm payment of invoice.
      description: "Help:\r\n            \r\n    POST /Confirm payment of invoice\r\n
        \   {\r\n       \"invoiceCode\": \"IUqk\" //کلید یکتا فاکتور بصورت پارامتر
        حتما باید ارسال نمایید,\r\n       \"paymentCode\": \"Cusj\" //کلید یکتا پرداخت
        فاکتور بصورت پارامتر حتما باید ارسال نمایید,\r\n    }"
      operationId: V1InvoicesConfirmPaymentByInvoiceCode},{paymentCodePost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: invoiceCode
        in: path
        description: unique code of invoice
        required: true
        type: string
      - name: paymentCode
        in: path
        description: unique code of payment
        required: true
        type: string
      responses:
        '200':
          description: Return the response model
          schema:
            "$ref": "#/definitions/InvoiceConfirmPaymentInvoiceResponseViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't confirm payment of invoice right now
  "/v1/Invoices/SendAgain/{code}":
    post:
      tags:
      - Invoices
      summary: Send again invoice.
      description: "Help:\r\n            \r\n    POST /Send again invoice\r\n    {\r\n
        \      \"code\": \"IUqk\" //کلید یکتا فاکتور بصورت پارامتر حتما باید ارسال
        نمایید,\r\n    }"
      operationId: V1InvoicesSendAgainByCodePost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: unique code of invoice
        required: true
        type: string
      responses:
        '200':
          description: Return the response model
          schema:
            "$ref": "#/definitions/InvoiceSendInvoiceResponseViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't Send again invoice right now
  "/v1/Invoices/SendVerifyPayment/{refId}":
    post:
      tags:
      - Invoices
      summary: Send payment verify of invoice.
      description: "Help:\r\n            \r\n    POST /Send payment verify of invoice\r\n
        \   {\r\n       \"refId\": \"IUqk\" //کلید یکتا پرداخت بصورت پارامتر حتما
        باید ارسال نمایید,\r\n    }"
      operationId: V1InvoicesSendVerifyPaymentByRefIdPost
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: refId
        in: path
        description: unique refId of payment
        required: true
        type: string
      responses:
        '200':
          description: Return the response model
          schema:
            "$ref": "#/definitions/InvoicePaymentVerifyResponse"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't payment verify of invoice right now
  "/v1/InvoiceTemplates":
    get:
      tags:
      - InvoiceTemplates
      summary: Get List of invoice Templates.
      operationId: V1InvoiceTemplatesGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      responses:
        '200':
          description: Returns the invoice Templates
          schema:
            "$ref": "#/definitions/ListViewModel[InvoiceTemplateIndexViewModel]"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't get your invoice Templates right now
    post:
      tags:
      - InvoiceTemplates
      summary: Create an invoice template.
      description: "Help:\r\n            \r\n    POST /invoice template\r\n    {\r\n
        \      \"code\": \"\" //خالی ارسال نمایید,\r\n       \"templateName\": \"\"
        //عنوان قالب,\r\n       \"isSendAttachmentsAfterPayment\": true //نمایش فایل
        پس از پرداخت موفق در صفحه نمایش فاکتور,\r\n       \"isSendNotesAndTermsAfterPayment\":
        true //نمایش پیام پس از پرداخت موفق در صفحه نمایش فاکتور,\r\n       \"otherDiscountAmount\":
        0 // مبلغ تخفیف کلی روی مبلغ نهایی فاکتور (Note-1),\r\n       \"otherDiscountPercent\":
        0 // درصد تخفیف کلی روی مبلغ نهایی فاکتور (Note-1),\r\n       \"hasOtherDiscount\":
        false, //صرفا جهت بازگشت اطلاعات پس از ثبت می باشد,\r\n       \"taxtionAmount\":
        0 // مبلغ مالیات کلی روی مبلغ نهایی فاکتور (Note-1),\r\n       \"taxtionPercent\":
        0 // درصد مالیات کلی روی مبلغ نهایی فاکتور (Note-1),\r\n       \"invoiceHasTax\":
        false, //صرفا جهت بازگشت اطلاعات پس از ثبت می باشد,\r\n       \"shipping\":
        0 // مبلغ کرایه و حمل و نقل,\r\n       \"hasShipping\": false, //صرفا جهت
        بازگشت اطلاعات پس از ثبت می باشد,\r\n       \"partialPaymentPercent\": 0 //
        مبلغ پرداخت بخشی از مبلغ فاکتور (Note-1),\r\n       \"partialPaymentAmount\":
        0 // درصد پرداخت بخشی از مبلغ فاکتور (Note-1),\r\n       \"isAllowPartialPayment\":
        false, //صرفا جهت بازگشت اطلاعات پس از ثبت می باشد,\r\n       \"invoiceHasSchulder\":
        false, //صرفا جهت بازگشت اطلاعات پس از ثبت می باشد,\r\n       \"invoiceSchulder\":
        //در صورت نداشتن زمانبندی null قرار دهید\r\n          {\r\n            \"repeat\":
        1 ,// تعداد تکرار در هر روز/هفته/ماه/سال\r\n            \"schulderType\":
        0 ,//نوع زمابندی (Note-2)\r\n            \"schulderDueType\": 0 ,//پایان تکرار
        (Note-3)\r\n            \"endValue\": \"2\" // (Note-4),\r\n            \"dueDateAfterHowManyDay\":2
        //تاریخ سررسید پس از N روز از تاریخ ثبت باشد\r\n          },\r\n       \"invoiceTemplateItems\":
        [\r\n          {\r\n            \"code\": \"\" //صرفا جهت بازگشت اطلاعات پس
        از ثبت می باشد خالی ارسال کنید,\r\n            \"name\": \"کتاب اسرار پی پینگ\",\r\n
        \           \"description\": \"\",\r\n            \"itemCode\": \"IuQz\" //در
        صورتی که از بخش آیتم ها موجود انتخاب شده باید کد یکتای آن ثبت شود و تغییر
        مبلغ فی صرفا فقط در فاکتور ثبت میشود و آیتم اصلی تغییری نخواهد کرد\r\n            \"quantity\":
        1,\r\n            \"discountPercent\": 0 // درصد تخفیف به ازای هر آیتم (Note-1),\r\n
        \           \"discountAmount\": 0 // مبلغ تخفیف به ازای هر آیتم (Note-1),\r\n
        \           \"taxCode\": \"pSws\" //در صورتی که مالیات به صورت اختصاصی به
        هر آیتم انتخاب شده باید اعمال گردد این گزینه را با کد یکتای موجود در بخش مالیات
        ها تکمیل نمایید در غیر اینصورت خالی رها کنید\r\n            \"price\": 250000
        //به تومان می باشد\r\n          }\r\n        ],\r\n        \"itemHasDiscount\":
        false //صرفا جهت بازگشت اطلاعات پس از ثبت می باشد,\r\n        \"itemHasTax\":
        false //صرفا جهت بازگشت اطلاعات پس از ثبت می باشد,\r\n        \"itemHasDescription\":
        false //صرفا جهت بازگشت اطلاعات پس از ثبت می باشد,\r\n        \"attachmentsIds\":
        [ \"\", \"\", \"\" ], //کلید فایل(ها) دریافتی پس از آپلود را به صورت آرایه
        رشته ای در اینجا قرار دهید، اگر خالی ارسال کنید فایل های قبلی حفظ می مانند
        و اگر کلیدی ارسال شود به فایل های قبلی اضافه خواهد شد,\r\n        \"clientId\":
        \"invoiceWeb\",\r\n        \"clientVersion\": \"1.0\",\r\n        \"returnUrl\":
        \"\" //هدایت کاربر پس از پرداخت به آدرس مورد نظر شما\r\n    }\r\n       \r\n
        \   Note-1:\r\n       {\r\n         در صورتی که :\r\n         \"****Percent\"\r\n
        \        را تکمیل نمایید اولویت پردازش با این گزینه خواهد بود و\r\n         \"****Amount\"\r\n
        \        حتی اگر وارد شود، در پردازش فاکتور تاثیری نخواهد داشت\r\n       }\r\n
        \      \r\n    Note-2:\r\n       {\r\n         0 = Daily (روز),\r\n         1
        = Weekly (هفته),\r\n         2 = Monthly  (ماه),\r\n         3 = Yearly  (سالا)\r\n
        \      }\r\n       \r\n    Note-3:\r\n       {\r\n         0 = After (پایان
        بعد از N فاکتور),\r\n         1 = In (پایان بعد از تاریخی مشخص),\r\n         2
        = None  (پایان ندارد)\r\n       }\r\n       \r\n    Note-4:\r\n       {\r\n
        \        در صورتی که \r\n         schulderDueType = 1 (پایان در تاریخی مشخص)\r\n
        \        انتخاب شود\r\n         باید تاریخ را در این فیلد \r\n         (مانند
        : 1396/01/01)\r\n         قرار دهید\r\n       }"
      operationId: V1InvoiceTemplatesPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: value
        in: body
        description: invoice template you want to create
        required: false
        schema:
          "$ref": "#/definitions/InvoiceTemplateCreateOrUpdateViewModel"
      responses:
        '200':
          description: Returns the invoice template
          schema:
            "$ref": "#/definitions/InvoiceTemplateIndexViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't create your invoice template right now
  "/v1/InvoiceTemplates/Pagination/{page},{search},{take}":
    get:
      tags:
      - InvoiceTemplates
      summary: Get pagination list of invoice Templates.
      operationId: V1InvoiceTemplatesPaginationByPage},{search},{takeGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: page
        in: path
        description: begin from 1
        required: true
        type: integer
        format: int32
      - name: search
        in: path
        description: You can type anything
        required: true
        type: string
      - name: take
        in: path
        description: You can send 10
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Returns the invoice Templates
          schema:
            "$ref": "#/definitions/ListViewModel[InvoiceTemplateIndexViewModel]"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't get your invoice Templates right now
  "/v1/InvoiceTemplates/{code}":
    get:
      tags:
      - InvoiceTemplates
      summary: Get invoice template.
      operationId: V1InvoiceTemplatesByCodeGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: unique code of invoice template
        required: true
        type: string
      responses:
        '200':
          description: Return an invoice template
          schema:
            "$ref": "#/definitions/InvoiceTemplateIndexViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '404':
          description: If the invoice template is not exist
        '500':
          description: Oops! Can't get your invoice template right now
    put:
      tags:
      - InvoiceTemplates
      summary: Update an invoice template.
      description: "Help:\r\n            \r\n    PUT /invoice template\r\n    {\r\n
        \      \"code\": \"JfiW\" //کلید اختصاصی فاکتور را باید ارسال نمایید,\r\n
        \      \"templateName\": \"\" //عنوان قالب,\r\n       \"isSendAttachmentsAfterPayment\":
        true //نمایش فایل پس از پرداخت موفق در صفحه نمایش فاکتور,\r\n       \"isSendNotesAndTermsAfterPayment\":
        true //نمایش پیام پس از پرداخت موفق در صفحه نمایش فاکتور,\r\n       \"invoiceDateTimePersian\":
        \"1396/01/01\" //تاریخ ایجاد فاکتور,\r\n       \"dueDatePersian\": \"1396/02/01\"
        // تاریخ سررسید فاکتور,\r\n       \"otherDiscountAmount\": 0 // مبلغ تخفیف
        کلی روی مبلغ نهایی فاکتور (Note-1),\r\n       \"otherDiscountPercent\": 0
        // درصد تخفیف کلی روی مبلغ نهایی فاکتور (Note-1),\r\n       \"hasOtherDiscount\":
        false, //صرفا جهت بازگشت اطلاعات پس از ثبت می باشد,\r\n       \"taxtionAmount\":
        0 // مبلغ مالیات کلی روی مبلغ نهایی فاکتور (Note-1),\r\n       \"taxtionPercent\":
        0 // درصد مالیات کلی روی مبلغ نهایی فاکتور (Note-1),\r\n       \"invoiceHasTax\":
        false, //صرفا جهت بازگشت اطلاعات پس از ثبت می باشد,\r\n       \"shipping\":
        0 // مبلغ کرایه و حمل و نقل,\r\n       \"hasShipping\": false, //صرفا جهت
        بازگشت اطلاعات پس از ثبت می باشد,\r\n       \"partialPaymentPercent\": 0 //
        مبلغ پرداخت بخشی از مبلغ فاکتور (Note-1),\r\n       \"partialPaymentAmount\":
        0 // درصد پرداخت بخشی از مبلغ فاکتور (Note-1),\r\n       \"isAllowPartialPayment\":
        false, //صرفا جهت بازگشت اطلاعات پس از ثبت می باشد,\r\n       \"invoiceHasSchulder\":
        false, //صرفا جهت بازگشت اطلاعات پس از ثبت می باشد,\r\n       \"invoiceSchulder\":
        //در صورت نداشتن زمانبندی null قرار دهید\r\n          {\r\n            \"repeat\":
        1 ,// تعداد تکرار در هر روز/هفته/ماه/سال\r\n            \"schulderType\":
        0 ,//نوع زمابندی (Note-2)\r\n            \"schulderDueType\": 0 ,//پایان تکرار
        (Note-3)\r\n            \"endValue\": \"2\" // (Note-4),\r\n            \"dueDateAfterHowManyDay\":2
        //تاریخ سررسید پس از N روز از تاریخ ثبت باشد\r\n          },\r\n       \"invoiceTemplateItems\":
        [\r\n          {\r\n            \"code\": \"\" //صرفا جهت بازگشت اطلاعات پس
        از ثبت می باشد خالی ارسال کنید,\r\n            \"name\": \"کتاب اسرار پی پینگ\",\r\n
        \           \"description\": \"\",\r\n            \"itemCode\": \"IuQz\" //در
        صورتی که از بخش آیتم ها موجود انتخاب شده باید کد یکتای آن ثبت شود و تغییر
        مبلغ فی صرفا فقط در فاکتور ثبت میشود و آیتم اصلی تغییری نخواهد کرد\r\n            \"quantity\":
        1,\r\n            \"discountPercent\": 0 // درصد تخفیف به ازای هر آیتم (Note-1),\r\n
        \           \"discountAmount\": 0 // مبلغ تخفیف به ازای هر آیتم (Note-1),\r\n
        \           \"taxCode\": \"pSws\" //در صورتی که مالیات به صورت اختصاصی به
        هر آیتم انتخاب شده باید اعمال گردد این گزینه را با کد یکتای موجود در بخش مالیات
        ها تکمیل نمایید در غیر اینصورت خالی رها کنید\r\n            \"price\": 250000
        //به تومان می باشد\r\n          }\r\n        ],\r\n        \"itemHasDiscount\":
        false //صرفا جهت بازگشت اطلاعات پس از ثبت می باشد,\r\n        \"itemHasTax\":
        false //صرفا جهت بازگشت اطلاعات پس از ثبت می باشد,\r\n        \"itemHasDescription\":
        false //صرفا جهت بازگشت اطلاعات پس از ثبت می باشد,\r\n        \"attachmentsIds\":
        [ \"\", \"\", \"\" ] //کلید فایل(ها) دریافتی پس از آپلود را به صورت آرایه
        رشته ای در اینجا قرار دهید، اگر خالی ارسال کنید فایل های قبلی حفظ می مانند
        و اگر کلیدی ارسال شود به فایل های قبلی اضافه خواهد شد,\r\n    }\r\n       \r\n
        \   Note-1:\r\n       {\r\n         در صورتی که :\r\n         \"****Percent\"\r\n
        \        را تکمیل نمایید اولویت پردازش با این گزینه خواهد بود و\r\n         \"****Amount\"\r\n
        \        حتی اگر وارد شود، در پردازش فاکتور تاثیری نخواهد داشت\r\n       }\r\n
        \      \r\n    Note-2:\r\n       {\r\n         0 = Daily (روز),\r\n         1
        = Weekly (هفته),\r\n         2 = Monthly  (ماه),\r\n         3 = Yearly  (سالا)\r\n
        \      }\r\n       \r\n    Note-3:\r\n       {\r\n         0 = After (پایان
        بعد از N فاکتور),\r\n         1 = In (پایان بعد از تاریخی مشخص),\r\n         2
        = None  (پایان ندارد)\r\n       }\r\n       \r\n    Note-4:\r\n       {\r\n
        \        در صورتی که \r\n         schulderDueType = 1 (پایان در تاریخی مشخص)\r\n
        \        انتخاب شود\r\n         باید تاریخ را در این فیلد \r\n         (مانند
        : 1396/01/01)\r\n         قرار دهید\r\n       }"
      operationId: V1InvoiceTemplatesByCodePut
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: invoice template you want to create
        required: true
        type: string
      - name: value
        in: body
        description: invoice template you want to create
        required: false
        schema:
          "$ref": "#/definitions/InvoiceTemplateCreateOrUpdateViewModel"
      responses:
        '200':
          description: Returns the invoice template
          schema:
            "$ref": "#/definitions/InvoiceTemplateIndexViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't create your invoice template right now
    delete:
      tags:
      - InvoiceTemplates
      summary: Delete an invoice template.
      description: "Help:\r\n            \r\n    DELETE /invoice template\r\n    {\r\n
        \      \"code\": \"IUqk\" //کلید یکتا بصورت پارامتر حتما باید ارسال نمایید,\r\n
        \   }"
      operationId: V1InvoiceTemplatesByCodeDelete
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: unique code of invoice template
        required: true
        type: string
      responses:
        '200':
          description: Return the unique code
          schema:
            type: string
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't delete your invoice template right now
  "/v1/InvoiceTemplates/{code},{itemCode}":
    delete:
      tags:
      - InvoiceTemplates
      summary: Delete item of invoice template.
      description: "Help:\r\n            \r\n    DELETE /item of invoice template\r\n
        \   {\r\n       \"code\": \"IUqk\" //کلید یکتا فاکتور بصورت پارامتر حتما باید
        ارسال نمایید,\r\n       \"itemCode\": \"IUqk\" //کلید یکتا آیتم فاکتور بصورت
        پارامتر حتما باید ارسال نمایید,\r\n    }"
      operationId: V1InvoiceTemplatesByCode},{itemCodeDelete
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: unique code of invoice template
        required: true
        type: string
      - name: itemCode
        in: path
        description: unique code of item of invoice template
        required: true
        type: string
      responses:
        '200':
          description: Return the unique code
          schema:
            "$ref": "#/definitions/DeleteInvoiceItemResponseViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't delete your item of invoice template right now
  "/v1/InvoiceTemplates/DeleteAttachment/{code}":
    delete:
      tags:
      - InvoiceTemplates
      summary: Delete attachment of invoice template.
      description: "Help:\r\n            \r\n    DELETE /item of invoice template\r\n
        \   {\r\n       \"code\": \"IUqk\" //کلید یکتا فاکتور بصورت پارامتر حتما باید
        ارسال نمایید,\r\n    }"
      operationId: V1InvoiceTemplatesDeleteAttachmentByCodeDelete
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: unique code of invoice template
        required: true
        type: string
      - name: value
        in: body
        description: attachment delete request model
        required: false
        schema:
          "$ref": "#/definitions/AttachmentDeleteRequestViewModel"
      responses:
        '200':
          description: Return the response model
          schema:
            "$ref": "#/definitions/InvoiceAttachmentDeleteResponseByCodeViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't delete your attachment of invoice template right
            now
  "/v1/Items":
    get:
      tags:
      - Items
      summary: Get list of items.
      operationId: V1ItemsGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      responses:
        '200':
          description: Returns the items
          schema:
            "$ref": "#/definitions/ListViewModel[ItemIndexViewModel]"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't get your items right now
    post:
      tags:
      - Items
      summary: Create an item.
      description: "Help:\r\n            \r\n    POST /item\r\n    {\r\n       \"code\":
        \"\" //خالی ارسال نمایید,\r\n       \"hasTax\": true, //مالیات بر ارزش افزوده\r\n
        \      \"amountHasSetWithCustomer\": true //در صورتی که میخواهید مبلغ توسط
        مشتری وارد شود = true\r\n    }"
      operationId: V1ItemsPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: value
        in: body
        required: false
        schema:
          "$ref": "#/definitions/ItemCreateOrUpdateViewModel"
      responses:
        '200':
          description: Returns the item
          schema:
            "$ref": "#/definitions/ItemIndexViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't create your item right now
  "/v1/Items/{code}":
    get:
      tags:
      - Items
      summary: Get item.
      operationId: V1ItemsByCodeGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: unique code of item
        required: true
        type: string
      responses:
        '200':
          description: Returns the item
          schema:
            "$ref": "#/definitions/ItemIndexViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't get your item right now
    put:
      tags:
      - Items
      summary: Update an item.
      description: "Help:\r\n            \r\n    PUT /item\r\n    {\r\n       \"code\":
        \"IUqk\" //کلید یکتا بصورت پارامتر حتما باید ارسال نمایید,\r\n    }"
      operationId: V1ItemsByCodePut
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: unique code of item
        required: true
        type: string
      - name: value
        in: body
        description: item you want to update
        required: false
        schema:
          "$ref": "#/definitions/ItemCreateOrUpdateViewModel"
      responses:
        '200':
          description: Returns the item
          schema:
            "$ref": "#/definitions/ItemIndexViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't update your item right now
    delete:
      tags:
      - Items
      summary: Delete an item.
      description: "Help:\r\n            \r\n    DELETE /item\r\n    {\r\n       \"code\":
        \"IUqk\" //کلید یکتا بصورت پارامتر حتما باید ارسال نمایید,\r\n    }"
      operationId: V1ItemsByCodeDelete
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: code
        in: path
        description: unique code of item
        required: true
        type: string
      responses:
        '200':
          description: Return the unique code
          schema:
            type: string
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't delete your item right now
  "/v1/Items/Pagination/{page},{search},{take}":
    get:
      tags:
      - Items
      summary: Get pagination list of items.
      operationId: V1ItemsPaginationByPage},{search},{takeGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: page
        in: path
        description: begin from 1
        required: true
        type: integer
        format: int32
      - name: search
        in: path
        description: You can type anything
        required: true
        type: string
      - name: take
        in: path
        description: You can send 10
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: Returns the addressBooks
          schema:
            "$ref": "#/definitions/ListViewModel[ItemIndexViewModel]"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't get your addressbooks right now
  "/v1/Items/CreateBulkItems":
    post:
      tags:
      - Items
      summary: Create items.
      description: "Help:\r\n            \r\n    POST /item\r\n    {\r\n       \"code\":
        \"\" //خالی ارسال نمایید,\r\n       \"hasTax\": true, //مالیات بر ارزش افزوده\r\n
        \      \"amountHasSetWithCustomer\": true //در صورتی که میخواهید مبلغ توسط
        مشتری وارد شود = true\r\n    }"
      operationId: V1ItemsCreateBulkItemsPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: values
        in: body
        required: false
        schema:
          type: array
          items:
            "$ref": "#/definitions/ItemCreateOrUpdateViewModel"
      responses:
        '200':
          description: Returns the items
          schema:
            type: array
            items:
              "$ref": "#/definitions/ItemIndexViewModel"
        '400':
          description: If the Jwt token authorize is fail
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: Oops! Can't create your item right now
  "/v1/UploadManager":
    get:
      tags:
      - UploadManager
      operationId: V1UploadManagerGet
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces: []
      parameters:
      - name: modelvm
        in: body
        required: false
        schema:
          "$ref": "#/definitions/RequestFileViewModel"
      responses:
        '200':
          description: Success
    post:
      tags:
      - UploadManager
      operationId: V1UploadManagerPost
      consumes: []
      produces: []
      parameters:
      - name: files
        in: query
        required: false
        type: array
        items: {}
        collectionFormat: multi
      responses:
        '200':
          description: Success
    delete:
      tags:
      - UploadManager
      operationId: V1UploadManagerDelete
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces: []
      parameters:
      - name: modelvm
        in: body
        required: false
        schema:
          "$ref": "#/definitions/RequestFileViewModel"
      responses:
        '200':
          description: Success


  "/v1/Services/RemoveService":
    delete:
      tags:
      - Services
      summary: حذف یک سرویس
      operationId: V1ServicesRemoveServiceDelete
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: model
        in: body
        description: مشخصات سرویس
        required: false
        schema:
          "$ref": "#/definitions/ServiceViewModel"
      responses:
        '200':
          description: درخواست با موفقیت انجام شد
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Services/AddOrUpdate":
    put:
      tags:
      - Services
      summary: بروزرسانی یا اتصال یک سرویس
      operationId: V1ServicesAddOrUpdatePut
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: model
        in: body
        description: مشخصات سرویس
        required: false
        schema:
          type: object
      responses:
        '200':
          description: درخواست با موفقیت انجام شد
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Services/CheckExist":
    post:
      tags:
      - Services
      summary: برسی وجود یک سرویس
      operationId: V1ServicesCheckExistPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - text/plain
      - application/json
      - text/json
      parameters:
      - name: model
        in: body
        description: مشخصات سرویس
        required: false
        schema:
[...]
