---
swagger: '2.0'
servers:
  - url: https://api.payping.ir
    description: Host URL
info:
  version: نسخه اول
  title: سرویس‌های پلتفرم مالی پی‌پینگ
  x-logo:
    url: 'https://raw.githubusercontent.com/Ashkan-rmk/test-redoc/7acf03754958b2cd9778771ff5e02cbc0cb8e68b/logo/logo.png'
  description: >
   مستندات سرویس‌های عمومی پلت‌فرم مالی پی‌پینگ


    لینک‌های پشتیبانی: تلگرام: [t.me/payping](t.me/payping) | ایمیل: [info@payping.ir]() | تلفن: 02175038797
    # مقدمه

    تمامی وب‌ سرویس‌های توضیح داده شده در این مستندات به صورت [RESTful](https://en.wikipedia.org/wiki/Representational_state_transfer) هستند و طبق همین چهارچوب باید با آنها ارتباط برقرار کرد.    
    جهت رفع هرگونه مشکل و یا پرسش با پشتیبانی در تماس باشید.

    # POSTMAN
    برای راحتی کار شما فایل postman سرویس ها برای شما آماده شده است که می توانید از لینک زیر آن را دانلود کنید و با استفاده از اپلیکیشن دسکتاپ [postman](https://www.getpostman.com) از آن استفاده کنید
    
    [https://os.payping.ir/files/PayPing API - v1.postman_collection.json](https://os.payping.ir/files/PayPing API - v1.postman_collection.json)

    # توضیحات تکمیلی برای تمام سرویس‌ها

    برای فراخوانی سرویس‌های صفحه‌بندی (pagination) اگر پارامتر ورودی ارسال نشود، حداکثر ۱۰ آیتم نمایش داده می‌شود و همچنین حداکثر تعداد دریافت آیتم به ازای هر درخواست ۵۰ عدد می‌باشد و بیشتر از آن را سرویس پشتیبانی نمی‌کند و در صورت نیاز به بارگزاری تمام آیتم‌های یک سرویس به صورت یکجا با ایمیل به بخش پشتیبانی در تماس باشید.

    # نکاتی برای آپلود فایل‌ها

    برای آپلود هرگونه فایل اعم از عکس پروفایل کاربران و یا گزارشات پرداخت‌ها و ... می‌بایست که از [سرویس بارگذاری فایل](#tag/Upload) استفاده کنید.
    
    پس از انجام عملیات آپلود توسط سرویس بارگذاری فایل، تنها کافیست نام فایل آپلود شده که در خروجی سرویس به شما برگردانده می‌شود را ذخیره نمایید.

    # جدول کدهای دریافتی از هر سرویس

    بعد از ارسال هر درخواست به سمت سرور، از سمت ما طبق قواعد وب‌سرویس‌های RESTful یک کدی به شما بازگرداننده می‌شود.
    هر کد معنایی دارد که در جدول زیر توضیحات مربوطه را می‌بینید

    |شماره کد|توضیحات|
    |-------|--------|
    |`200`| عملیات با موفقیت انجام شد |
    |`400`| مشکلی در ارسال درخواست وجود دارد |
    |`500`| مشکلی در سرور رخ داده است |
    |`503`| سرور در حال حاضر قادر به پاسخگویی نمی‌باشد |
    |`401`| عدم دسترسی|
    |`403`| دسترسی غیر مجاز |
    |`404`| آیتم درخواستی مورد نظر موجود نمی‌باشد |

    # پروتکل احراز هویت

    برای احراز هویت در سرویس‌های مختلف باید از توکن Bearer در header درخواست‌ها به صورت زیر استفاده کنید:


    |پارامتر header| محتوا |
    |--------------| ----- |
    | Authorization |‌ Bearer TOKEN|

    اگر شما یک اپلیکیشن و یا وب‌سایت شخصی دارید و قصد استفاده از سرویس‌های مالی ما را برای خود دارید می‌بایست از access token استفاده کنید که روند دریافت آن از کنسول توسعه‌دهنده در لینک زیر آمده است:

    [https://www.payping.ir/oauth.html](https://www.payping.ir/oauth.html#accesstoken)


    اما اگر وب‌سایت و اپلیکیشن شما قصد دسترسی به اطلاعات سایر کاربران پی‌پینگ را دارد، شما می‌بایست از سرویس OAuth ما استفاده کنید که به شما اجازه یک احراز هویت امن با استفاده از یک متد استاندارد و ساده به اپلیکیشن‌های وب، موبایل و دسکتاپ میدهد. روند اعطای دسترسی و روند کار در لینک زیر توضیح داده شده است:

    [https://www.payping.ir/oauth.html](https://www.payping.ir/oauth.html#application)



    جدول حوزهای دسترسی برای احراز هویت در سرویس‌ها


    |حوزه‌های دسترسی|توصیحات|
    |--------------|-------|
    | `profile` | دسترسی مرتبط با تمام اطلاعات یک کاربر | 
    | `email` | دسترسی به مشاهده ایمیل |
    | ‍‍`nationalcode` | دسترسی به مشاهده کدملی کاربر |
    | `birthday` | دسترسی به مشاهده تاریخ تولد کاربر |
    | `shaba` | دسترسی به مشاهده شبای بانکی کاربر |
    | `phone` | دسترسی به مشاهده شماره تماس کاربر |
    | `pay:read` | دسترسی فقط خواندنی در سرویس پرداخت |
    | `pay:write` | دسترسی نوشتن و تغییرات در سرویس پرداخت |
    | `product:read` | دسترسی فقط خواندنی در سرویس آیتم‌های مالی |
    | `product:write` | دسترسی نوشتن و تغییرات در سرویس آیتم‌های مالی |
    | `invoice:read` | دسترسی فقط خواندنی در سرویس فاکتور |
    | `invoice:write` | دسترسی نوشتن و تغییرات در سرویس فاکتور |
    | `upload:write` | دسترسی مرتبط با سرویس بارگذاری فایل‌ها |

    <!-- ReDoc-Inject: <security-definitions> -->
  termsOfService: None

tags:
    - name: product
      description: سرویس‌های عمومی بخش آیتم‌های مالی، لینک ثابت و سرویس‌های مربوط به پروسه پرداخت آنها 
    - name: campaign
      description: سرویس‌های عمومی بخش کمپین‌ها‌
    - name: coupon
      description: سرویس‌های عمومی بخش کدهای تخفیف
    - name: ItemPay
      description: سرویس‌های عمومی بخش پروسه پرداخت یک آیتم‌مالی‌‌ 
    - name: Category
      description: سرویس‌های عمومی بخش دسته‌بندی‌ها 

    - name: AppManage
      description: متن تستی برای توضیح کنترلر مدیریت برنامه
    - name: File
      description: لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. 
    - name: Manage
      description: لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. 

    - name: Upload
      description: متدهای مرتبط با [آپلود فایل‌ها](#section/) ورودی تمام این سرویس‌ها به صورت formData می‌باشد.  

    - name: AddressBook
      description: لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
    - name: Invoice
      description: لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
    - name: Template
      description: لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.

    - name: Payment
      description: متدهای مرتبط با تراکنش‌های مالی که شامل پرداخت پول، پرداخت تسهیمی و تمام فرآیندهای تایید یک تراکنش می‌باشد. 
    - name: Report
      description: متدهای مرتبط با گزارش تراکنش‌های درخواست و یا پرداخت پول.
    - name: Request
      description: متدهای مرتبط با درخواست پول از دیگران به صورتیکه برای آنها یک لینک پرداخت به صورت ایمیل و یا پیامک ارسال می‌شود. 
    - name: Withdraw
      description: متدهای مرتبط با درخواست تسویه حساب.

x-tagGroups:
    - name: سرویس پرداخت
      tags:
        - Payment
        - Request
        - Withdraw
        - Report
    - name: سرویس آیتم‌های مالی
      tags:
        - product
        - campaign
        - coupon
        - permaLink
    - name: سرویس فاکتور
      tags:
        - AddressBook
        - Invoice
        - Template
    - name: سرویس آپلود فایل
      tags:
        - Upload



paths:



  "/v1/pay":
    post:
      tags:
      - Payment
      summary: ساخت پرداخت
      description: "به کمک این متد می توانید برای یک نفر کد پرداخت ایجاد کنید.\r\nفراخوانی
        این متد برای شما یک کد 4 حرفی تولید می کند.\r\nپس از ساخت یک پرداخت، برای
        ورود به درگاه بانک تنها کافیست کاربر را به همراه کد ساخته شده به آدرس https://api.payping.ir/v1/pay/gotoipg/PAYCODE
        هدایت نمایید.\r\nپس از اتمام فرایند در درگاه بانکی، کاربر به آدرسی که در ReturnUrl
        توسط شما مشخص شده است هدایت می شود\r\nکه حاوی دو پارامتر Refid, ClientRefId
        در قسمت QueryString آدرس می باشد.\r\nRefid مقداری است که برای تایید پرداخت
        (متد Verify) باید از آن استفاده کرد و \r\nClientRefId نیز همان مقداری است
        که در هنگام ساخته شدن پرداخت جدید از شما دریافت شده است."
      operationId: V1PayPost
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: model
        in: body
        description: مشخصات پرداخت
        required: false
        schema:
          "$ref": "#/definitions/CreatePaymentViewModel"
      responses:
        '200':
          description: پرداخت پول جدید با موفقیت ساخته شد
          schema:
            "$ref": "#/definitions/PaymentResult"
      security:
        - petstore_auth:
            - 'pay:write'
  "/v1/pay/Multi":
    post:
      tags:
      - Payment
      summary: ساخت پرداخت تسهیمی
      description: "به کمک این متد می توانید برای یک پرداخت چند نفره (تسهیمی) کد پرداخت
        ایجاد کنید.\r\nفراخوانی این متد برای شما یک کد 4 حرفی تولید می کند.\r\nپس
        از ساخت یک پرداخت، برای ورود به درگاه بانک تنها کافیست کاربر را به همراه کد
        ساخته شده به آدرس https://api.payping.ir/v1/pay/gotoipg/PAYCODE هدایت نمایید.\r\nپس
        از اتمام فرایند در درگاه بانکی، کاربر به آدرسی که در ReturnUrl توسط شما مشخص
        شده است هدایت می شود\r\nکه حاوی دو پارامتر Refid, ClientRefId در قسمت QueryString
        آدرس می باشد.\r\nRefid مقداری است که برای تایید پرداخت (متد Verify) باید از
        آن استفاده کرد و \r\nClientRefId نیز همان مقداری است که در هنگام ساخته شدن
        پرداخت جدید از شما دریافت شده است."
      operationId: V1PayMultiPost
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: model
        in: body
        description: مشخصات پرداخت
        required: false
        schema:
          "$ref": "#/definitions/CreateMultiPaymentViewModel"
      responses:
        '200':
          description: پرداخت پول جدید با موفقیت ساخته شد
          schema:
            "$ref": "#/definitions/PaymentResult"
  "/v1/pay/verify":
    post:
      tags:
      - Payment
      summary: تایید پرداخت
      description: "از این متد برای تایید پرداخت موفق پس از بازگشت از درگاه بانکی
        استفاده می شود.\r\nدر صورتی که این متد تا 10 دقیقه پس از پرداخت فراخوانی نشود
        پرداخت باطل شده و پول به حساب پرداخت کننده باز خواهد گشت"
      operationId: V1PayVerifyPost
      consumes:
      - application/json
      produces: []
      parameters:
      - name: model
        in: body
        description: مشخصات پرداخت
        required: false
        schema:
          "$ref": "#/definitions/VerifyPaymentViewModel"
      responses:
        '200':
          description: تاییدیه آیتم مالی با موفقیت انجام شد
  "/v1/pay/{Code}":
    delete:
      tags:
      - Payment
      summary: برای لغو کردن یک کد پرداخت می توانید از این متد استفاده کنید
      operationId: V1PayByCodeDelete
      consumes: []
      produces: []
      parameters:
      - name: code
        in: path
        description: کد پرداخت
        required: true
        type: string
      responses:
        '200':
          description: عملیات لغو با موفقیت انجام شد
  "/v1/report/TransactionReport":
    post:
      tags:
      - Report
      summary: گزارش تراکنش ها
      operationId: V1ReportTransactionReportPost
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: model
        in: body
        description: ''
        required: false
        schema:
          "$ref": "#/definitions/TransactionReportModel"
      responses:
        '200':
          description: لیسات تراکنش ها با موفقیت ساخته شد
          schema:
            uniqueItems: false
            type: array
            items:
              "$ref": "#/definitions/TransactionReportViewModel"
  "/v1/report/TransactionReportCount":
    post:
      tags:
      - Report
      operationId: V1ReportTransactionReportCountPost
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: model
        in: body
        required: false
        schema:
          "$ref": "#/definitions/BaseTransactionReport"
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/ResultVM"
  "/v1/report/{code}":
    get:
      tags:
      - Report
      summary: نمایش جزئیات تراکنش
      operationId: V1ReportByCodeGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: code
        in: path
        description: مشخصات تراکنش
        required: true
        type: string
      responses:
        '200':
          description: جزئیات تراکنش با موفقیت ساخته شد
          schema:
            "$ref": "#/definitions/PaymentDetailsVM"
  "/v1/request":
    post:
      tags:
      - Request
      summary: ارسال درخواست پول
      description: از این متد برای ارسال لینک درخواست پول برای یک نفر بصورت  پیامک
        یا ایمیل استفاده می شود
      operationId: V1RequestPost
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: model
        in: body
        description: مشخصات درخواست پول
        required: false
        schema:
          "$ref": "#/definitions/CreateRequestViewModel"
      responses:
        '200':
          description: ساخت درخواست پول جدید با موفقیت انجام شد
          schema:
            "$ref": "#/definitions/RequestResult"
  "/v1/request/Multi":
    post:
      tags:
      - Request
      summary: ارسال درخواست پول برای چند نفر
      description: از این متد برای ارسال لینک درخواست پول برای چند نفر بصورت  پیامک
        یا ایمیل استفاده می شود
      operationId: V1RequestMultiPost
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: model
        in: body
        description: مشخصات درخواست گنندگان پول
        required: false
        schema:
          "$ref": "#/definitions/CreateMultiRequestViewModel"
      responses:
        '200':
          description: درخواست پول با موفقیت انجام شد
          schema:
            uniqueItems: false
            type: array
            items:
              "$ref": "#/definitions/MultiRequestViewModel"
  "/v1/request/{code}/SendReminder":
    post:
      tags:
      - Request
      summary: یادآوری مجدد درخواست پول
      description: از این متد برای ارسال مجدد پیامک یا ایمیل لینک درخواست پول استفاده
        می شود
      operationId: V1RequestByCodeSendReminderPost
      consumes: []
      produces: []
      parameters:
      - name: code
        in: path
        description: کد درخواست
        required: true
        type: string
      responses:
        '200':
          description: یادآوری با موفقیت انجام شد
  "/v1/request/{code}":
    delete:
      tags:
      - Request
      summary: لغو درخواست پول
      description: برای لغو کردن یک کد درخواست می توانید از این متد استفاده کنید
      operationId: V1RequestByCodeDelete
      consumes: []
      produces: []
      parameters:
      - name: code
        in: path
        description: کد درخواست
        required: true
        type: string
      responses:
        '200':
          description: درخواست با موفقیت کنسل شد
  "/v1/withdraw/{amount}":
    post:
      tags:
      - Withdraw
      summary: درخواست تسویه حساب
      operationId: V1WithdrawByAmountPost
      consumes: []
      produces:
      - application/json
      parameters:
      - name: amount
        in: path
        description: مبلغ تسویه حساب
        required: true
        type: integer
        format: int32
      responses:
        '200':
          description: تسویه حساب جدید با موفقیت ساخته شد
          schema:
            "$ref": "#/definitions/WithdrawResult"
  "/v1/withdraw/{Code}":
    get:
      tags:
      - Withdraw
      summary: نمایش جزئیات درخواست تسویه
      operationId: V1WithdrawByCodeGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: code
        in: path
        description: کد درخواست تسویه
        required: true
        type: string
      responses:
        '200':
          description: جزئیات تسویه با موفقیت نمایش داده شد
          schema:
            "$ref": "#/definitions/WithdrawDetailsViewModel"















  "/v1/AddressBook/List":
    get:
      tags:
      - AddressBook
      summary: لیست مشتریان
      operationId: V1AddressBookListGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: offset
        in: query
        description: شروع صفحه از شماره 1
        required: false
        type: integer
        format: int32
        default: 0
      - name: limit
        in: query
        description: 'تعداد سطر بازگشت داده ها مثال : 10'
        required: false
        type: integer
        format: int32
        default: 10
      - name: search
        in: query
        description: متن مورد نظر جهت جستجو
        required: false
        type: string
      responses:
        '200':
          description: نمایش لیست مشتریان
          schema:
            uniqueItems: false
            type: array
            items:
              "$ref": "#/definitions/AddressBookListItemViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: مشتری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/AddressBook/ListCount":
    get:
      tags:
      - AddressBook
      summary: تعداد مشتریان
      operationId: V1AddressBookListCountGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: search
        in: query
        description: متن مورد نظر جهت جستجو
        required: false
        type: string
      responses:
        '200':
          description: نمایش تعداد مشتریان
          schema:
            "$ref": "#/definitions/ListCountViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: مشتری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/AddressBook/{code}":
    get:
      tags:
      - AddressBook
      summary: مشخصات مشتری
      operationId: V1AddressBookByCodeGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: code
        in: path
        description: کد مشتری ارسال نمایید
        required: true
        type: string
      responses:
        '200':
          description: نمایش مشخصات مشتری
          schema:
            "$ref": "#/definitions/AddressBookDetailViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: مشتری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
    put:
      tags:
      - AddressBook
      summary: بروزرسانی مشخصات مشتری
      operationId: V1AddressBookByCodePut
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: code
        in: path
        description: کلید یکتا مشتری
        required: true
        type: string
      - name: value
        in: body
        description: مشخصات بروز شده مشتری
        required: false
        schema:
          "$ref": "#/definitions/AddressBookEditViewModel"
      responses:
        '200':
          description: نمایش مشخصات مشتری
          schema:
            "$ref": "#/definitions/AddressBookDetailViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: مشتری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
    delete:
      tags:
      - AddressBook
      summary: حذف مشتری
      operationId: V1AddressBookByCodeDelete
      consumes: []
      produces:
      - application/json
      parameters:
      - name: code
        in: path
        description: کلید یکتا مشتری
        required: true
        type: string
      responses:
        '200':
          description: نمایش کلید یکتای مشتری
          schema:
            type: string
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: مشتری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/AddressBook":
    post:
      tags:
      - AddressBook
      summary: مشتری جدید
      operationId: V1AddressBookPost
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: value
        in: body
        description: مشخصات مشتری
        required: false
        schema:
          "$ref": "#/definitions/AddressBookCreateViewModel"
      responses:
        '200':
          description: نمایش مشخصات مشتری
          schema:
            "$ref": "#/definitions/AddressBookDetailViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: مشتری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice/SumPerStatus":
    get:
      tags:
      - Invoice
      summary: گزارش جمع مبلغ فاکتور ها براساس وضعیت
      operationId: V1InvoiceSumPerStatusGet
      consumes: []
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: جمع مبلغ فاکتور ها براساس وضعیت
          schema:
            "$ref": "#/definitions/InvoiceDashboardReportViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: گزارشی با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice/Schedule/{code}":
    get:
      tags:
      - Invoice
      summary: دریافت فاکتور زمانبندی شده
      operationId: V1InvoiceScheduleByCodeGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: code
        in: path
        required: true
        type: string
      responses:
        '200':
          description: فاکتور زمانبندی شده
          schema:
            "$ref": "#/definitions/ScheduleInvoiceWithChilds"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتوری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice/List":
    get:
      tags:
      - Invoice
      summary: لیست فاکتور ها
      operationId: V1InvoiceListGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: offset
        in: query
        description: ''
        required: false
        type: integer
        format: int32
        default: 0
      - name: limit
        in: query
        description: ''
        required: false
        type: integer
        format: int32
        default: 10
      - name: status
        in: query
        description: فیلتر وضعیت
        required: false
        type: integer
        format: int32
        default: 5
        enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
      - name: isArchived
        in: query
        description: فیلتر بایگانی
        required: false
        type: boolean
        default: false
      - name: searchByDueDate
        in: query
        description: فیلتر با تاریخ سررسید
        required: false
        type: boolean
        default: false
      - name: searchByCreateDate
        in: query
        description: فیلتر با تاریخ ثبت
        required: false
        type: boolean
        default: false
      - name: searchDateFrom
        in: query
        description: شروع از تاریخ
        required: false
        type: string
        format: date-time
      - name: searchDateTo
        in: query
        description: تا تاریخ
        required: false
        type: string
        format: date-time
      - name: search
        in: query
        description: متن جستجو
        required: false
        type: string
      responses:
        '200':
          description: نمایش لیست فاکتور ها
          schema:
            uniqueItems: false
            type: array
            items:
              "$ref": "#/definitions/InvoiceListItemViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتوری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice/ListCount":
    get:
      tags:
      - Invoice
      summary: تعداد فاکتور ها
      operationId: V1InvoiceListCountGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: status
        in: query
        description: فیلتر وضعیت
        required: false
        type: integer
        format: int32
        default: 5
        enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
      - name: isArchived
        in: query
        description: فیلتر بایگانی
        required: false
        type: boolean
        default: false
      - name: searchByDueDate
        in: query
        description: فیلتر با تاریخ سررسید
        required: false
        type: boolean
        default: false
      - name: searchByCreateDate
        in: query
        description: فیلتر با تاریخ ثبت
        required: false
        type: boolean
        default: false
      - name: searchDateFrom
        in: query
        description: شروع از تاریخ
        required: false
        type: string
        format: date-time
      - name: searchDateTo
        in: query
        description: تا تاریخ
        required: false
        type: string
        format: date-time
      - name: search
        in: query
        description: متن جستجو
        required: false
        type: string
      responses:
        '200':
          description: نمایش تعداد فاکتور ها
          schema:
            "$ref": "#/definitions/ListCountViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتوری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice/ListSchedule":
    get:
      tags:
      - Invoice
      summary: لیست فاکتور ها زمانبندی شده
      operationId: V1InvoiceListScheduleGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: offset
        in: query
        description: ''
        required: false
        type: integer
        format: int32
        default: 0
      - name: limit
        in: query
        description: ''
        required: false
        type: integer
        format: int32
        default: 10
      - name: status
        in: query
        description: فیلتر وضعیت
        required: false
        type: integer
        format: int32
        default: 5
        enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
      - name: isArchived
        in: query
        description: فیلتر بایگانی
        required: false
        type: boolean
        default: false
      - name: searchByDueDate
        in: query
        description: فیلتر با تاریخ سررسید
        required: false
        type: boolean
        default: false
      - name: searchByCreateDate
        in: query
        description: فیلتر با تاریخ ثبت
        required: false
        type: boolean
        default: false
      - name: searchDateFrom
        in: query
        description: شروع از تاریخ
        required: false
        type: string
        format: date-time
      - name: searchDateTo
        in: query
        description: تا تاریخ
        required: false
        type: string
        format: date-time
      - name: search
        in: query
        description: متن جستجو
        required: false
        type: string
      responses:
        '200':
          description: نمایش لیست فاکتور ها زمانبندی شده
          schema:
            uniqueItems: false
            type: array
            items:
              "$ref": "#/definitions/InvoiceListItemViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتوری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice/ListScheduleCount":
    get:
      tags:
      - Invoice
      summary: تعداد فاکتور ها زمانبندی شده
      operationId: V1InvoiceListScheduleCountGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: status
        in: query
        description: فیلتر وضعیت
        required: false
        type: integer
        format: int32
        default: 5
        enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
      - name: isArchived
        in: query
        description: فیلتر بایگانی
        required: false
        type: boolean
        default: false
      - name: searchByDueDate
        in: query
        description: فیلتر با تاریخ سررسید
        required: false
        type: boolean
        default: false
      - name: searchByCreateDate
        in: query
        description: فیلتر با تاریخ ثبت
        required: false
        type: boolean
        default: false
      - name: searchDateFrom
        in: query
        description: شروع از تاریخ
        required: false
        type: string
        format: date-time
      - name: searchDateTo
        in: query
        description: تا تاریخ
        required: false
        type: string
        format: date-time
      - name: search
        in: query
        description: متن جستجو
        required: false
        type: string
      responses:
        '200':
          description: نمایش تعداد فاکتور ها زمانبندی شده
          schema:
            "$ref": "#/definitions/ListCountViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتوری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice/{code}":
    get:
      tags:
      - Invoice
      summary: دریافت فاکتور
      operationId: V1InvoiceByCodeGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: code
        in: path
        description: کلید یکتای فاکتور
        required: true
        type: string
      responses:
        '200':
          description: نمایش فاکتور
          schema:
            "$ref": "#/definitions/InvoiceDetailViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتوری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
    put:
      tags:
      - Invoice
      summary: بروزرسانی فاکتور
      operationId: V1InvoiceByCodePut
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: code
        in: path
        description: کلید یکتای فاکتور
        required: true
        type: string
      - name: value
        in: body
        description: فاکتور بروز شده
        required: false
        schema:
          "$ref": "#/definitions/InvoiceEditViewModel"
      responses:
        '200':
          description: نمایش فاکتور
          schema:
            "$ref": "#/definitions/InvoiceDetailViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتور یا داده های وابسته به فاکتور با داده های ورودی درخواست
            شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
    delete:
      tags:
      - Invoice
      summary: حذف فاکتور
      operationId: V1InvoiceByCodeDelete
      consumes: []
      produces:
      - application/json
      parameters:
      - name: code
        in: path
        description: کلید یکتای فاکتور
        required: true
        type: string
      responses:
        '200':
          description: نمایش کلید یکتای فاکتور
          schema:
            type: string
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتوری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice/SendByTemplate":
    post:
      tags:
      - Invoice
      summary: ارسال فاکتور جدید با استفاده از قالب
      operationId: V1InvoiceSendByTemplatePost
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: value
        in: body
        description: مشخصات فاکتور
        required: false
        schema:
          "$ref": "#/definitions/InvoiceSendByTemplate"
      responses:
        '200':
          description: نمایش فاکتور
          schema:
            "$ref": "#/definitions/InvoiceDetailViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتور یا داده های وابسته به فاکتور با داده های ورودی درخواست
            شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice":
    post:
      tags:
      - Invoice
      summary: فاکتور جدید
      operationId: V1InvoicePost
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: value
        in: body
        description: مشخصات فاکتور
        required: false
        schema:
          "$ref": "#/definitions/InvoiceCreateViewModel"
      responses:
        '200':
          description: نمایش فاکتور
          schema:
            "$ref": "#/definitions/InvoiceDetailViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتور یا داده های وابسته به فاکتور با داده های ورودی درخواست
            شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice/Schedule":
    post:
      tags:
      - Invoice
      summary: فاکتور زمانبندی شده جدید
      operationId: V1InvoiceSchedulePost
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: value
        in: body
        description: مشخصات فاکتور زمانبندی شده
        required: false
        schema:
          "$ref": "#/definitions/InvoiceCreateScheduleViewModel"
      responses:
        '200':
          description: نمایش فاکتور زمانبندی شده
          schema:
            "$ref": "#/definitions/InvoiceDetailViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتور یا داده های وابسته به فاکتور با داده های ورودی درخواست
            شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice/DeleteSchedule/{code}":
    delete:
      tags:
      - Invoice
      summary: حذف فاکتور زمانبندی شده
      operationId: V1InvoiceDeleteScheduleByCodeDelete
      consumes: []
      produces:
      - application/json
      parameters:
      - name: code
        in: path
        description: کلید یکتای فاکتور زمانبندی شده
        required: true
        type: string
      responses:
        '200':
          description: نمایش کلید یکتای فاکتور زمانبندی شده
          schema:
            type: string
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتوری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice/Pdf/{code}":
    get:
      tags:
      - Invoice
      summary: درخواست فاکتور غیر رسمی
      operationId: V1InvoicePdfByCodeGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: code
        in: path
        description: کلید یکتای فاکتور
        required: true
        type: string
      responses:
        '200':
          description: نمایش مشخصات فایل فاکتور غیر رسمی
          schema:
            "$ref": "#/definitions/InvoicePdfResponseViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتوری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice/Cancel":
    post:
      tags:
      - Invoice
      summary: درخواست لغو فاکتور
      operationId: V1InvoiceCancelPost
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: value
        in: body
        description: ''
        required: false
        schema:
          "$ref": "#/definitions/InvoiceCancelRequest"
      responses:
        '200':
          description: نمایش فاکتور
          schema:
            "$ref": "#/definitions/InvoiceCancelResponse"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتوری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice/Reminder/{code}":
    post:
      tags:
      - Invoice
      summary: ارسال یادآوری فاکتور
      operationId: V1InvoiceReminderByCodePost
      consumes: []
      produces:
      - application/json
      parameters:
      - name: code
        in: path
        description: کلید یکتای فاکتور
        required: true
        type: string
      responses:
        '200':
          description: نمایش وضعیت ارسال یادآوری فاکتور
          schema:
            "$ref": "#/definitions/InvoiceSendReminderResponseViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتوری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Invoice/Send/{code}":
    post:
      tags:
      - Invoice
      summary: ارسال فاکتور
      operationId: V1InvoiceSendByCodePost
      consumes: []
      produces:
      - application/json
      parameters:
      - name: code
        in: path
        description: کلید یکتای فاکتور
        required: true
        type: string
      responses:
        '200':
          description: نمایش وضعیت ارسال فاکتور
          schema:
            "$ref": "#/definitions/InvoiceSendInvoiceResponseViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: فاکتوری با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Template/List":
    get:
      tags:
      - Template
      summary: لیست قالب ها
      operationId: V1TemplateListGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: offset
        in: query
        description: شروع صفحه از شماره 1
        required: false
        type: integer
        format: int32
        default: 0
      - name: limit
        in: query
        description: 'تعداد سطر بازگشت داده ها مثال : 10'
        required: false
        type: integer
        format: int32
        default: 10
      - name: search
        in: query
        description: متن مورد نظر جهت جستجو
        required: false
        type: string
      responses:
        '200':
          description: نمایش قالب ها
          schema:
            uniqueItems: false
            type: array
            items:
              "$ref": "#/definitions/InvoiceTemplateListItemViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: قالبی با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Template/ListCount":
    get:
      tags:
      - Template
      summary: تعداد قالب ها
      operationId: V1TemplateListCountGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: search
        in: query
        description: متن مورد نظر جهت جستجو
        required: false
        type: string
      responses:
        '200':
          description: نمایش تعداد قالب ها
          schema:
            "$ref": "#/definitions/ListCountViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: قالبی با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Template/ListSchedule":
    get:
      tags:
      - Template
      summary: لیست قالب های زمانبندی
      operationId: V1TemplateListScheduleGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: offset
        in: query
        description: شروع صفحه از شماره 1
        required: false
        type: integer
        format: int32
        default: 0
      - name: limit
        in: query
        description: 'تعداد سطر بازگشت داده ها مثال : 10'
        required: false
        type: integer
        format: int32
        default: 10
      - name: search
        in: query
        description: متن مورد نظر جهت جستجو
        required: false
        type: string
      responses:
        '200':
          description: نمایش قالب ها
          schema:
            uniqueItems: false
            type: array
            items:
              "$ref": "#/definitions/InvoiceTemplateListItemViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: قالبی با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Template/ListScheduleCount":
    get:
      tags:
      - Template
      summary: تعداد قالب های زمانبندی
      operationId: V1TemplateListScheduleCountGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: search
        in: query
        description: متن مورد نظر جهت جستجو
        required: false
        type: string
      responses:
        '200':
          description: نمایش تعداد قالب ها
          schema:
            "$ref": "#/definitions/ListCountViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: قالبی با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Template/ListNonSchedule":
    get:
      tags:
      - Template
      summary: لیست قالب های غیر زمانبندی
      operationId: V1TemplateListNonScheduleGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: offset
        in: query
        description: شروع صفحه از شماره 1
        required: false
        type: integer
        format: int32
        default: 0
      - name: limit
        in: query
        description: 'تعداد سطر بازگشت داده ها مثال : 10'
        required: false
        type: integer
        format: int32
        default: 10
      - name: search
        in: query
        description: متن مورد نظر جهت جستجو
        required: false
        type: string
      responses:
        '200':
          description: نمایش قالب ها
          schema:
            uniqueItems: false
            type: array
            items:
              "$ref": "#/definitions/InvoiceTemplateListItemViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: قالبی با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Template/ListNonScheduleCount":
    get:
      tags:
      - Template
      summary: تعداد قالب های غیر زمانبندی
      operationId: V1TemplateListNonScheduleCountGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: search
        in: query
        description: متن مورد نظر جهت جستجو
        required: false
        type: string
      responses:
        '200':
          description: نمایش تعداد قالب ها
          schema:
            "$ref": "#/definitions/ListCountViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: قالبی با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Template/{code}":
    get:
      tags:
      - Template
      summary: دریافت قالب
      operationId: V1TemplateByCodeGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: code
        in: path
        description: کلید یکتای قالب
        required: true
        type: string
      responses:
        '200':
          description: نمایش قالب
          schema:
            "$ref": "#/definitions/InvoiceTemplateDetailViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: قالبی با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
    put:
      tags:
      - Template
      summary: بروزرسانی قالب
      operationId: V1TemplateByCodePut
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: code
        in: path
        description: کلید یکتای قالب
        required: true
        type: string
      - name: value
        in: body
        description: قالب بروز شده
        required: false
        schema:
          "$ref": "#/definitions/InvoiceTemplateEditViewModel"
      responses:
        '200':
          description: نمایش قالب
          schema:
            "$ref": "#/definitions/InvoiceTemplateDetailViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: قالب یا داده های وابسته به قالب با داده های ورودی درخواست شما
            پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
    delete:
      tags:
      - Template
      summary: حذف قالب
      operationId: V1TemplateByCodeDelete
      consumes: []
      produces:
      - application/json
      parameters:
      - name: code
        in: path
        description: کلید یکتای قالب
        required: true
        type: string
      responses:
        '200':
          description: نمایش کلید یکتای قالب
          schema:
            type: string
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: قالبی با داده های ورودی درخواست شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است
  "/v1/Template":
    post:
      tags:
      - Template
      summary: قالب جدید
      operationId: V1TemplatePost
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: value
        in: body
        description: مشخصات قالب
        required: false
        schema:
          "$ref": "#/definitions/InvoiceTemplateCreateViewModel"
      responses:
        '200':
          description: نمایش قالب
          schema:
            "$ref": "#/definitions/InvoiceTemplateDetailViewModel"
        '400':
          description: مشکلی در ارسال درخواست وجود دارد
          schema:
            type: object
            additionalProperties:
              type: string
        '401':
          description: عدم دسترسی
        '403':
          description: دسترسی غیرمجاز
        '404':
          description: اطلاعات وابسته نسبت به ثبت قالب جدید با داده های ورودی درخواست
            شما پیدا نشد
        '500':
          description: مشکلی در سرور رخ داده است










  "/v1/campaign":
    post:
      tags:
      - campaign
      summary: ساخت یک کمپین جدید
      operationId: V1CampaignPost
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: model
        in: body
        description: مشخصات کمپین
        required: false
        schema:
          "$ref": "#/definitions/CampaignCreateViewModel"
      responses:
        '200':
          description: کمپین با موفقیت ساخته شد
          schema:
            "$ref": "#/definitions/CodeVM"
    put:
      tags:
      - campaign
      summary: بروزرسانی کمپین
      operationId: V1CampaignPut
      consumes:
      - application/json
      produces: []
      parameters:
      - name: model
        in: body
        description: مشخصات کمپین
        required: false
        schema:
          "$ref": "#/definitions/CampaignEditViewModel"
      responses:
        '200':
          description: کمپین با موفقیت بروزرسانی شد
        '404':
          description: کمپینی با این کد وجود ندارد
  "/v1/campaign/{code}":
    get:
      tags:
      - campaign
      summary: نمایش یک کمپین
      operationId: V1CampaignByCodeGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: code
        in: path
        description: کد کمپین
        required: true
        type: string
      responses:
        '200':
          description: کمپین با موفقیت نمایش داده شد
          schema:
            "$ref": "#/definitions/CampaignDetailViewModel"
        '404':
          description: کمپینی با این کد وجود ندارد
    delete:
      tags:
      - campaign
      summary: حذف یک کمپین
      operationId: V1CampaignByCodeDelete
      consumes: []
      produces: []
      parameters:
      - name: code
        in: path
        description: کد کمپین
        required: true
        type: string
      responses:
        '200':
          description: کمپین با موفقیت حذف شد
        '404':
          description: کمپینی با این کد وجود ندارد
  "/v1/campaign/List":
    get:
      tags:
      - campaign
      summary: نمایش لیست کمپین‌ها
      operationId: V1CampaignListGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: offset
        in: query
        description: شماره ابتدا لیست
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        description: شماره انتها لیست
        required: false
        type: integer
        format: int32
      - name: witharchived
        in: query
        description: اضافه شدن کمپین‌های‌ آرشیو شده
        required: false
        type: boolean
      - name: search
        in: query
        description: کیلدواژه جستجو در کمپین‌ها
        required: false
        type: string
      responses:
        '200':
          description: لیست کمپین‌ها با موفقیت نمایش داده شد
          schema:
            type: array
            items:
              "$ref": "#/definitions/CampaignListItemViewModel"
  "/v1/campaign/ListCount":
    get:
      tags:
      - campaign
      summary: دریافت تعداد کمپین‌ها
      operationId: V1CampaignListCountGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: witharchived
        in: query
        required: false
        type: boolean
      - name: search
        in: query
        required: false
        type: string
      responses:
        '200':
          description: تعداد کمپین‌ها با موفقیت نمایش داده شد
          schema:
            "$ref": "#/definitions/CountVM"

  "/v1/campaign/{code}/BuyersListCount":
    get:
      tags:
      - campaign
      summary: دریافت تعداد خرید‌های کمپین
      operationId: V1CampaignByCodeBuyersListCountGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: code
        in: path
        description: شناسه کمپین
        required: true
        type: string
      responses:
        '200':
          description: تعداد خریدهای کمپین با موفقیت نمایش داده شد
          schema:
            "$ref": "#/definitions/CountVM"
  "/v1/campaign/{code}/BuyersList":
    get:
      tags:
      - campaign
      summary: دریافت لیست پرداخت‌های انجام شده کمپین
      operationId: V1CampaignByCodeBuyersListGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: campaignCode
        in: query
        description: شناسه کمپین
        required: false
        type: string
      - name: offset
        in: query
        description: شماره ابتدا لیست
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        description: شماره انتها لیست
        required: false
        type: integer
        format: int32
      - name: code
        in: path
        required: true
        type: string
      responses:
        '200':
          description: لیست خریدهای این کمپین با موفقیت نمایش داده شد
          schema:
            type: array
            items:
              "$ref": "#/definitions/CampaignBuyerViewModel"
  "/v1/coupon":
    post:
      tags:
      - coupon
      summary: ساخت یک کد تخفیف جدید
      operationId: V1CouponPost
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: model
        in: body
        description: مشخصات کد تخفیف
        required: false
        schema:
          "$ref": "#/definitions/CouponCreateViewModel"
      responses:
        '200':
          description: کد تخفیف با موفقیت ساخته شد
          schema:
            "$ref": "#/definitions/CodeVM"
    put:
      tags:
      - coupon
      summary: بروزرسانی کد تخفیف
      operationId: V1CouponPut
      consumes:
      - application/json
      produces: []
      parameters:
      - name: model
        in: body
        description: مشخصات کد تخفیف
        required: false
        schema:
          "$ref": "#/definitions/CouponEditViewModel"
      responses:
        '200':
          description: کد تخفیف با موفقیت بروزرسانی شد
        '404':
          description: کد تخفیفی با این شناسه وجود ندارد
  "/v1/coupon/{code}":
    get:
      tags:
      - coupon
      summary: نمایش یک کد تخفیف
      operationId: V1CouponByCodeGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: code
        in: path
        description: شناسه کد تخفیف
        required: true
        type: string
      responses:
        '200':
          description: کد تخفیف با موفقیت نمایش داده شد
          schema:
            "$ref": "#/definitions/CouponDetailViewModel"
        '404':
          description: کد تخفیفی با این شناسه وجود ندارد
    delete:
      tags:
      - coupon
      summary: حذف یک کد تخفیف
      operationId: V1CouponByCodeDelete
      consumes: []
      produces: []
      parameters:
      - name: code
        in: path
        description: شناسه کد تخفیف
        required: true
        type: string
      responses:
        '200':
          description: کد تخفیف با موفقیت حذف شد
        '404':
          description: کد تخفیفی با این شناسه وجود ندارد
  "/v1/coupon/List":
    get:
      tags:
      - coupon
      summary: نمایش لیست کدهای تخفیف
      operationId: V1CouponListGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: offset
        in: query
        description: شماره ابتدا لیست
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        description: شماره انتها لیست
        required: false
        type: integer
        format: int32
      - name: witharchived
        in: query
        description: اضافه شدن کدهای تخفیف‌ آرشیو شده
        required: false
        type: boolean
      - name: search
        in: query
        description: کیلدواژه جستجو در کدهای تخفیف
        required: false
        type: string
      responses:
        '200':
          description: لیست کدهای تخفیف با موفقیت نمایش داده شد
          schema:
            type: array
            items:
              "$ref": "#/definitions/CouponListItemViewModel"
  "/v1/coupon/ListCount":
    get:
      tags:
      - coupon
      summary: دریافت تعداد کدهای تخفیف
      operationId: V1CouponListCountGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: witharchived
        in: query
        required: false
        type: boolean
      - name: search
        in: query
        required: false
        type: string
      responses:
        '200':
          description: تعداد کدهای تخفیف با موفقیت نمایش داده شد
          schema:
            "$ref": "#/definitions/CountVM"

  "/v1/coupon/{code}/BuyersListCount":
    get:
      tags:
      - coupon
      summary: دریافت تعداد خرید‌های یک کد تخفیف
      operationId: V1CouponByCodeBuyersListCountGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: code
        in: path
        description: شناسه کد تخفیف
        required: true
        type: string
      responses:
        '200':
          description: تعداد خریدهای یک کد تخفیف با موفقیت نمایش داده شد
          schema:
            "$ref": "#/definitions/CountVM"
  "/v1/coupon/{code}/BuyersList":
    get:
      tags:
      - coupon
      summary: دریافت لیست پرداخت‌های انجام شده یک کد تخفیف
      operationId: V1CouponByCodeBuyersListGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: couponCode
        in: query
        description: شناسه کد تخفیف
        required: false
        type: string
      - name: offset
        in: query
        description: شماره ابتدا لیست
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        description: شماره انتها لیست
        required: false
        type: integer
        format: int32
      - name: code
        in: path
        required: true
        type: string
      responses:
        '200':
          description: لیست خریدهای این کد تخفیف با موفقیت نمایش داده شد
          schema:
            type: array
            items:
              "$ref": "#/definitions/CouponListItemViewModel"
  "/v1/permaLink":
    post:
      tags:
      - permaLink
      summary: ساخت یک لینک ثابت جدید
      operationId: V1PermaLinkPost
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: model
        in: body
        description: مشخصات لینک ثابت
        required: false
        schema:
          "$ref": "#/definitions/PermanentCreateViewModel"
      responses:
        '200':
          description: لینک ثابت با موفقیت ساخته شد
          schema:
            "$ref": "#/definitions/CodeVM"
    put:
      tags:
      - permaLink
      summary: بروزرسانی لینک ثابت
      operationId: V1PermaLinkPut
      consumes:
      - application/json
      produces: []
      parameters:
      - name: model
        in: body
        description: مشخصات لینک ثابت
        required: false
        schema:
          "$ref": "#/definitions/PermanentEditViewModel"
      responses:
        '200':
          description: لینک ثابت با موفقیت بروزرسانی شد
        '404':
          description: لینک ثابتی با این شناسه وجود ندارد
  "/v1/permaLink/{code}":
    get:
      tags:
      - permaLink
      summary: نمایش یک لینک ثابت
      operationId: V1PermaLinkByCodeGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: code
        in: path
        description: شناسه لینک ثابت
        required: true
        type: string
      responses:
        '200':
          description: لینک ثابت با موفقیت نمایش داده شد
          schema:
            "$ref": "#/definitions/PermanentDetailViewModel"
        '404':
          description: لینک ثابتی با این شناسه وجود ندارد
    delete:
      tags:
      - permaLink
      summary: حذف یک لینک ثابت
      operationId: V1PermaLinkByCodeDelete
      consumes: []
      produces: []
      parameters:
      - name: code
        in: path
        description: شناسه لینک ثابت
        required: true
        type: string
      responses:
        '200':
          description: لینک ثابت با موفقیت حذف شد
        '404':
          description: لینک ثابتی با این شناسه وجود ندارد
  "/v1/permaLink/List":
    get:
      tags:
      - permaLink
      summary: نمایش لیست لینک‌های ثابت
      operationId: V1PermaLinkListGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: offset
        in: query
        description: شماره ابتدا لیست
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        description: شماره انتها لیست
        required: false
        type: integer
        format: int32
      - name: witharchived
        in: query
        description: اضافه شدن لینک‌های ثابت‌ آرشیو شده
        required: false
        type: boolean
      - name: search
        in: query
        description: کیلدواژه جستجو در لینک‌های ثابت
        required: false
        type: string
      responses:
        '200':
          description: لیست لینک‌های ثابت‌ با موفقیت نمایش داده شد
          schema:
            type: array
            items:
              "$ref": "#/definitions/PermanentListItemViewModel"
  "/v1/permaLink/ListCount":
    get:
      tags:
      - permaLink
      summary: دریافت تعداد لینک‌های ثابت
      operationId: V1PermaLinkListCountGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: witharchived
        in: query
        required: false
        type: boolean
      - name: search
        in: query
        required: false
        type: string
      responses:
        '200':
          description: تعداد لینک‌های ثابت با موفقیت نمایش داده شد
          schema:
            "$ref": "#/definitions/CountVM"
  "/v1/permaLink/{payCode}/BuyersList":
    get:
      tags:
      - permaLink
      summary: دریافت لیست پرداخت‌های انجام شده یک لینک‌ثابت
      operationId: V1PermaLinkByPayCodeBuyersListGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: payCode
        in: path
        description: کد پرداخت
        required: true
        type: string
      - name: offset
        in: query
        description: شماره ابتدا لیست
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        description: شماره انتها لیست
        required: false
        type: integer
        format: int32
      responses:
        '200':
          description: لیست با موفقیت نمایش داده شد
          schema:
            type: array
            items:
              "$ref": "#/definitions/ProductBuyerViewModel"
  "/v1/permaLink/{payCode}/BuyersListCount":
    get:
      tags:
      - permaLink
      summary: دریافت تعداد پرداختی‌های یک آیتم‌مالی
      operationId: V1PermaLinkByPayCodeBuyersListCountGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: payCode
        in: path
        required: true
        type: string
      responses:
        '200':
          description: تعداد پرداختی‌های یک آیتم‌مالی با موفقیت نمایش داده شد
          schema:
            "$ref": "#/definitions/CountVM"
  "/v1/permaLink/{payCode}/Buyer":
    get:
      tags:
      - permaLink
      summary: دریافت جزئیات پرداخت یک آیتم‌مالی
      operationId: V1PermaLinkByPayCodeBuyerGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: payCode
        in: path
        description: کد پرداخت
        required: true
        type: string
      responses:
        '200':
          description: جزئیات پرداخت یک آیتم‌مالی با موفقیت نمایش داده شد
          schema:
            "$ref": "#/definitions/BuyerDetailsViewModel"
  "/v1/product":
    post:
      tags:
      - product
      summary: ساخت یک آیتم‌ مالی جدید
      operationId: V1ProductPost
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: model
        in: body
        description: مشخصات آیتم مالی
        required: false
        schema:
          "$ref": "#/definitions/ProductCreateViewModel"
      responses:
        '200':
          description: آیتم مالی با موفقیت ساخته شد
          schema:
            "$ref": "#/definitions/CodeVM"
    put:
      tags:
      - product
      summary: بروزرسانی آیتم مالی
      operationId: V1ProductPut
      consumes:
      - application/json
      produces: []
      parameters:
      - name: model
        in: body
        description: مشخصات آیتم مالی
        required: false
        schema:
          "$ref": "#/definitions/ProductEditViewModel"
      responses:
        '200':
          description: آیتم‌ مالی با موفقیت بروزرسانی شد
        '404':
          description: آیتم مالی با این کد موجود نمی‌باشد
  "/v1/product/{code}":
    get:
      tags:
      - product
      summary: نمایش یک آیتم مالی
      operationId: V1ProductByCodeGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: code
        in: path
        description: کد آیتم مالی
        required: true
        type: string
      responses:
        '200':
          description: آیتم مالی با موفقیت نمایش داده شد
          schema:
            "$ref": "#/definitions/ProductFullDeatilViewModel"
        '404':
          description: آیتم مالی با این کد موجود نمی‌باشد
    delete:
      tags:
      - product
      summary: حذف یک آیتم مالی
      operationId: V1ProductByCodeDelete
      consumes: []
      produces: []
      parameters:
      - name: code
        in: path
        description: کد آیتم مالی
        required: true
        type: string
      responses:
        '200':
          description: آیتم مالی با موفقیت حذف شد
        '404':
          description: آیتم مالی با این کد موجود نمی‌باشد
  "/v1/product/List":
    get:
      tags:
      - product
      summary: دریافت لیست آیتم‌های مالی
      operationId: V1ProductListGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: offset
        in: query
        description: شماره ابتدا لیست
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        description: شماره انتها لیست
        required: false
        type: integer
        format: int32
      - name: witharchived
        in: query
        description: اضافه شدن آیتم‌های آرشیو شده
        required: false
        type: boolean
      - name: search
        in: query
        description: کیلدواژه جستجو در آیتم‌های مالی
        required: false
        type: string
      responses:
        '200':
          description: لیست آیتم‌های مالی با موفقیت نمایش داده شد
          schema:
            type: array
            items:
              "$ref": "#/definitions/ProductListItemViewModel"
  "/v1/product/ListCount":
    get:
      tags:
      - product
      summary: دریافت تعداد آیتم‌های مالی
      operationId: V1ProductListCountGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: witharchived
        in: query
        required: false
        type: boolean
      - name: search
        in: query
        required: false
        type: string
      responses:
        '200':
          description: تعداد آیتم‌های مالی با موفقیت نمایش داده شد
          schema:
            "$ref": "#/definitions/CountVM"



  "/v1/Upload/ProfiePic":
    post:
      tags:
      - Upload
      summary: آپلود عکس پروفایل کاربری
      description: "محدودیت‌های فایل‌های ورودی:\r\n\r\nJPG, PNG, JPEG"
      operationId: V1UploadProfiePicPost
      consumes:
      - multipart/form-data
      produces: []
      parameters:
      - name: file
        in: formData
        description: Upload File
        required: true
        type: file
      responses:
        '200':
          description: عکس کاربر با موفقیت آپلود شد
  "/v1/Upload/Item":
    post:
      tags:
      - Upload
      summary: آپلود عکس یک آیتم‌مالی
      description: "محدودیت‌های فایل‌های ورودی:\r\n\r\nJPG, PNG, JPEG"
      operationId: V1UploadItemPost
      consumes:
      - multipart/form-data
      produces: []
      parameters:
      - name: file
        in: formData
        description: Upload File
        required: true
        type: file
      responses:
        '200':
          description: عکس آیتم‌مالی با موفقیت آپلود شد
  "/v1/Upload/InvoiceAttachment":
    post:
      tags:
      - Upload
      summary: آپلود فایل‌ ضمیمه یک فاکتور
      description: "محدودیت‌های فایل‌های ورودی:\r\n\r\nمحدودیت ندارد."
      operationId: V1UploadInvoiceAttachmentPost
      consumes:
      - multipart/form-data
      produces: []
      parameters:
      - name: file
        in: formData
        description: Upload File
        required: true
        type: file
      responses:
        '200':
          description: فایل ضمیمه فاکتور با موفقیت آپلود شد


definitions:





  CreatePaymentViewModel:
    type: object
    properties:
      payerName:
        type: string
        description: >-
            نام پرداخت‌کننده
      amount:
        format: int32
        maximum: 50000000
        minimum: 100
        type: integer
      payerIdentity:
        type: string
        description: شماره تلفن یا ایمیل پرداخت کننده - اختیاری
      returnUrl:
        type: string
      description:
        type: string
      clientRefId:
        type: string
  PaymentResult:
    type: object
    properties:
      code:
        type: string
  CreateMultiPaymentViewModel:
    type: object
    properties:
      pairs:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/MultiPayPair"
      returnUrl:
        type: string
      description:
        type: string
      clientRefId:
        type: string
  MultiPayPair:
    type: object
    properties:
      amount:
        format: int32
        maximum: 50000000
        minimum: 100
        type: integer
      name:
        type: string
      userName:
        type: string
      description:
        type: string
  VerifyPaymentViewModel:
    required:
    - refId
    type: object
    properties:
      refId:
        type: string
      amount:
        format: int32
        maximum: 50000000
        minimum: 100
        type: integer
  PPPaymentDetailsVM:
    type: object
    properties:
      userId:
        format: int32
        type: integer
      amount:
        format: int32
        type: integer
      description:
        type: string
      payerName:
        type: string
  TransactionReportModel:
    type: object
    properties:
      offset:
        format: int32
        type: integer
      limit:
        format: int32
        type: integer
      clientsInfos:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/ClientsInfo"
      filter:
        uniqueItems: false
        type: array
        items:
          type: string
      transactionType:
        format: int32
        enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
        type: integer
      fromDate:
        format: date-time
        type: string
      toDate:
        format: date-time
        type: string
  ClientsInfo:
    type: object
    properties:
      clientId:
        type: string
      clientRefId:
        type: string
  TransactionReportViewModel:
    type: object
    properties:
      amount:
        format: int32
        type: integer
      ipgTokenDate:
        format: date-time
        type: string
      payDate:
        format: date-time
        type: string
      isPaid:
        type: boolean
      description:
        type: string
      payerName:
        type: string
      payerIdentity:
        type: string
      isRequest:
        type: boolean
      code:
        type: string
      clientId:
        type: string
      clientRefId:
        type: string
      invoiceNo:
        type: string
      userId:
        format: int32
        type: integer
      payerId:
        format: int32
        type: integer
      createdDate:
        format: date-time
        type: string
      avatar:
        type: string
  BaseTransactionReport:
    type: object
    properties:
      clientsInfos:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/ClientsInfo"
      filter:
        uniqueItems: false
        type: array
        items:
          type: string
      transactionType:
        format: int32
        enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
        type: integer
      fromDate:
        format: date-time
        type: string
      toDate:
        format: date-time
        type: string
  ResultVM:
    type: object
    properties:
      result:
        format: int64
        type: integer
  PaymentDetailsVM:
    type: object
    properties:
      amount:
        format: int32
        type: integer
      reqDate:
        format: date-time
        type: string
      payDate:
        format: date-time
        type: string
      repayDate:
        format: date-time
        type: string
      isBusiness:
        type: boolean
      isRequest:
        type: boolean
      isPaid:
        type: boolean
      description:
        type: string
      payerName:
        type: string
      payerIdentity:
        type: string
      platform:
        type: string
      browser:
        type: string
      payerId:
        format: int32
        type: integer
      rrn:
        type: string
      clientId:
        type: string
      clientRefId:
        type: string
      userId:
        format: int32
        type: integer
      avatar:
        type: string
      invoiceNo:
        type: string
        readOnly: true
  CreateRequestViewModel:
    type: object
    properties:
      name:
        type: string
      amount:
        format: int32
        maximum: 50000000
        minimum: 100
        type: integer
      payerIdentity:
        type: string
      returnUrl:
        type: string
      description:
        type: string
      clientRefId:
        type: string
  RequestResult:
    type: object
    properties:
      code:
        type: string
  CreateMultiRequestViewModel:
    type: object
    properties:
      pairs:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/MultiPayPair"
      returnUrl:
        type: string
      description:
        type: string
      clientRefId:
        type: string
  MultiRequestViewModel:
    type: object
    properties:
      username:
        type: string
      code:
        type: string
  WithdrawResult:
    type: object
    properties:
      code:
        type: string
  WithdrawDetailsViewModel:
    type: object
    properties:
      amount:
        format: int32
        type: integer
      reqDate:
        format: date-time
        type: string
      isRepaid:
        type: boolean
      repayDate:
        format: date-time
        type: string





















  AddressBookListItemViewModel:
    type: object
    properties:
      code:
        type: string
      email:
        type: string
      phone:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      businessName:
        type: string
  ListCountViewModel:
    type: object
    properties:
      count:
        format: int32
        type: integer
  AddressBookDetailViewModel:
    required:
    - firstName
    - lastName
    type: object
    properties:
      code:
        type: string
      userPhotoFileId:
        type: string
      userPhotoFileAddress:
        type: string
      email:
        type: string
      phone:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      businessName:
        type: string
      additionalInfo:
        type: string
      zipCode:
        type: string
      state:
        type: string
      city:
        type: string
      location:
        type: string
      memo:
        type: string
      isBusiness:
        type: boolean
      nationalId:
        type: string
  AddressBookEditViewModel:
    required:
    - code
    - phone
    - firstName
    - lastName
    type: object
    properties:
      code:
        type: string
      userPhotoFileId:
        type: string
      userPhotoFileAddress:
        type: string
      email:
        type: string
      phone:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      businessName:
        type: string
      additionalInfo:
        type: string
      zipCode:
        type: string
      state:
        type: string
      city:
        type: string
      location:
        type: string
      memo:
        type: string
      isBusiness:
        default: false
        type: boolean
      nationalId:
        type: string
  AddressBookCreateViewModel:
    required:
    - phone
    - firstName
    - lastName
    type: object
    properties:
      userPhotoFileId:
        type: string
      email:
        type: string
      phone:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      businessName:
        type: string
      additionalInfo:
        type: string
      zipCode:
        type: string
      state:
        type: string
      city:
        type: string
      location:
        type: string
      memo:
        type: string
      isBusiness:
        default: false
        type: boolean
      nationalId:
        type: string
  InvoiceDashboardReportViewModel:
    type: object
    properties:
      draftAmount:
        format: double
        type: number
      paidAmount:
        format: double
        type: number
      unpaidAmount:
        format: double
        type: number
      expiredAmount:
        format: double
        type: number
      cancelAmount:
        format: double
        type: number
      draftAmountStr:
        type: string
      paidAmountStr:
        type: string
      unpaidAmountStr:
        type: string
      expiredAmountStr:
        type: string
      cancelAmountStr:
        type: string
  ScheduleInvoiceWithChilds:
    type: object
    properties:
      parentInvoice:
        "$ref": "#/definitions/InvoiceDetailViewModel"
      childInvoices:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/InvoiceDetailViewModel"
  InvoiceDetailViewModel:
    type: object
    properties:
      code:
        type: string
      parentCode:
        type: string
      paymentCode:
        type: string
      ccToes:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/InvoiceCcToDetailViewModel"
      billToes:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/InvoiceBillToDetailViewModel"
      status:
        format: int32
        enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
        type: integer
      paidManualDescription:
        type: string
      saveToTemplate:
        type: boolean
      invoiceNumber:
        format: int32
        type: integer
      invoiceTitle:
        type: string
      invoiceDateTime:
        format: date-time
        type: string
      dueDate:
        format: date-time
        type: string
      payedDateTime:
        format: date-time
        type: string
      canceledDateTime:
        format: date-time
        type: string
      amountDue:
        format: double
        type: number
      subTotal:
        format: double
        type: number
      itemDiscounts:
        format: double
        type: number
      totalDiscountAmount:
        format: double
        type: number
      totalDiscountPercent:
        format: int32
        type: integer
      totalDiscountType:
        format: int32
        enum:
        - 0
        - 1
        type: integer
      totalDiscountCouponCode:
        type: string
      totalTaxtionAmount:
        format: double
        type: number
      totalTaxtionPercent:
        format: int32
        type: integer
      totalTaxtionType:
        format: int32
        enum:
        - 0
        - 1
        type: integer
      shipping:
        format: double
        type: number
      total:
        format: double
        type: number
      notes:
        type: string
      termsAndConditions:
        type: string
      memo:
        type: string
      invoiceSchulder:
        "$ref": "#/definitions/InvoiceSchulderDetailViewModel"
      invoiceItems:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/InvoiceItemDetailViewModel"
      isSendAttachmentsAfterPayment:
        type: boolean
      isSendNotesAndTermsAfterPayment:
        type: boolean
      attachFileIds:
        uniqueItems: false
        type: array
        items:
          type: string
      attachFileAddresses:
        uniqueItems: false
        type: array
        items:
          type: string
      qrCodeFileName:
        type: string
  InvoiceCcToDetailViewModel:
    type: object
    properties:
      emailAddress:
        type: string
  InvoiceBillToDetailViewModel:
    type: object
    properties:
      addressBook:
        "$ref": "#/definitions/AddressBookDetailViewModel"
  InvoiceSchulderDetailViewModel:
    type: object
    properties:
      repeat:
        format: int32
        type: integer
      schulderType:
        format: int32
        enum:
        - 0
        - 1
        - 2
        - 3
        type: integer
      dueType:
        format: int32
        enum:
        - 0
        - 1
        - 2
        type: integer
      endValue:
        type: string
      dueDateAfterHowManyDay:
        format: int32
        type: integer
      invoiceSubSchulders:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/InvoiceSubSchulderDetailViewModel"
  InvoiceItemDetailViewModel:
    type: object
    properties:
      code:
        type: string
      name:
        type: string
      description:
        type: string
      quantity:
        format: int32
        type: integer
      discountType:
        format: int32
        enum:
        - 0
        - 1
        type: integer
      discountPercent:
        format: int32
        type: integer
      discountAmount:
        format: double
        type: number
      tax:
        type: boolean
      taxRate:
        format: int32
        type: integer
      price:
        format: double
        type: number
      totalPrice:
        format: double
        type: number
      amount:
        format: double
        type: number
  InvoiceSubSchulderDetailViewModel:
    type: object
    properties:
      dueDate:
        format: date-time
        type: string
      mustBeCreateInDateTime:
        format: date-time
        type: string
      deActiveDateTime:
        format: date-time
        type: string
      isInvoiceCreated:
        type: boolean
      isActive:
        type: boolean
      invoiceCode:
        type: string
  InvoiceListItemViewModel:
    type: object
    properties:
      code:
        type: string
      invoiceNumber:
        format: int32
        type: integer
      invoiceDateTime:
        format: date-time
        type: string
      dueDate:
        format: date-time
        type: string
      payedDateTime:
        format: date-time
        type: string
      canceledDateTime:
        format: date-time
        type: string
      invoiceTitle:
        type: string
      status:
        format: int32
        enum:
        - 0
        - 1
        - 2
        - 3
        - 4
        - 5
        type: integer
      total:
        format: double
        type: number
      ccToes:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/InvoiceCcToListItemViewModel"
      billToes:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/InvoiceBillToListItemViewModel"
  InvoiceCcToListItemViewModel:
    type: object
    properties:
      emailAddress:
        type: string
  InvoiceBillToListItemViewModel:
    type: object
    properties:
      addressBook:
        "$ref": "#/definitions/AddressBookListItemViewModel"
  InvoiceEditViewModel:
    required:
    - code
    type: object
    properties:
      code:
        type: string
      ccToes:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/InvoiceCcToCreateOrUpdateViewModel"
      billToes:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/InvoiceBillToCreateOrUpdateViewModel"
      createStatus:
        format: int32
        enum:
        - 0
        - 1
        - 2
        type: integer
      paidManualDescription:
        default: ''
        type: string
      saveToTemplate:
        default: false
        type: boolean
      templateCode:
        default: ''
        type: string
      invoiceNumber:
        format: int32
        type: integer
      invoiceTitle:
        type: string
      invoiceDateTime:
        format: date-time
        type: string
      dueDate:
        format: date-time
        type: string
      totalDiscountValue:
        format: double
        type: number
      totalDiscountType:
        format: int32
        enum:
        - 0
        - 1
        type: integer
      totalDiscountCouponCode:
        type: string
      totalTaxtionValue:
        format: double
        type: number
      totalTaxtionType:
        format: int32
        enum:
        - 0
        - 1
        type: integer
      shipping:
        format: double
        type: number
      notes:
        default: ''
        type: string
      termsAndConditions:
        default: ''
        type: string
      memo:
        default: ''
        type: string
      invoiceItems:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/InvoiceItemCreateViewModel"
      isSendAttachmentsAfterPayment:
        default: false
        type: boolean
      isSendNotesAndTermsAfterPayment:
        default: false
        type: boolean
      attachmentsIds:
        uniqueItems: false
        type: array
        items:
          type: string
      isDevicePayment:
        default: false
        type: boolean
  InvoiceCcToCreateOrUpdateViewModel:
    type: object
    properties:
      emailAddress:
        default: ''
        type: string
  InvoiceBillToCreateOrUpdateViewModel:
    type: object
    properties:
      addressBookCode:
        default: ''
        type: string
  InvoiceItemCreateViewModel:
    type: object
    properties:
      code:
        default: ''
        type: string
      name:
        default: ItemName_1
        type: string
      description:
        default: ''
        type: string
      tax:
        default: false
        type: boolean
      quantity:
        format: int32
        default: 1
        type: integer
      discountValue:
        format: double
        type: number
      discountType:
        format: int32
        enum:
        - 0
        - 1
        type: integer
      discountCouponCode:
        type: string
      price:
        format: double
        default: 0
        type: number
  InvoiceSendByTemplate:
    required:
    - templateCode
    type: object
    properties:
      templateCode:
        type: string
      ccToes:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/InvoiceCcToCreateOrUpdateViewModel"
      billToes:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/InvoiceBillToCreateOrUpdateViewModel"
      isDevicePayment:
        default: false
        type: boolean
  InvoiceCreateViewModel:
    type: object
    properties:
      ccToes:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/InvoiceCcToCreateOrUpdateViewModel"
      billToes:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/InvoiceBillToCreateOrUpdateViewModel"
      createStatus:
        format: int32
        enum:
        - 0
        - 1
        - 2
        type: integer
      paidManualDescription:
        default: ''
        type: string
      saveToTemplate:
        default: false
        type: boolean
      templateCode:
        default: ''
        type: string
      invoiceNumber:
        format: int32
        type: integer
      invoiceTitle:
        type: string
      invoiceDateTime:
        format: date-time
        type: string
      dueDate:
        format: date-time
        type: string
      totalDiscountValue:
        format: double
        type: number
      totalDiscountType:
        format: int32
        enum:
        - 0
        - 1
        type: integer
      totalDiscountCouponCode:
        type: string
      totalTaxtionValue:
        format: double
        type: number
      totalTaxtionType:
        format: int32
        enum:
        - 0
        - 1
        type: integer
      shipping:
        format: double
        type: number
      notes:
        default: ''
        type: string
      termsAndConditions:
        default: ''
        type: string
      memo:
        default: ''
        type: string
      invoiceItems:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/InvoiceItemCreateViewModel"
      isSendAttachmentsAfterPayment:
        default: false
        type: boolean
      isSendNotesAndTermsAfterPayment:
        default: false
        type: boolean
      attachmentsIds:
        uniqueItems: false
        type: array
        items:
          type: string
      isDevicePayment:
        default: false
        type: boolean
  InvoiceCreateScheduleViewModel:
    type: object
    properties:
      ccToes:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/InvoiceCcToCreateOrUpdateViewModel"
      billToes:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/InvoiceBillToCreateOrUpdateViewModel"
      createStatus:
        format: int32
        enum:
        - 1
        - 2
        type: integer
      paidManualDescription:
        default: ''
        type: string
      saveToTemplate:
        default: false
        type: boolean
      templateCode:
        default: ''
        type: string
      invoiceNumber:
        format: int32
        type: integer
      invoiceTitle:
        type: string
      invoiceDateTime:
        format: date-time
        type: string
      dueDate:
        format: date-time
        type: string
      totalDiscountValue:
        format: double
        type: number
      totalDiscountType:
        format: int32
        enum:
        - 0
        - 1
        type: integer
      totalDiscountCouponCode:
        type: string
      totalTaxtionValue:
        format: double
        type: number
      totalTaxtionType:
        format: int32
        enum:
        - 0
        - 1
        type: integer
      shipping:
        format: double
        type: number
      notes:
        default: ''
        type: string
      termsAndConditions:
        default: ''
        type: string
      memo:
        default: ''
        type: string
      invoiceSchulder:
        "$ref": "#/definitions/InvoiceSchulderCreateOrUpdateViewModel"
      invoiceItems:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/InvoiceItemCreateViewModel"
      isSendAttachmentsAfterPayment:
        default: false
        type: boolean
      isSendNotesAndTermsAfterPayment:
        default: false
        type: boolean
      attachmentsIds:
        uniqueItems: false
        type: array
        items:
          type: string
      isDevicePayment:
        default: false
        type: boolean
  InvoiceSchulderCreateOrUpdateViewModel:
    type: object
    properties:
      repeat:
        format: int32
        default: 1
        type: integer
      schulderType:
        format: int32
        default: 0
        enum:
        - 0
        - 1
        - 2
        - 3
        type: integer
      dueType:
        format: int32
        default: 0
        enum:
        - 0
        - 1
        - 2
        type: integer
      endValue:
        default: '1'
        type: string
      dueDateAfterHowManyDay:
        format: int32
        default: 2
        type: integer
  InvoicePdfResponseViewModel:
    type: object
    properties:
      success:
        type: boolean
      message:
        type: string
      fileAddress:
        type: string
  InvoiceCancelRequest:
    required:
    - code
    type: object
    properties:
      code:
        type: string
      previewKey:
        type: string
  InvoiceCancelResponse:
    type: object
    properties:
      code:
        type: string
      message:
        type: string
  InvoiceSendReminderResponseViewModel:
    type: object
    properties:
      success:
        type: boolean
      message:
        type: string
      modelCode:
        type: string
      modelId:
        format: int32
        type: integer
  InvoiceSendInvoiceResponseViewModel:
    type: object
    properties:
      success:
        type: boolean
      message:
        type: string
      modelCode:
        type: string
      modelId:
        format: int32
        type: integer
  InvoiceTemplateListItemViewModel:
    type: object
    properties:
      code:
        type: string
      templateName:
        type: string
      hasSchulder:
        type: boolean
  InvoiceTemplateDetailViewModel:
    type: object
    properties:
      code:
        type: string
      templateName:
        type: string
      subTotal:
        format: double
        type: number
      itemDiscounts:
        format: double
        type: number
      totalDiscountAmount:
        format: double
        type: number
      totalDiscountPercent:
        format: int32
        type: integer
      totalDiscountType:
        format: int32
        enum:
        - 0
        - 1
        type: integer
      totalDiscountCouponCode:
        type: string
      totalTaxtionAmount:
        format: double
        type: number
      totalTaxtionPercent:
        format: int32
        type: integer
      totalTaxtionType:
        format: int32
        enum:
        - 0
        - 1
        type: integer
      shipping:
        format: double
        type: number
      total:
        format: double
        type: number
      notes:
        type: string
      termsAndConditions:
        type: string
      memo:
        type: string
      invoiceTemplateItems:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/InvoiceTemplateItemIndexViewModel"
      invoiceSchulder:
        "$ref": "#/definitions/InvoiceTemplateSchulderIndexViewModel"
      attachFileAddresses:
[...]
